﻿/****************************/
/* CUSTOM STYLE CSS         */
/****************************/
/* 
Put your custom css and css overrides in this file.  By restricting 
your css changes to custom-style.css, your changes will not be overwritten 
when upgrading to a new version of this theme.

Steps to customize your 0 Point theme:                       
1. Add your custom css to this file                
2. Uncomment different examples and modify data as you wish 
3. Clear cached data at admin/settings/performance 
4. Save this file with a different name to avoid loosing it after a theme update.
*/
/****************************/

/* Erase or comment the lines below to get rid of the image in the right sidebar 
 * and the brand image or choose another image and change the path instead. */
body{
	font-family: "ＭＳ Ｐゴシック","MS P Gothic","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,Osaka,sans-serif;
	font-size: 81.3%;   /*13px*/
}
.fs11{
	font-size:84.6% !important;
}
.fs13{
	font-size:100% !important;
}
.wauto{
	width:auto !important;
}
.left{ 
	float:left;
}
.right{ 
	float:right;
}
.tar{
	text-align:right !important;
}
.tal{
	text-align:left;
}
.tac{
	text-align:center;
}
.b{
	font-weight:bold;
}
.clear{ 
	clear:both; 
	height: 0;
	margin: 0;
	padding:0;
	font-size: 0px;
	line-height: 0;
}
.nowrap{
	white-space: nowrap;
}
#wrapper {
	/*background: transparent url(../images/all/_sidebarimg.png) 99% 99% no-repeat;*/
}

#brand {
	background: url(../images/all/_brand.png) 50% 30% no-repeat;
	position: relative;
	margin: 5px auto 0;
	width: 250px;
	height: 50px;
}

/************************/
/* HEADER IMAGE ROTATOR */
/************************/
.himg #headimg {
	background: #fff url(headerimg/rotate.php) no-repeat 100% 100%; /* rotates images in the headerimg folder */
	border-bottom: 1px solid #eee;
}

/********************/
/* DROP DOWN SHADOW */
/********************/

ul.firstsublayer, 
ul.sublayer {
	/*background: url(../images/menushadow.png) no-repeat 7px 5px; */
	width:185px;
}




/* Uncomment the first declaration below to hide the titles on the front page 
 * Addapt the second declaration to hide a certain title. 
 * Third one is for no "Read more" on the first page. */ 
/*
.front h2 a {
	display: none;
}
.front #node-XXX h2 a {
	display: none;
}
.front .node_read_more {
	display: none;
}
*/


/*******************************/
/* CUSTOM FIXED or FLUID WIDTH */
/*******************************/ 
/* First choose "Custom Layout width" in 0 Point settings page.
 * Uncomment the lines below and modify the value as you wish. 
 * E.g. 1000px for fixed width or 85% for fluid width */
/*
body.layout-fluid .sizer {
	width: 90%;
}
*/
body.layout-fixed .sizer0 {
	width: 1008px;
}
body.layout-fixed #top_right, 
body.layout-fixed #body_right {
    padding: 0 24px;
}


/*******************************/
/* CUSTOM Equal width sidebars */
/*******************************/ 
/* First choose "Equal width sidebars" in 0 Point settings page.
 * Uncomment the lines below and modify the values keeping pair values. */
/*
body.l-m-r-eq .colleft, body.m-r-eq .colleft, body.l-m-eq .colleft {
	width: 199px;
	margin-left: -199px;
}
body.l-m-r-eq .colright, body.m-r-eq .colright, body.l-m-eq .colright {
	width: 199px;
	margin-right: -199px;
}
body.l-m-r-eq .outer, body.l-m-eq .outer, body.l-m-eq .outer {
	margin-left: 199px;
}
body.l-m-r-eq .outer, body.m-r-eq .outer, body.m-r-eq .outer {
	margin-right: 199px;
}
body.l-m-eq .colleft {
	width: 199px;
	margin-left: -199px;
}
body.m-r-eq .colright {
	width: 199px;
	margin-right: -199px;
}
*/


/******************************/
/* SPECIAL STATIC-MENU COLORS */
/******************************/

/* Uncomment this to have different colors (and chooose them) for first and last menu items. */
/*
#navlist li.first a {
	background: #D0932C;
}
#navlist li.last a {
	background: #BF5D8C;
}
*/


/* Change the values below accordingly: XXX=menu numer; YYY=background color. */
/*
#navlist li.menu-XXX a {
	background: #YYY;
}
*/


/*******************************/
/* UPDATE ICONS FOR NEW BLOCKS */
/*******************************/
/* where XXX is the block number */

/*
#block-block-XXX .block-icon {
background: transparent url(../images/contact_48.png) no-repeat;
}
*/
#main{
	padding:10px 30px 10px 60px;
}
.tab {
    display: block;
}
#sidebar-right {
    margin: 13px 60px 20px 0;   /*20 60 20 0*/
}
#above {
    background: #FFF;
}
#above .left img{
	width:140px;
	margin-top: 10px;
	height: 29px;
}
a:hover {
	color:#e20177;
}
#footer a:hover{
	color:#e20177 !important;
}
.not-front #main{
	padding:10px 60px;
}
.layout-main-right #main{
	padding:10px 30px 10px 60px;
}
#breadcrumb {
	padding:0 60px;
}

.themed-blobk{
	margin-bottom:17px;
}
/* Top Links Icons */
.icon-print{
	background: url("../images/icons/print.png") no-repeat left center;
    padding-left: 20px;
}
.icon-contact{
    background: url("../images/icons/mail.png") no-repeat left center;
	padding-left: 20px;
}
.icon-sitemap{
    padding-left: 20px;
}

/* Blocks Style */
#banner-block {
    margin: 0 60px 25px !important;
    padding: 10px 10px 0 !important;
    border: 1px solid #DDD;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#fff;
	zoom:1;
}
#banner-block .content {
	padding: 0 45px;
}
#banner-block .left{
    float: left;
    padding: 20px 28px 10px 10px;
    width: 150px;
}
#banner-block .last{
	padding-right:0;
}
#banner-block img{
	background: #FFF;
    border: 1px solid #DDD;
    margin-bottom: 10px;
    width: 135px;
}
#banner-block  a.header-link{ 
	background: url("../images/icons/pink-arrow.gif") no-repeat left 3px;
    padding-left: 15px;
    text-decoration: underline;
	line-height: 18px;
}
#banner-block a:hover{
	text-decoration:none;
}
#banner-block h2{
	background: url("../images/icons/bg-line.gif") no-repeat left bottom;
	color: #000;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 1px 15px;
	font-size: 138.5%;   /*18px*/
    font-weight: bold;
    line-height: 18px;
}
#banner-block p{
	color:#000;
	font-size: 84.6%;
	margin-top:10px;
}
/* Themed block */
#sidebar-right .themed-block{
	background-image: none;
	border: 1px solid #FFFFFF;
}
#sidebar-right .themed-block .content{
    -moz-border-radius: 3px;
	border-radius: 3px;
}
#sidebar-right .content{
    background-color: #F7E1ED;
    padding-bottom: 15px;
    padding-top: 0;
}
#sidebar-right a{
	text-decoration: underline;
	font-size: 92.3%;
}
#sidebar-right .title{
    background: url("../images/bg-header-grey.gif") repeat-x scroll left top;
    color: #FFFFFF;	
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	word-wrap: break-word;
	word-break: break-all;
	font-size: 138.5%;
    padding: 5px 0 5px 10px;
    line-height: 1.5em;
}
#sidebar-right .title-border{
	border-left: 5px solid #FFFFFF;
    line-height: 18px;
    padding-left: 5px;
	display: inline-block;
}
.form-required{
	color: #E30B7B;
	font-size: 184.6%;
}
#user-login-form{
	padding: 20px 30px 0;
	text-align: right;
}
#user-login-form #edit-pass, 
#user-login-form  #edit-name{
    border: 1px solid #CCCCCC;
    float: right;
    padding: 3px;
	width: 113px;
}
#user-login-form input.error{
    border: 1px solid #E40177 !important;
}
#user-login-form  input.form-submit{
	background: url("../images/btn-empty.gif") no-repeat left top;
    border: 0 none;
    cursor: pointer;
    height: 27px;
    width: 120px;
	font-weight: bold;
}
#user-login-form .form-item{
    clear: both;
    height: 20px;
    margin-top: 0;
	margin-bottom:16px;
}
#user-login-form #edit-name-wrapper{
	margin-bottom:19px;
}
#user-login-form  input.form-submit:hover{
	background-position: left -28px;
}
#user-login-form  label{
    float: left;
    font-size: 116%;
    line-height: 153.8%;
    text-align: left;
    width: 85px;
 }
.lg-ja #user-login-form label{
	width:90px;
}
#user-login-form span{
    font-size:153.8%;
}
#user-login-form span.form-required{
	display:none;
}
#user-login-form .item-list{
	clear: both;
	text-align:left;
}
#user-login-form .item-list ul{
		margin:0 !important;
}
#sidebar-right .item-list ul li{
    list-style-image: url("../images/icons/pink-arrow.gif");
    text-decoration: underline;
}
#sidebar-right .item-list ul{
	margin: 0 0 0.75em 2em;
}
#sidebar-right h4{
    color: #E20177;
    font-size: 123%;
    font-weight: bold;
    padding: 15px 25px 0;
}
#sidebar-right p{
    line-height: 1.5em;
    margin-top: 0.5em;
    padding: 0 25px;
	word-wrap: break-word;
	word-break: break-all;
}


/* Up LInk in a bottom */
#content-bottom .up-link {
    margin: 15px 20px 5px;
    text-align: right;
	float:right;
	width:140px;
}
#content-bottom .up-link  a{
    background: url("../images/icons/up-link.gif") no-repeat right;
    color: #000;
    font-size: 77%;
    padding-right: 20px;
    text-decoration: none;
}
#content-bottom .up-link  a:hover{
    color: #535353
}
#content-bottom .block{
	padding:0;
	margin:0;
}
#content-bottom .up-desc{
    font-size: 77%;
    margin: 15px 0 5px;
    padding-left: 20px;
    width: 700px;
	float:left;
}

/* Up LInk in a bottom */
#content-bottom .up-link {
    margin: 15px 20px 5px;
    text-align: right;
	float:right;
	width:140px;
}
#content-bottom .up-link  a{
    background: url("../images/icons/up-link.gif") no-repeat right;
    color: #000;
    font-size: 77%;
    padding-right: 20px;
    text-decoration: none;
}
#content-bottom .up-link  a:hover{
    color: #535353
}
#content-bottom .block{
	padding:0;
	margin:0;
}
#content-bottom .up-desc{
    font-size: 77%;
    margin: 15px 0 5px;
    padding-left: 20px;
    width: 700px;
	float:left;
}

/*Blocks in right bottom*/
#right-bottom {
	position: relative;
	margin: 20px 60px 20px 0;
}
#right-bottom .block-block {
	padding: 6px;
	margin-bottom: 15px;
}
#right-bottom .content {
	/*padding: 0 30px 0 40px;*/
	padding: 0 25px;
}
#right-bottom ul li {
	line-height: 1.5em;
	padding: 4px 0;
	font-size: 92.3%;
}
#right-bottom ul li a {
	word-wrap: break-word;
	word-break: break-all;
	text-decoration: underline;
}

/* Buttons Style */
a.lnk-empty-butt, 
a.lnk-add,
#main .form-submit,
#node-delete-confirm .container-inline a {
    background: url("../images/btn-empty.gif") no-repeat scroll left top transparent;
    border: 0 none;
    color: #555555;
    cursor: pointer;
    display: inline-block;
	/*font-size: 107.7%; */ /*14px*/
	font-size: 	92.3%;  /*12px*/
    font-weight: bold;
    padding: 7px 0 5px 30px;
    text-decoration: none !important;
    text-transform: uppercase;
    width: 90px;
	margin-top: 15px;
	text-align: left;
	letter-spacing: 0.7px;
}
#main .form-submit{	
	font-family: "ＭＳ Ｐゴシック","MS P Gothic","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,Osaka,sans-serif;
    /*letter-spacing: 0.7px;*/	
	/*font-size: 	92.3%;*/	/*12px*/
	/*padding-top: 5px;*/
	width: 120px;
	margin-right:10px;
	margin-top: 30px;
}
.lg-ja #main  #panel-buttons .form-submit{
	width: 150px;
	background: url("../images/btn-empty-ja.gif") no-repeat scroll left top transparent;
	margin-right: 1px;
}
/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
head~body #main .form-submit { 
	padding-top: 6px; 
}
head~body #node-delete-confirm .container-inline a {
	position: relative;
	top: 1px;
}
}
/*safari5*/
/*body:nth-of-type(1) #main .form-submit {
	padding-top: 7px;
}*/
body:nth-of-type(1) #form-input  fieldset.frm-input .field-suffix{
	line-height:18px;
	display:inline-block;
    padding: 4px 0 0;
    vertical-align: top;
}
body:nth-of-type(1) #form-input fieldset.frm-input .form-item {
	clear:both;
	float: left;
}
body:nth-of-type(1) #form-input fieldset.frm-input{
	clear:left;
	padding-top:0;
}
body:nth-of-type(1) #form-input fieldset.last-item{
	clear:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
#main .form-submit {
	padding-top: 8px;
}
}

a.lnk-add{
	/*font-size:107.7%;  /*14px*/
    background: url("../images/btn-plus.gif") no-repeat scroll left top transparent;
	margin-top: 0;
}
a.lnk-empty-butt:hover, 
a.lnk-add:hover,
#main .form-submit:hover,
#main .form-submit-hover,
#node-delete-confirm .container-inline a:hover {
	color:#777;
	background-position: left -28px;
}

a.lnk-empty-butt.fs13, a.lnk-add.fs13{
    padding-top: 6px;
}
a.lnk-arrow{ 
	background: url("../images/icons/pink-arrow.gif") no-repeat left center;
    padding-left: 15px;
    text-decoration: underline;
	cursor: pointer;
}
a.lnk-arrow:hover{
	text-decoration:none;
}
a.lnk-datepicker{
	cursor: pointer;
	width:16px;
	height:16px;
	background: url("../images/icons/icon_calendar.png") no-repeat left center;
	display: block;
}

/* Content Elements*/
#main  h1, 
#main  h2, 
#main  h3{
	color:#444;
}
#main  .content h2{
	border: 2px solid #E20177;
    border-width: 0 0 2px;
	margin: 30px 0;
}
#main .content h3{
	background: url("../images/icons/bg-line.gif") no-repeat left bottom;
	padding-left: 15px;
	padding: 5px 15px 8px;
	line-height: 154%;
	margin-top: 30px;
}
#main .content ul li {
	line-height: 115%;
	padding:5px;
}
/*#main {
	color: #000;
}*/
#main  h1.title{
 	font-size: 138.5%;   /*18px*/
    margin: 10px 0 17px 0;   /*17px 0*/
	background: url("../images/bg-menunav.png") repeat-x scroll left bottom #EA6FB1;
    border: 1px solid #D53285;
	color: #fff;
	padding: 7px 0 6px 10px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.front #main  h1.title{
	margin: 10px 0;
}
.front #tabs{
	display:block;
	margin:10px 0;
}
#main  h1.title span {
	border-left: 5px solid #fff;
	padding-left: 5px;
	display: block;
	line-height: 18px;
}
#main .img-without-text {
	text-align: center;
	width: 100%;
	clear: both;
	margin: 10px 0;
	border: 3px solid #eee;
	width: 99%;
}
#main .img-with-text {
	text-align: center;
	margin: 10px 20px 10px 0;
	/*background-color: #eeeeee;*/
	float: left;
}
#main #node-middle {
	text-align: right;
    width: 100%;
	margin-right: 0;
	float: none;
	margin-top: 15px;
}
#main #node-middle .bg-print {
	background: transparent url("../images/icons/print.png") no-repeat scroll left center;
	padding-left: 20px;
	font-size: 92.3%;   /*12px*/
	text-decoration: none;
	vertical-align: bottom;
	display: inline-block;
}
#main .content p,
#sidebar-right .content,
#right-bottom .content,
#banner-block .left {                /*applied only for IE6~8*/
	text-align: justify; 
	text-justify: distribute;
}
/* Breadcrumb styles  */
#breadcrumb .breadcrumb{
	padding: 5px 0 0;   /*5px 0*/
	line-height: 12px;
}
#breadcrumb, #breadcrumb a {
	color:#777 !important;
}
#breadcrumb a{ 
	text-decoration:underline;
}

/* Forms Style( part of master table style )*/   
/* Forms Style */
#form-input #form-main-panel{
	padding: 0px !important;
	min-width: 838px;
}
#form-input #form-main-panel .panel-content{
	padding: 17px 20px 20px;
}
#form-input #form-main-panel .left{
	width:270px;
	float:left;
}
#form-input #form-main-panel .last-item{
	width:120px;
}
#form-input #form-main-panel .first-item{
	width: 130px;
}
#form-input #form-main-panel span{
	line-height: 20px;
}
#form-input #form-main-panel a.lnk-datepicker{
    float: left;
	margin: 3px;
}
#form-input #form-main-panel input.inpt-custom{
	width:60px;
}
#form-input #form-main-panel  .form-submit{
	margin-top: 15px;
}
#form-input #form-main-panel  input.disabled ,
#form-input #panel-buttons input.disabled
{
	color:#777;
	background-position: left -28px;
	cursor: auto;
}

#form-input #form-main-panel  .form-item{
	margin:0;
}
#form-input  #form-main-panel h2{
    border-bottom: 1px solid #DDD;
    margin: 0;
	padding: 8px 10px;
}
#form-input  #form-main-panel h4{
	margin: 0;
}
#form-input  #form-main-panel input.form-text, 
#form-input  select{
	border: 1px solid #999;
    font-size: 92.3%;
    padding: 2px;
    width: 240px;
}
#form-input  #form-main-panel input.form-text{
	padding:3px 2px;
}
#form-input  #form-main-panel label{
	/*font-size:85%;*/
	padding: 0 15px 0 3px;
}
#form-input  #form-main-panel  input.chbox{
	margin:0;
	border:0 !important;
}
#form-input  #form-main-panel #edit-date-wrapper input {
    width: 70px;
	margin:0;
	background:#fff;
	float: left;
}
#form-input  #form-main-panel #edit-date-wrapper img{
	margin: 2px 4px;
}
#form-input  #form-main-panel #edit-date-wrapper .form-item{
	float:left;
}
#form-input  #form-main-panel .date-period-block{
	margin-top:10px;
}
#form-input  #form-main-panel .date-period-block  span{
	padding-right:10px;
	float:left;
	width: 70px;
}
#form-input  #form-main-panel .custom-value{
	padding-left: 80px;
}
#form-input  #form-main-panel .spec-col{
    background: none repeat scroll 0 0 #EFEFEF;
    border-right: 1px solid #DDDDDD;
    height: 360px;
    margin-right: 40px;
    padding: 20px;
    width: 200px;
}
#form-input  #form-main-panel .spec-col ul{
	margin-top: 20px;
	list-style:none;
}
#form-input  .form-set{
	/*margin-bottom:30px;*/
}
#form-input #sev-level{
	margin:10px 0 15px;
}
#form-input  h2{
	font-weight:bold;
	font-size:125%;
}
#form-input  h3{
	font-weight:bold;
	font-size:117%;
}
#form-input fieldset{
	border:1px solid #ccc;
}
#form-input  table.form-table,
table.views-table{
    border: 1px solid #999;
    border-collapse: separate;
    width: 100%;
	border-spacing: 2px;
}
#form-input  table.form-table td,
#form-input  table.form-table th,
table.views-table td,
table.views-table th{
    border: 1px solid #CCC;
    border-collapse: collapse;
    margin: 1px;
    padding: 4px;
	background: #fff;
}
#form-input  table.form-table th{
    padding: 3px;
}
#form-input  table.form-table th,
table.views-table th{
	background: #ddd;
	color: #333;
	font-weight:bold;
	text-align:center;
}
#form-input  table.form-table td.sev-level-name{
	width: 185px;
}
#form-input  table.form-table td.sev-level-name,
#form-input  table.form-table td.sev-level-num
{
	background:#f7f7f7;
}
#form-input  table.form-table td.bg-total{
	background:#eee;
}
#form-input  table.form-table  a,
table.views-table a{ 
	background: url("../images/icons/pink-arrow.gif") no-repeat left center;
    padding-left: 15px;
    text-decoration: underline;
}
#form-input  table.form-table  tr.level-total td{
	background-color:#ddd;
}
#form-input  table.form-table  input{

}
#form-input #estimated,
#form-input #actual{
	margin-bottom:17px;
	clear:both;
}
#form-input #estimated .form-item{
	margin:0;
}
/*#form-input  table.form-table a:hover,
table.views-table a:hover{
	text-decoration:none;
}*/
#form-input  fieldset.left{
	float:left
}
#form-input fieldset.last-item{
	margin-right:0 !important;
}
#form-input  fieldset.frm-input{
    margin-right: 10px;
    padding: 10px 25px;
    width: 43%;
	margin-bottom: 15px;
}
#form-input fieldset.frm-input .form-item{
	margin: 8px 0;
}
#form-input  fieldset.frm-input label{
    color: #535353;
    display: block;
    float: left;
    font-weight: normal;
    width: 250px; /*170px;*/
	line-height: 17px;
	padding-right: 10px;
	text-align:left;
	word-wrap: break-word;
	word-break: normal;
}
#form-input  fieldset.frm-input .field-suffix{
	line-height:18px;
}
#form-input  fieldset.frm-input .field-suffix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#form-input  fieldset.frm-input input, 
#form-input input.small{
	width:60px;
    font-size: 84.6%;  /*11px*/
	margin-right: 10px;
}
#form-input  table.form-table input.small{
	width:37px;
	margin-right: 0;
}
#form-input  fieldset.frm-input p{
	margin:5px 0;
}
#form-input  fieldset legend{
	color: #E20177;
	font-weight: bold;
	font-size: 116%;
	padding: 0 10px;
}
#form-input .form-set .form-text{
    background: url("../images/bg-input.gif") no-repeat scroll left top #FBFBFB;
    border-color: #A8A8A8 #D8D8D8 #D8D8D8 #A8A8A8;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 4px;
}	
#form-input  input.chbox{
	width: auto !important;
	border:0 !important;
}
#form-input  .form-set h3{
    background: url("../images/bg-header-lgrey.gif") repeat-x top left;
    margin-bottom: 17px;
	color:#fff;
	/*-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;*/
	padding: 7px 15px;
	margin-top: 0px;
	zoom:1;
}
#form-input  .two-columns{
	margin: -10px 0 0;
	padding-right: 10px;
}
#form-input  .two-columns .right{
	text-align:right;
	margin-bottom:10px;
	margin-right: 9px;
}
#form-input  .two-columns .right span{
	line-height:16px;
	display:inline-block;
	padding:5px 0;
}
#form-input  .two-columns .right a{
	/*font-size: 14px;*/
    margin-top: 0;
	margin-left: 15px;
}
#form-input  #sev-level-block .two-columns .left{
	margin-right:20px;
}
#form-input  #sev-level-block .two-columns .form-item{
	margin-top:0px;
	margin-bottom:0px;
}
#form-input #total_patient-wrapper label,
#form-input #severity_level-wrapper label,
#form-input #Mandays-wrapper label{
    /*border-color: #DDD;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;*/
    color: #535353;
    display: inline;
    font-weight: normal;
    padding: 3px 10px 4px;
}
#form-input #edit-edit-compliance-rate{
	margin-top:0;
}
#form-input  .tabled-input p{
	margin:10px 0;
}
#form-input  .tabled-input span,
#form-input  .tabled-input label{
    background: #EEE;
   /* border: 1px solid #DDD;
    border-right: 0;*/
    color: #535353;
    display: block;
    float: left;
    font-weight: normal;
    padding: 3px 10px 4px;
    text-align: left;
    width: 265px;
}
#form-input  .tabled-input #Mandays-wrapper{
	margin-top:5px;
}
#form-input  .tabled-input #total_patient-wrapper{
	margin-bottom:0;
}
#form-input  .tabled-input #severity_level-wrapper{
	margin-bottom:5px;
}
#form-input #actual{
	border: 1px solid #999;
    padding: 0 5px;
    width: 455px;
}
#form-input #actual .form-item{
	margin:5px 0;
}
#form-input #actual input.form-text{
	margin-right:0px;
}
#form-input #actual_total-wrapper label{
	text-align:right;
	background: #DDD;
	font-weight:bold;
	padding: 4px 10px;
}
#actual .tabled-input .field-suffix,
#disease-list.tabled-input .field-suffix{
    background: none repeat scroll 0 0 transparent;
    clear: both;
    float: none;
    font-size: 0;
    height: 0;
    line-height: 0;
    padding: 0;
    width: 0;
}
#form-input  .tabled-input input.form-text{
	width:160px;
	margin-right: 5px;
}
#form-input  .tabled-input select{
	width:170px;
}
#form-input  input.error {
	border: 1px solid #E40177 !important;
}
#form-input  .tabled-input span.error-msg{
	color: red; 
	font-size: 84.6%;
	float:none;
	display:inline;
	background:none;
}
#form-input  .bottom-item{
	clear:both;
	text-align: right;
	padding-top: 30px;
	width:615px;
	float:right;
}
#form-input  span.titl{
	font-weight: bold;
	padding-right: 27px;
}
#form-input  .block-monthly{
	padding-left: 188px;
}
#form-input #edit-Add{
	margin-top:0;
}
#main  #form-input #edit-search-click.form-submit{
	display:none;
}
#bg2{
	/*min-width: 1100px;*/
}
#panel-buttons{
	text-align: right;
	padding-right: 19px;
}
#popup-disease input.form-text,
#popup-rate input.form-text{
	width:270px;
	border: 1px solid #999;
}
#edit-date-wrapper input,
#product-frm-input fieldset .form-text,
#total_patient-wrapper .form-text,
.tabled-input .form-text,
#estimated td .form-text {
	ime-mode: disabled;
}							
.page-ward-monthly-data-input #main div.messages ul li {        /*error message*/   
	display: inline;
}
/*#estimated .form-text:disabled, 
#estimated .form-text-disabled,
#actual .form-text:disabled,
#actual .form-text-disabled {
	border: 0 none; 
	background: #fff none;
}
#estimated .level5 .form-text:disabled, 
#estimated .level5 .form-text-disabled {
	background-color: #eee;
}
#estimated .level-total .form-text:disabled, 
#estimated .level-total .form-text-disabled {
	background-color: #ddd;
}*/

/* Master Pages*/
	/*list pages*/
#main .item-list{
	float:right;
	width:400px;
}
#main .item-list ul.pager{
    padding-top: 15px;
	text-align: right;
}
#main .item-list ul.pager li{
	-moz-border-radius: 3px;
	border-radius: 3px;
    background: none repeat scroll 0 0 #EEE;
    border: 1px solid #AAA;
    line-height: 115%;
    margin: 0;
	color:#aaa;
    margin-left: 2px;
    padding: 2px 7px;
}
#main .item-list ul.pager li.pager-current,
#main .item-list ul.pager li:hover,
#main .item-list ul.pager li:hover a{
	color: #fff;
	background: #aaa;
}
#main .item-list ul.pager li a{
	color:#777;
	text-decoration:none !important;
}
#main .new-item-link{
	float:left;
	width: 200px;
}
#main .new-item-link a{
	margin-top:10px;
}
table.views-table{
	border-spacing: 2px;
}
table.views-table .views-field-view-node,
table.views-table .views-field-edit-node,
table.views-table .views-field-delete-node {
	width: 60px;
}
#main  .messages {
	margin-top: 10px;
	/*background-color: #FFFFEA;*/
	border: 1px solid #CCCCCC;
	color: #535353;
	padding: 10px;
}
#main  .messages em {
	font-style: italic;
}
#main  div.error,
#main .node-form .form-item  input.error {
	background: #FCE5F1 none;
	border: solid 1px #E40177;
	margin-top: 0;
}

#main  div.error a{
    background: url("../images/icons/pink-arrow.gif") no-repeat left;
    text-decoration: underline;
	padding-left:20px;
	display:block;
}
#main div.error ul li  {
	display:block;
}
	/*detail pages, edit pages*/
#main .node-form fieldset,
#main .node-form .form-item,
#main .content .field{
	padding: 10px 0;
	clear:both;
}
#main .node-form fieldset,
#main .node-form .form-item {
	padding: 3px 0;
	margin: 3px 0;
}
#main .content-manual{
	border: 1px solid #ccc;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#main .node-type-page .content-manual {
	border: 0 none;
	padding: 0;
	margin: 0;
}
#main .node-form .form-item label,
#main .content .field .field-label{
    background: #EEE;
    font-weight: bold;
    line-height: 16px;
    margin-right: 10px;
    padding: 5px 15px;
    width: 250px;
	float: left;
}
#main .content .field .field-items{
	float:left;
	line-height: 16px;
	padding: 5px;
}
	/*edit pages*/
#main .node-form .form-item label {
	background-color: #fff;
}
#main .node-form .form-item .form-text{
	border: 1px solid #aaa;
	border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8;
	background: #fbfbfb url("../images/bg-input.gif") no-repeat top left;
	/*-moz-border-radius: 2px;
	border-radius: 2px;	*/
	padding: 2px;
	color: #555;
	/*float: left;*/
	width: 350px;
	/*font-size: 84.6%;*/ /*11px*/
}
#main .node-form .form-item  .form-select {
	/*border: solid 1px #aaa;
	border-color: #A8A8A8 #D8D8D8 #D8D8D8 #A8A8A8;*/
	border: 1px solid #999999;
	padding: 2px;
	/*font-size: 84.6%;*/ /*11px*/
	width: 355px;
}
#main .node-form .form-item .form-checkboxes,
#main .node-form .form-item .form-radios {
	display: inline-block;
	margin: 0;
} 
#main .node-form .form-item .form-checkboxes .form-item label.option,
#main .node-form .form-item .form-radios .form-item label.option {
	padding: 0;
	font-weight: normal;
	color: #535353;
	width: auto;
}
#main .node-form .form-item .description,
#main .node-form .form-item  #edit-path {
	clear: both;
	margin-left: 290px;
}
#main .node-form .form-item .description {
	font-size: 84.6%;   /*11px*/
}
#main .node-form .form-item  .resizable-textarea {
	float: left;
	width: 500px;
}
#main .node-form .form-item textarea {
	border: 1px solid #999999;
	padding: 2px;
	/*font-size: 84.6%;*/ /*11px*/
}
#main .preview {
	/*background-color: #FCE5F1;*/  /*light yellow: #FFFFEA*/
	padding: 15px;
	margin-top: 10px;
	border: 3px dotted #CCCCCC;  /*#EA6FB1*/
}
#main .preview .node {
	background-color: #fff; 
}
#main .node-form .form-required{
	color: #E40177;
    font-size: 184.6%;  /*24px*/
    line-height: 16px;
    vertical-align: bottom;
}
/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
head~body #main .node-form .form-required { 
	position: relative;
	top: 4px;
}
}
#main .node-form input.form-autocomplete {
	background-position: 100% 6px;
}
#main .node-form #edit-submit-1 {
	margin-left: 290px;
}
	/*delete page*/
#node-delete-confirm .container-inline a {

}

/* Tabs */
.tabs ul.tabs{
	border:0;
	text-align:right;
}
.tabs ul.tabs a{
	border:0 !important;
	padding: 4px 12px;
	text-align:center;
	background:none;
	font-weight:bold;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tabs ul.tabs a.active{
	background-color: #E40177;
	color:#fff;
	border:0;

}
/* Footer Layout */
#footer{
	padding: 12px 20px 0;
}
#bottom_bg{
	background: #76797c url("../images/bg-footer.gif") repeat-x top left;
}
#bottom_bg #footer ,
#bottom_bg #footer  a{
	color:#ddd !important;
}
body.layout-fixed #bottom_bg .sizer0{
	width:auto;
}
/* Top Links */
#top-elements {
    padding: 10px 20px 10px 0;
	width: 540px;
}
ul.top-01,
ul.top-02 {
	margin: 0 0 10px;
}
ul.top-01 li,
ul.top-02 li{
	font-size: 92%;
	display:inline;
	padding-left: 10px;
}
ul.top-02 li a.contact-us {
	background: transparent url("../images/icons/mail.png") no-repeat scroll left center;
	padding-left: 20px;
}
/* Menu Navigation */
#navlinks {
	padding:0;
	margin:0 60px;
	border-bottom:2px solid #DA0077;
	padding-top:20px;
}
#navlinks ul.menu{
	
}
#navlinks ul.menu li{
	background: #f2f2f2 url("../images/bg-menunav-grey.png") repeat-x bottom left;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #eb9bc5;
	border-bottom:0;
    padding: 0;
    width: 133px;
    margin-right:5px;
}
#navlinks ul.menu li.active-trail{
	background: #f9c8e2 url("../images/bg-menu-active.gif") repeat-x bottom left;
}
#navlinks ul.menu li.active-trail a{
	color:#777 !important;
}
#navlinks ul.menu li.active-trail li a{
	COLOR:#fff !important;
}
#navlinks ul.menu li li{
	background: #999;
	height: auto;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#navlinks ul.menu li a{
	-moz-border-radius: 0px;
	border-radius: 0px;
    /*background: url("../images/bg-circle-grey.png") no-repeat scroll left center transparent;*/
	background:none;
    display: table-cell;
    font-family: "ＭＳ Ｐゴシック","MS P Gothic","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,Osaka,sans-serif;
    font-size: 100%;
    font-weight: bold;
    height: 45px;
    line-height: 16px;
    text-align: left;
    vertical-align: middle;
	color: #ef77b6 !important;
    width: 133px;
    padding: 0 5px;
    text-align: center;
}
#navlinks ul.menu li a:hover{
	color:#777 !important;
	background-color:transparent;
}
#navlinks ul.menu li li a{
	color:#fff !important;
	display:block;
	width:auto;
	padding: 10px;
	background: url("../images/bg-menu-dropdown-grey.gif") repeat-x scroll bottom left #999;
	height:auto;
	text-align: left;
}
#navlinks ul.menu li li a:hover{
	/*background: url("../images/bg-menu-dropdown.gif") repeat-x scroll bottom left #f8c0dd;*/
	background: #f9c8e2 url("../images/bg-menu-active.gif") repeat-x bottom left;
}
#navlinks ul li.expanded a.expandfirst,
#navlinks ul li.expanded a.expandfirst:hover
{
	background-color:transparent;
	padding-left:5px;
	text-align:left;
}
#navlinks ul li.expanded  ul li{
	width: 133px;
	border-color:#838383 #959595 #777777 #959595;
	border-width:0 1px 1px 1px;
	text-align:left;
}
ul.firstsublayer{
	top:47px;
	left:-1px;
}
#navlinks.navleft ul li.last{
	margin-right:0;
}
/* Header */
#logo img {
    margin: 0 30px;
	border: 0 none;
    width: 280px;
	height: 98px;
}
#header{
	background:#e20177;
}
#logo {
    float: none;
    margin-bottom: 0px;
}
#logo a{
	padding:0;
	margin:0;
}
#above .block{
	margin:0;
	padding:10px 0 0 0;
}
#above  .right{
	text-align:right;
}

.node-type-aspcm_department #edit-title-wrapper,
.add-node-department {
	display:none;
}
