/****************************/
/* CONTENT STYLE CSS        */
/****************************/
/* 
	Styles for content only.
*/
.group-aspcm-calu-unit .field-field-aspcm-alcohol-calu-unit .field-label {
  padding-left:30px !important;
  width:205px!important;
}

.group-aspcm-calu-unit .field-field-aspcm-soap-calu-unit .field-label {
  padding-left:30px !important;
  width:205px!important;
}

.group-aspcm-calu-unit .form-radios .form-item {
  margin-left:15px;
  *margin-left:7px;
  width:220px !important;
  *width:227px !important;
}
/*
.group-aspcm-calu-unit .form-item .form-radios #edit-field-aspcm-alcohol-calu-unit-value-bottle-wrapper .option,
.group-aspcm-calu-unit .form-item .form-radios #edit-field-aspcm-alcohol-calu-unit-value-ml-wrapper .option,
.group-aspcm-calu-unit .form-item .form-radios #edit-field-aspcm-soap-calu-unit-value-bottle-wrapper .option,
.group-aspcm-calu-unit .form-item .form-radios #edit-field-aspcm-soap-calu-unit-value-ml-wrapper .option
{
  margin-left:-15px;
  z-index:9999;
  white-space: nowrap;
}
*/

fieldset.group-aspcm-calu-unit legend,
fieldset#node_aspcm_ward_form_group_aspcm_calu_unit  legend{
padding-left:13px;
*padding-left:0px;
margin-left:12px \9;
*margin-left:-10px;
font-weight:bold;
color:#222222;

}

.content-manual .group-aspcm-calu-unit legend {
padding-left:13px;
font-weight:bold;
background:#eeeeee;
width:234px;
color:#535353;
height:18px;
padding-top: 5px;
padding-bottom:5px;
}

fieldset.group-aspcm-calu-unit {
margin-top: 25px;
*margin-top:10px;
_margin-top:10px;
margin-top:7px \9;
margin-bottom:7px \9;
}

.group-aspcm-calu-unit label,
.group-aspcm-calu-unit .field-label {
  text-indent: 20px;
}

/* Blocks Style */
#content-bottom .block-views  {
    margin: 0 32px 25px !important;
    padding: 10px 20px 0 !important;
    border: 1px solid #DDD;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#fff;
	zoom:1;
}
.view-infection-manage-view {
	padding: 0 12px 10px;
}
.view-infection-manage-view ol li{
    float: left;
    padding: 10px 28px 20px 10px;
    width: 175px;
}
.view-infection-manage-view .views-row-last{
	padding-right:0;
}
.view-infection-manage-view img{
	background: #FFF;
    margin-bottom: 10px;
    width: 160px;
}
.view-infection-manage-view  a.header-link{ 
	background: url("../images/bg-icons.gif") no-repeat scroll -6px -161px transparent;
    padding-left: 15px;
    text-decoration: underline;
	line-height: 18px;
}
.view-infection-manage-view  a:hover{
	text-decoration:none;
}
.date-tar {
	text-align:right;
}
#content-bottom  h2{
	background: url("../images/bg-icons.gif") no-repeat scroll left -182px transparent;
	color: #000;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 1px 15px;
	font-size: 138.5%;   /*18px*/
    font-weight: bold;
    line-height: 18px;
}
.view-infection-manage-view  p{
	color:#000;
	font-size: 92.3%;
	margin-top:10px;
}
/* Themed block */
#sidebar-right {
   margin-top: 26px;
}
#sidebar-right .themed-block{
	padding:5px 0;
	zoom: 1;
}
.bicons48 .themed-block .title {
	text-align: left;
}
#sidebar-right .content{
    padding-bottom: 15px;
    padding-top: 0;
}
#sidebar-right a{
	text-decoration: underline;
	font-size: 92.3%;
} 
#sidebar-right .title{
	color: #222;
	word-wrap: break-word;
	word-break: break-all;
	font-size: 138.5%;
    padding: 5px 0 5px 10px;
    line-height: 1.5em;	
}
#sidebar-right .title-border{
	border-left: 5px solid #FFFFFF;
    line-height: 18px;
    padding-left: 25px;
	display: inline-block;
}
.form-required{
	color: #E30B7B;
	font-size: 184.6%;
}
#user-login-form{
	padding: 20px 30px 0;
	text-align: right;
}
#user-login-form .form-text {
    border: 1px solid #CCCCCC;
    float: right;
    padding: 3px;
	width: 147px;
}
#user-login-form input.error{
    border: 1px solid #f47b20 !important;
}
#user-login-form .form-submit {
	margin-top: 0px !important;
	width: 120px !important;
	padding: 7px 9px 5px 25px !important;
	height: 28px;
}
/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
	head~body #user-login-form .form-submit {
		padding-top: 9px !important;
	}
}
#user-login-form .form-item {
    clear: both;
    height: 20px;
    margin-top: 0;
	margin-bottom:16px;
}
#user-login-form #edit-name-wrapper {
	margin-bottom:19px;
}
#user-login-form  label {
    float: left;
    font-size: 115.4%;
    line-height: 153.8%;
    text-align: left;
    width: 85px;
 }
.lg-ja #user-login-form label {
	width:95px;
}
#user-login-form span{
    font-size:153.8%;
}
#user-login-form span.form-required {
	display:none;
}
#user-login-form .item-list{
	clear: both;
	text-align:left;
}
#user-login-form a {
	background: url("../images/bg-icons.gif") no-repeat scroll -6px -161px transparent;
	padding-left: 15px;
	text-align: left;
	line-height: 1.4;
}
#user-login-form  .frm-link {
	display: block;
}
#sidebar-right #user-login-form .item-list ul{
	margin: 0 !important;
}
#sidebar-right .item-list ul li{
	list-style: none;
	margin: 0;
}
#sidebar-right .item-list ul{
	margin: 0 0 0.75em 2em;
}
#sidebar-right h4{
    color: #E20177;
    font-size: 123%;
    font-weight: bold;
    padding: 15px 25px 0;
}
#sidebar-right p{
    line-height: 1.5em;
    margin-top: 0.5em;
    padding: 0 25px;
	word-wrap: break-word;
	word-break: break-all;
}
.info-mess{
    background: url("../images/icons/icon-info.gif") no-repeat scroll left 0 transparent;
    font-size: 12px;
    margin-left: 1px;
    padding-left: 25px;
	zoom:1;
	line-height: 18px;
	vertical-align:bottom;
}
.info-mess .form-required{
	font-size: 200% !important;
	font-weight:bold;
	vertical-align: top !important;
	padding-right:2px;
}
.info-mess .icon-plus{
    background: url("../images/bg-icons.gif") no-repeat scroll left -71px transparent;
    font-size: 14px;
    padding-left: 18px;
	zoom:1;
}
#main .node-form .info-mess, 
#user-register .info-mess, 
#user-register-form .info-mess,
#user-profile-form  .info-mess{
	margin-left: 15px;
	margin-bottom:15px;
}
#aspcm-ward-annually-data-import .info-mess{
	padding-bottom: 10px;
}
.input-page-mess{
	clear:both;
	margin-bottom: 1em;
}
.no-info-icon{
	margin-bottom:5px;
}
/*right news*/
#sidebar-right .view-content{
  padding:0px 25px;
}
#sidebar-right  .view-aspcm-important-news .views-field-title{
   margin-top: 5px;
}
#sidebar-right .view-aspcm-important-news  .views-field-field-aspcm-important-value,
#sidebar-right .view-aspcm-important-news .views-field-field-aspcm-important{
    color: #E20177;
    font-size: 123%;
    font-weight: bold;
    margin-top: 15px;
}
#sidebar-right .view-content  span a{
    font-size: 92.3%;
    text-decoration: underline;
	line-height: 1.5em;
    word-wrap: break-word;
	color: #777;
	margin-top: 0.5em;
	margin-bottom: 0.9em;
}
#sidebar-right .view-content  span a:link{
    color: #777;
}
#sidebar-right .block-views {
    background:url("../images/fill_block.png") repeat-x scroll 0 0 #F0F0F0;
}
#sidebar-right .more-links a{
     /*background: url("../images/bg-btns.gif") no-repeat 0 -58px scroll;*/
	 display: block;
	 height: 16px;
	 width: 95px;
	 text-align: left;
	 margin-left:170px;
	 text-decoration: none;
	 font-weight: bold;
	 color: #000000;
	 font-size: 108%;
	 padding-left: 25px;
	 margin-top: 10px;
	 padding-top: 5px;
}
/*Blocks in right bottom*/
#right-bottom {
	position: relative;
	margin: 20px 60px 20px 0;
}
#right-bottom .block-block {
	padding: 6px;
	margin-bottom: 15px;
}
#right-bottom .content {
	/*padding: 0 30px 0 40px;*/
	padding: 0 25px;
}
#right-bottom ul li {
	line-height: 1.5em;
	padding: 4px 0;
	font-size: 92.3%;
}
#right-bottom ul li a {
	word-wrap: break-word;
	word-break: break-all;
	text-decoration: underline;
}
/* Homapege Content */
.front .content-manual h4{
	margin-bottom: 15px;
}
/* Buttons Style */
#user-login-form .form-submit,
a.lnk-empty-butt, 
a.lnk-add,
#main .form-submit,
.ui-dialog .ui-dialog-buttonpane button,
.ui-dialog .form-submit,
#node-delete-confirm #edit-actions a,
#user-cancel-confirm-form .container-inline a,
#sidebar-right .more-links a {
    background: url("../images/bg-btns-input.gif") no-repeat scroll -233px 1px transparent;
    border: 0 none;
    color: #555555;
    cursor: pointer;
    display: inline-block;
	font-size: 	92.3%;  /*12px*/
    font-weight: bold;
	padding: 7px 9px 5px 25px;
    text-decoration: none !important;
    text-transform: uppercase;
	width: 86px;
	margin-top: 15px;
	text-align: center;
	letter-spacing: 0.7px;
}

.section-masters-mgmt a.lnk-empty-butt,
.section-hospital-mgmt a.lnk-empty-butt{
	background: url("../images/bg-btns-input-back.gif") no-repeat scroll 0 1px transparent;
	margin-top:0;
}
.section-masters-mgmt a.lnk-empty-butt:hover,
.section-hospital-mgmt a.lnk-empty-butt:hover{
	background-position: -0 -27px;
}
#main .form-submit,
.ui-dialog .form-submit {
	height: 28px;
}
#sidebar-right .more-links a {
   color: #000;
   margin-right:25px;
}
#main .node-form #edit-submit-1,
#main .node-form #edit-submit,
#main .node-form #edit-preview,
#user-profile-form #edit-submit-2 {
    background: url("../images/bg-btns-input.gif") no-repeat -1268px 0 scroll;
	height:37px;
	width:110px;
	color: #FFFFFF;
	font-size: 115.4%;
	padding: 0;
}

#main .node-form #edit-submit-1,
#main .node-form #edit-submit {
	background-position: -1902px 0;
	width: 186px;
}
#main .node-form #edit-submit-1:hover,
#main .node-form #edit-submit-1.form-submit-hover,
#main .node-form #edit-submit:hover,
#main .node-form #edit-submit-2.form-submit-hover  {
	background-position: -1902px -37px;
}
#main .node-form #edit-preview:hover,
#main .node-form #edit-preview.form-submit-hover {
    background: url("../images/bg-btns-input.gif") no-repeat -1268px -37px scroll;
}
#main .form-submit,
.ui-dialog .ui-dialog-buttonpane button,
.ui-dialog .form-submit{	
	font-family: "ＭＳ Ｐゴシック","MS P Gothic","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,Osaka,sans-serif;
	width: 120px;
	margin-right:10px;
	/*margin-top: 30px;*/
}
#main #edit-compliance-rate {
	margin-top: 10px;
}
#main #add-disease,
a.lnk-add {
	margin-top: 0px;
	background-position: -353px 1px;
}
/*#form-input  #panel-buttons .form-submit,*/
#aspcm-graph-form #edit-download,
#aspcm-comparison-graph-form #edit-download,
#main .content-add-more .form-submit{
	width: 180px;
	background-position: -476px 1px;
	margin-right: 1px;
}
#node-form .content-add-more #edit-field-aspcm-disease-field-aspcm-disease-add-more{
	width: 116px;
	background-position: -357px 1px;
}
#aspcm-graph-form #edit-download,
#aspcm-comparison-graph-form #edit-download {
	margin-right: 30px;
    margin-top: 17px;
}
#aspcm-comparison-graph-form #edit-download {
	margin-right: 71px;
}
#aspcm-graph-form #edit-download:hover,
#aspcm-graph-form #edit-download.form-submit-hover,
#aspcm-comparison-graph-form #edit-download:hover,
#aspcm-comparison-graph-form #edit-download.form-submit-hover
/*#main .clearfix .form-submit:hover,
#main .clearfix .form-submit-hover*/ {
	background-position: -476px -27px;
}
#main #panel-buttons #edit-export-csv{
    float: left;
}
.ui-dialog .ui-dialog-buttonpane button {
	background-position: left 1px;
	height: 26px;
    width: 114px;
	padding: 7px 9px 5px 23px;
}
.ui-dialog .ui-dialog-buttonpane .save-redirect {
	background-position: -117px 1px;
}
/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
	head~body #main .form-submit { 
		padding-top: 6px; 
	}
	head~body #node-delete-confirm .container-inline a {
		position: relative;
		top: 1px;
	}
}
/*safari5*/

body:nth-of-type(1) #form-input  fieldset.frm-input .field-suffix{
	line-height:18px;
	display:inline-block;
    padding: 4px 0 0;
    vertical-align: top;
}
body:nth-of-type(1) #form-input fieldset.frm-input .form-item {
	clear:both;
}
body:nth-of-type(1) #form-input fieldset.frm-input{
	clear:left;
	padding-top:0;
}
body:nth-of-type(1) #form-input fieldset.last-item{
	clear:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#main .form-submit {
		padding-top: 8px;
	}
}

#user-login-form .form-submit:hover,
#user-login-form .form-submit-hover,
a.lnk-empty-butt:hover, 
a.lnk-add:hover,
#main .form-submit:hover,
#main .form-submit-hover,
.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button.button-hover,
.ui-dialog .form-submit:hover,
.ui-dialog .form-submit-hover,
.ui-dialog .form-submit.disabled,
.ui-dialog .form-submit-hover.disabled,
#node-delete-confirm .container-inline a:hover,
#user-cancel-confirm-form .container-inline a:hover,
#sidebar-right .more-links a:hover {
	color:#777;
	background-position: -233px -27px;
}
.ui-dialog .form-submit.disabled,
.ui-dialog .form-submit-hover.disabled,
.ui-dialog .ui-dialog-buttonpane .redirect.disabled,
.ui-dialog .ui-dialog-buttonpane .save-redirect.disabled{
	cursor:auto;
}
.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button.button-hover,
.ui-dialog .ui-dialog-buttonpane .redirect.disabled {
	color:#777;
	background-position: left -27px;
}
.ui-dialog .ui-dialog-buttonpane .save-redirect:hover,
.ui-dialog .ui-dialog-buttonpane button.save-redirect-button-hover,
.ui-dialog .ui-dialog-buttonpane .save-redirect.disabled{
	color:#777;
	background-position: -117px -27px;
}
a.lnk-add:hover,
#main #disease-list .form-submit:hover,
#main #disease-list .form-submit-hover {
	background-position: -353px -27px;
}

a.lnk-empty-butt.fs13, a.lnk-add.fs13{
    padding-top: 6px;
}
a.lnk-arrow{ 
	background: url("../images/bg-icons.gif") no-repeat scroll -6px -161px transparent;
    padding-left: 15px;
    text-decoration: underline;
	cursor: pointer;
}
a.lnk-arrow:hover{
	text-decoration:none;
}
a.lnk-datepicker{
	cursor: pointer;
	width:16px;
	height:16px;
	background: url("../images/icons/icon_calendar.png") no-repeat left center;
	display: block;
}

#main .img-without-text {
	text-align: center;
	width: 100%;
	clear: both;
	margin: 10px 0;
	border: 3px solid #eee;
	width: 99%;
}
#main .img-with-text {
	text-align: center;
	margin: 10px 20px 10px 0;
	float: left;
}
/*search block*/
#main #node-middle {
    width: 100%;
	margin-right: 0;
	float: none;
	margin-top: 10px;
}
/*print block*/
#main #content-top p{
	text-align:right;
}
#main #content-top .bg-print {
	background: url("../images/bg-icons.gif") no-repeat scroll left -110px transparent;
	padding-left: 20px;
	font-size: 92.3%;   /*12px*/
	text-decoration: none;
	vertical-align: bottom;
	display: inline-block;
}
#main .content p,
#sidebar-right .content,
#right-bottom .content,
#banner-block .left {                /*applied only for IE6~8*/
	text-align: justify; 
	text-justify: distribute;
}
#main .content p{
	margin-bottom:8px;
}
/* Icons for blocks */
.bicons48 #block-views-aspcm_important_news-block_1 .block-icon {
    background: url("../images/icons/blocks/icon_35_48.gif") no-repeat scroll 0 0 transparent;
}
.bicons48 .block-user .block-icon {
    background: url("../images/icons/blocks/icon_14_48.gif") no-repeat scroll 0 0 transparent;
}

/* Forms Style( part of master table style )*/   
/* Forms Style */
#form-input #form-main-panel,
#form-view #form-view-filter{
	padding: 0px !important;
	min-width: 838px;
	zoom:1;
	clear: both;
}
#form-input #form-main-panel .panel-content,
#form-view #form-view-filter .panel-content{
	padding: 17px 20px 20px;
	clear: both;
}
#aspcm-comparison-graph-form  #form-input #form-main-panel .panel-content{
	padding: 0;
}
#form-view #form-view-filter #edit-hospital{
	font-size: 92.8%;
	padding: 2px;
	background-color: #FFF;
}
#form-input #form-main-panel .left,
#form-view #form-view-filter .left{
	/*width:290px;*/
	width:100%;
	/*float:left;*/
}
#form-view #form-view-filter .left.ward-annually-data-import-upload {
    width: auto;
}
.page-ward-data-ward-annually-data-import #form-view #form-view-filter span {
    display: inline-block;
}
#form-input #form-main-panel .hospital-field,                               
#form-view #form-view-filter .hospital-field {
	width: 567px;
	padding-bottom: 10px;
}
#form-input #form-main-panel .ward-field {
    padding-bottom: 10px;
}
#aspcm-graph-form   #form-main-panel .hospital-field{
	width:855px;	
}
#form-input #form-main-panel .hospital-field #edit-hospital,
#form-view #form-view-filter .hospital-field #edit-hospital,
#form-view #form-view-filter .hospital-field .form-text {
	width: 525px;
}
#aspcm-graph-form   #form-main-panel .hospital-field #edit-hospital{
	width:822px;	
}
#form-input #form-main-panel .hospital-field  select#edit-hospital,
#form-view #form-view-filter .hospital-field  select#edit-hospital{
	width: 540px;
}
#form-input #form-main-panel .ward-field,
#form-view #form-view-filter .ward-field {
	width: 270px;
}
#form-input #form-main-panel .ward-field #edit-ward,
#form-view #form-view-filter .ward-field #edit-ward {
	width: 265px;
}
#aspcm-graph-form #form-input #form-main-panel .ward-field{
	/*width: 508px;*/
	width: 100%;
}
#aspcm-graph-form #form-input #form-main-panel .ward-field #edit-ward,
#aspcm-graph-form #form-input #form-main-panel #edit-ward-wrapper,
#aspcm-graph-form #form-input #form-main-panel .form-item-ward {
	width: 360px;
}
#aspcm-graph-form #form-input #form-main-panel #edit-ward-wrapper,
#aspcm-graph-form #form-input #form-main-panel .form-item-ward  {
	float:left;
}
#aspcm-graph-form #form-input #form-main-panel .ward-field .fs-small,
#aspcm-comparison-graph-form #form-input #form-main-panel .fs-small{
	font-size: 11px;
}
#form-input #form-main-panel .btns-block {
	margin-top: 10px;
}
#form-input #form-main-panel .btns-block .left {
	width: 350px;
	margin-left: 235px;
}
#form-input #form-main-panel .btns-block .form-submit {
	margin-top: 0;
}
#aspcm-graph-form #form-input #form-main-panel .btns-block {
    /*float: left;*/
    /*margin-left: 228px;*/
    /*margin-top: -25px;*/
    margin-top: 10px;
    text-align: center;
	* margin-left: 114px;
	* margin-top: -43px;
}
#form-input #form-main-panel .btns-block .form-submit {
	margin:0;
}
#form-input #form-main-panel .last-item,
#form-view #form-view-filter .last-item{
	width:100px;
}
#aspcm-graph-form #form-input #form-main-panel .last-item{
    padding-top: 15px;
    width: 275px;
    overflow: hidden;
}
#aspcm-graph-form #form-input #form-main-panel .last-item input{
	margin:0;
}
#form-input #form-main-panel .first-item,
#form-view #form-view-filter .first-item{
	width: 120px;
	clear: left;           /*for fixing long fields2*/       
}
#form-input #form-main-panel span,
#form-view #form-view-filter span{
	line-height: 20px;
    display: block;
}
#form-input #form-main-panel span.field-suffix  {
    display: inline-block;
    padding-right: 20px;
}
.period-field span,
.ward-field span,
.hospital-field span{
	font-weight:bold;
}
.ward-field span.fs-small,
.period-field  span.field-prefix,
.period-field  span.field-suffix{
	font-weight:normal;
}
span.small-text{
	font-size:84.6% !important;
	line-height: 16px !important;
}
#form-view #form-view-filter span.small-text{
	padding-left: 5px;
}
#form-input #form-main-panel input.inpt-custom{
	width:60px;
}
#form-input #form-main-panel  .form-submit,
#form-view #form-view-filter .form-submit{
	margin-top: 15px;
}
.ward-selected {
    float: left;
    width: 360px;
}
.ward-selected select {
    height: 120px;
}
/* add by Benny for ACMSUPP-24 20110109 begin */
#form-view #form-view-filter1 .form-submit{
	margin-left: 27px;
	margin-top: 27px;
}
/* add by Benny for ACMSUPP-24 20110109 end */

#form-input #form-main-panel  input.disabled ,
#form-view #form-view-filter  input.disabled,
#form-input #panel-buttons input.disabled,
#form-view #panel-buttons input.disabled {
	color:#777;
	background-position: -233px -27px;
}

#form-input #form-main-panel  .form-item,
#form-view #form-view-filter .form-item{
	margin:0;
    width: auto;
    /*width: 100%;*/
    display: inline-block;
}
.page-graph-single-graph #form-input #form-main-panel  .form-item,
.page-graph-single-graph #form-view #form-view-filter .form-item{
	display:inherit;
	float:left;
}
/*.page-graph-comparison-graph #form-input #form-main-panel  .form-item,
.page-graph-comparison-graph #form-view #form-view-filter .form-item{
	width: 265px;
}*/
#form-input #form-main-panel .form-item-ward,
#form-view #form-view-filter .form-item-ward,
#form-input #form-main-panel .form-item-ward2,
#form-view #form-view-filter .form-item-ward2{
    width: 100%;
}
#form-input #form-main-panel  .form-item-hospital,
#form-view #form-view-filter  #edit-hospital-wrapper,
#aspcm-ward-annually-data-view-1 #edit-hospital-1-wrapper{
	float:left;
}
#form-input  #form-main-panel h2,
#form-view #form-view-filter h2{
    border-bottom: 1px solid #DDD;
    margin: 0;
	padding: 8px 10px;
}
#form-input  #form-main-panel h4,
#form-view #form-view-filter h4{
	margin: 0;
}
#form-input  #form-main-panel input.form-text,
#form-view #form-view-filter input.form-text, 
#form-input  select,
#form-view select,
.ui-dialog select{
	border: 1px solid #999;
    font-size: 92.3%;
    padding: 2px;
    width: 100%;
}
#form-input .select-wards{
    float: left;
    margin: 30px 7px 0;
    width: 120px;
}
#form-input .select-wards li{
	display:block;
    /*padding: 0 15px 5px 0;*/
}
#form-input  #form-main-panel input.form-text,
#form-view #form-view-filter input.form-text{
	padding:3px 0;
	color: #000;
}
#form-input  #form-main-panel input.error,
#form-view #form-view-filter input.error,
#user-profile-form  input.error,
#user-register  input.error,
#user-register-form  input.error{
	border-color: #f47b20 !important;
}
.ui-dialog input.error{
	border: 1px solid #f47b20 !important;
}
#form-input  #form-main-panel label,
#form-view #form-view-filter label{
	padding: 0 15px 0 3px;
}
#form-input  #form-main-panel  input.chbox{
	margin:0;
	border:0 !important;
}
#form-input  #form-main-panel #edit-date-wrapper input ,
#form-view #form-view-filter #edit-date-wrapper input{
    width: 70px;
	margin:0;
	background:#fff;
	float: left;
}
#aspcm-ward-annually-data-import #form-view #form-view-filter #edit-date-wrapper input{
	width: 88px;
}
#form-input  #form-main-panel #edit-date-wrapper img{
	margin: 2px 4px;
}
#form-input  #form-main-panel #edit-date-wrapper .form-item,
#form-view #form-view-filter #edit-date-wrapper .form-item{
	float:left;
}
#form-input  #form-main-panel .date-period-block{
	margin-top:10px;
}
#form-input  #form-main-panel .date-period-block  span{
	padding-right:10px;
	float:left;
	width: 70px;
}
#form-input  #form-main-panel .custom-value{
	padding-left: 80px;
}
#form-input  #form-main-panel .spec-col{
    background: none repeat scroll 0 0 #EFEFEF;
    border-right: 1px solid #DDD;
    height: 360px;
    margin-right: 40px;
    padding: 20px;
    width: 200px;
}
#form-input  #form-main-panel .spec-col ul{
	margin-top: 20px;
	list-style:none;
}
#form-input #sev-level{
	margin:10px 0 15px;
}
#form-input  h2{
	font-weight:bold;
	font-size:125%;
}
#form-input  h3,
#form-view  h3 {
	font-weight:bold;
	font-size:117%;
}
#form-input fieldset{
	border:1px solid #ccc;
}
#form-input  table.form-table,
table.views-table,
#form-view  table.form-table,
.selected-products-table,
.product-finder-table,
#selected-products-view{
    border: 1px solid #999;
    border-collapse: separate;
    width: 100%;
	border-spacing: 2px;
}
#form-input  table.form-table td,
#form-input  table.form-table th,
table.views-table td,
table.views-table th,
#form-view table.form-table th,
#form-view table.form-table td,
.selected-products-table th,
.selected-products-table td,
.product-finder-table th,
.product-finder-table td,
#selected-products-view th,
#selected-products-view td{
    border: 1px solid #CCC;
    border-collapse: collapse;
    margin: 1px;
    padding: 4px;
	background: #fff;
}
#form-input  table.form-table th,
#form-view table.form-table th{
    padding: 3px;
}
#aspcm-ward-annually-data-view  #form-view table.form-table th,
#aspcm-ward-annually-data-view-1  #form-view table.form-table th{
    padding: 4px 1px;
}
#aspcm-ward-annually-data-view  #form-view table.form-table td,
#aspcm-ward-annually-data-view-1  #form-view table.form-table td{
    padding: 4px 2px;
}
#form-input  table.form-table th,
table.views-table th,
#form-view table.form-table th,
.selected-products-table th,
.product-finder-table th,
#selected-products-view th{
	background: #ddd;
	color: #333;
	font-weight:bold;
	text-align:center;
}
#form-input  table.form-table td.sev-level-name{
	width: 200px;
}
#form-input  table.form-table td.sev-level-name,
#form-input  table.form-table td.sev-level-num
{
	background:#f7f7f7;
}
#form-input  table.form-table td.bg-total{
	background:#eee;
}
#form-input  table.form-table  a,
table.views-table a{ 
	background: url("../images/bg-icons.gif") no-repeat scroll -6px -161px transparent;
    padding-left: 15px;
    text-decoration: underline;
	zoom:1;
}
#form-input  table.form-table  tr.level-total td{
	background-color:#ddd;
}
#form-input #estimated,
#form-input #actual{
	margin-bottom:17px;
	margin-top: 5px;
	clear:both;
}
#form-input #estimated .form-item{
	margin:0;
}
#form-input  fieldset.left{
	float:left
}
#form-input fieldset.last-item{
	margin-right:0 !important;
}

#aspcm-comparison-graph-form  #form-input #form-main-panel .left .form-item:after,
#form-input fieldset.last-item:after{
	content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#aspcm-comparison-graph-form  #form-input #form-main-panel .left .form-item .form-item:after,
#aspcm-comparison-graph-form  #form-input #form-main-panel .last-item  .form-item:after{
    height: auto;
    clear: none;
    visibility: visible;
	display:inline;
	content: none;
}
#form-input  fieldset.frm-input{
	padding: 10px 15px 0;
    width: 865px;
	margin-bottom: 10px;
	border: 1px solid #BBB;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#form-input  fieldset.frm-input fieldset.frm-input{
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 3px;
	padding: 10px 25px;
	border: 1px solid #CCC;
	width: 373px;
	min-height: 60px;
}
#form-input fieldset.frm-input .form-item{
	margin: 8px 0;
}
#form-input  fieldset.frm-input label{
    color: #535353;
    display: block;
    float: left;
    font-weight: normal;
    width: 240px; /*170px;*/
	line-height: 17px;
	padding-right: 10px;
	text-align:left;
	word-wrap: break-word;
	word-break: normal;
}
#form-input  fieldset.frm-input .field-suffix{
	line-height:18px;
}
#form-input  fieldset.frm-input .field-suffix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#form-input  fieldset.frm-input input, 
#form-input input.small,
#form-input #form-main-panel  input.small,
.ui-dialog input.small{
	width:50px;
    font-size: 84.6%;  /*11px*/
	margin-right: 5px;
}
#aspcm-comparison-graph-form #form-main-panel .last-item input.small {
	margin-right: 4px;
}

/*opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
	head~body #aspcm-comparison-graph-form #form-main-panel .last-item #edit-horizontal-start-wrapper label,
	head~body  #aspcm-comparison-graph-form #form-main-panel .last-item #edit-horizontal-end-wrapper label,
	head~body #aspcm-comparison-graph-form #form-main-panel .last-item #edit-horizontal-start-wrapper input.small,
	head~body  #aspcm-comparison-graph-form #form-main-panel .last-item #edit-horizontal-end-wrapper input.small { 
		margin-right: 0;
		padding-right: 0;
	}
}
#form-input  table.form-table input.small{
	width:37px;
	margin-right: 0;
}
#form-input  fieldset.frm-input p{
	margin:5px 0;
}
#form-input  fieldset legend{
	color: #777;	
	font-weight: bold;
	font-size: 116%;
	padding: 0 10px;
}
#form-input  fieldset fieldset legend{
	color: #E20177;
}
#form-input div .ptype{
    padding-top: 3px;
	padding-bottom: 3px;
}
#form-input .form-set .form-text,
.ui-dialog .form-text{
	background: url("../images/bg-btns-input.gif") no-repeat scroll -2091px 0 #FBFBFB;
    border-color: #A8A8A8 #D8D8D8 #D8D8D8 #A8A8A8;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 4px;
}	
#form-input  input.chbox{
	width: auto !important;
	border:0 !important;
}
#form-view .form-set h3{
    background: url("../images/bg-header-lgrey.gif") repeat-x top left;
    margin-bottom: 17px;
	color:#fff;
	padding: 7px 15px;
	margin-top: 0px;
	zoom:1;
}
#form-input .form-set h3,
#form-input .form-set div h3,
#aspcm-email-form.aspcm-email-form-confirm .confirm-title,
#user-register fieldset legend,
#user-profile-form fieldset legend{
	zoom:1;
	background: url("../images/bg-menu-active1.gif") repeat-x scroll left bottom transparent;
    border-bottom: 1px solid #EF5CA8;
    border-top: 1px solid #EDA0C8;
    color: #FFF;
    margin-bottom: 17px;
    margin-top: 0;
    padding: 8px 15px 7px;
}
#form-input .form-set div div h3{
	padding-top: 7px;
}
#form-input h3.disease-first{
	padding-top: 8px !important;
}
#form-input  .two-columns{
	margin: -10px 0 0;
	padding-right: 10px;
}
#form-input  .button-set-edit{
	clear:both;
}
#form-input  .button-set-edit label{
	margin-bottom: 10px;
}
#form-input  .two-columns .right{
	text-align:right;
	margin-bottom:10px;
	margin-right: 9px;
}
#form-input  .two-columns .right span{
	line-height:16px;
	display:inline-block;
	padding:5px 0;
}
#form-input  .two-columns .right a{
    margin-top: 0;
	margin-left: 15px;
}
#form-input  #sev-level-block .two-columns .left{
	margin-right:20px;
}
#form-input  #sev-level-block .two-columns .form-item{
	margin-top:0px;
	margin-bottom:0px;
}
#form-input #total_patient-wrapper label,
#form-input #severity_level-wrapper label,
#form-input #Mandays-wrapper label,
#form-view #severity_level-wrapper label{
    color: #535353;
    display: inline;
    font-weight: normal;
    padding: 3px 10px 4px;
}
#form-input #edit-edit-compliance-rate{
	margin-top:0;
}
#form-input  .tabled-input p{
	margin:10px 0;
}
#form-input  .tabled-input span,
#form-input  .tabled-input label,
#form-view #severity_level-wrapper label{
    background: #EEE;
    color: #535353;
    display: block;
    float: left;
    font-weight: normal;
    padding: 3px 10px 4px;
    text-align: left;
    width: 265px;
}
#aspcm-ward-monthly-data-input-form .form-set p.error {
	margin-bottom:15px;
}
#form-input  .tabled-input .form-item-total-patient span.field-suffix,
#form-input  .tabled-input .form-item-Mandays  span.field-suffix,
#disease-list.tabled-input .field-suffix {
    background: none transparent;
    display: inline;
    float: none;
    font-weight: normal;
    padding: 0;
    text-align: left;
}
#form-input  .tabled-input #Mandays-wrapper{
	margin-top:30px;
}
#form-input  .form-comment{
    float: left;
    font-size: 11px;
    margin-top: 14px;
    width: 400px;
}
#form-input  .tabled-input #total_patient-wrapper{
	margin-bottom:0;
}
#form-input  .tabled-input #severity_level-wrapper{
	margin-bottom:5px;
	float: left;
	clear: both;
	width: 465px;
}
#form-input .sev-level-block .error{
	margin-top: 5px;
}
#disease-block{
	margin-bottom:10px;
}
#form-input .button-set-edit span,
#form-input .button-set-edit input {
	float:none;
}
#form-input #actual{
	border: 1px solid #999;
    padding: 0 5px;
    width: 455px;
}

#form-input #actual label{
	width: 259px;
}
#form-input #actual .form-item{
	margin:5px 0;
}
#form-input #actual input.form-text{
	margin-right:0px;
}
#form-input #actual_total-wrapper label{
	text-align:right;
	background: #DDD;
	font-weight:bold;
	padding: 4px 10px;
}
#actual .tabled-input .field-suffix {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    float: none;
    font-size: 0;
    height: 0;
    line-height: 0;
    padding: 0;
    width: 0;
	color: transparent;
}
#form-input  .tabled-input input.form-text{
	width:160px;
	margin-right: 5px;
}
#form-input  .tabled-input select,
#form-view .tabled-input select{
	width:170px;
}
#form-input  input.error {
	border: 1px solid #f47b20 !important;
}
#form-input  .tabled-input span.error-msg{
	color: red; 
	font-size: 84.6%;
	float:none;
	display:inline;
	background:none;
}
#form-input  .bottom-item{
	clear:both;
	text-align: right;
	padding-top: 30px;
	width:615px;
	float:right;
}
#form-input  span.titl{
	font-weight: bold;
	padding-right: 27px;
}
#form-input  .block-monthly{
	padding-left: 188px;
}
#form-input #edit-Add{
	margin-top:0;
}
#main #form-input #edit-search-click,
#main #form-input #edit-save-and-redirect {
	display:none;
}

/*input form button*/
#aspcm-ward-monthly-data-input-form #panel-buttons{
    background-color: #EEE;
	text-align: right;
	padding:0px 20px 20px 20px;
	margin-bottom: 10px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons .form-submit{
   margin-top: 20px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-export-csv{
    background: url("../images/bg-btns-input.gif") no-repeat -889px 0px scroll;
	width: 184px;
	height: 35px;
	font-size: 115%;
	padding: 0 0 0 28px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-export-csv:hover,
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-export-csv.form-submit-hover{
    background-position: -889px -35px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-previous-and-save{
    background: url("../images/bg-btns-input.gif") no-repeat -1078px 0px scroll;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-previous-and-save:hover,
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-previous-and-save.form-submit-hover{
    background-position:-1078px -37px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-save,
#aspcm-email-form .form-submit,
#user-register .form-submit,
#user-register-form .form-submit,
#user-profile-form .form-submit {
	background: url("../images/bg-btns-input.gif") no-repeat -1268px 0px scroll;
	width: 109px;
	height: 37px;
	color: #FFF;
	font-size: 115%;
	padding: 0;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-save{
	background-position: -1902px 0px;
	width:185px;
}
#aspcm-email-form .form-submit:hover,
#aspcm-email-form .form-submit.form-submit-hover,
#user-register .form-submit:hover,
#user-register .form-submit.form-submit-hover,
#user-register-form .form-submit:hover,
#user-register-form .form-submit.form-submit-hover,
#user-profile-form #edit-submit-2:hover,
#user-profile-form #edit-submit-2.form-submit-hover,
#user-profile-form .form-submit:hover,
#user-profile-form .form-submit.form-submit-hover {
    background-position:-1268px -37px;
    color:#fff;
}
#aspcm-email-form ,
#aspcm-email-form  .contact-button-block{
	clear:both;
}
#aspcm-email-form {
	* margin-top: 25px;
}
#aspcm-email-form  .contact-button-block #edit-reset.form-submit,
#aspcm-email-form #edit-goback{
	background: url("../images/icons/icon-arrow.gif") no-repeat scroll left center transparent;
	_background: url("../images/icons/icon-arrow.gif") no-repeat scroll left 7px transparent;
    cursor: pointer;
    padding-left: 15px;
    text-decoration: underline !important;
	color:#777;
	height: auto;
	line-height: 16px;
	font-size:100%;
	font-weight:normal;
	width: 116px;
	margin-right:0;
	vertical-align:top;
	padding-top:0;
	margin-top:40px;
	_margin-top:30px;
}
#aspcm-email-form #edit-goback{
	width: 130px;
}
#aspcm-email-form  .contact-button-block #edit-reset.form-submit:hover,
#aspcm-email-form  .contact-button-block #edit-reset.form-submit-hover,
#aspcm-email-form #edit-goback:hover,
#aspcm-email-form #edit-goback.form-submit-hover {
	text-decoration: none !important;
	color: #E20177;
}
#aspcm-email-form .contact-descript{
	background: none repeat scroll 0 0 #FFF0C9;
    border: 1px solid #F47B20;
	padding:10px 20px;
	margin-bottom: 20px;
	zoom:1;
}
#aspcm-email-form .contact-descript h3{
    border-bottom: 1px solid #555;
    color: #555;
    font-size: 130%;
    font-weight: bold;
    line-height: 140%;
    padding: 0 0 1px;
	margin-bottom:15px;
}
#aspcm-email-form .contact-descript p{
	margin: 5px 0;
}
#aspcm-email-form .contact-descript p.tar{
	margin: 10px 0 20px;
}
#aspcm-email-form .contact-descript .ext-link-text,
#aspcm-email-form .contact-descript .ext-link{
	background: url("../images/bg-icons.gif") no-repeat scroll -7px -161px transparent;
    cursor: pointer;
    padding-left: 15px;
    text-decoration: underline;
	line-height: 16px;
	zoom:1;
}
#aspcm-email-form .contact-descript .ext-link{
	background-position: -0 -300px;
	padding-left: 20px;
}
#aspcm-email-form .info-mess{
    margin-bottom: 5px;
    margin-top: 20px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-save:hover,
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-save.form-submit-hover{
	background-position: -1902px -37px;
	color:#fff;
}
#user-profile-form #edit-submit{
	margin-left:290px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-next-and-save{
     background: url("../images/bg-btns-input.gif") no-repeat -1385px 0 scroll;
}

#aspcm-ward-monthly-data-input-form #panel-buttons #edit-next-and-save:hover,
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-next-and-save.form-submit-hover{
    background-position:-1385px -37px;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-previous-and-save,
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-next-and-save{
    width: 184px;
	height: 37px;
	color: #FFF;
	font-size: 115%;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-next-and-save.form-submit{
	padding: 0 28px 0 0;
}
#aspcm-ward-monthly-data-input-form #panel-buttons #edit-previous-and-save.form-submit{
	padding: 0 0 0 28px;
}

#popup-disease input.form-text,
#popup-rate input.form-text{
	width:270px;
	border: 1px solid #999;
}
#edit-date-wrapper input,
#product-frm-input fieldset .form-text,
#total_patient-wrapper .form-text,
.tabled-input .form-text,
#estimated td .form-text,
#edit-field-aspcm-telephone-number-0-value-wrapper input,
#edit-field-aspcm-email-0-value-wrapper input,
#edit-field-aspcm-email-confirm-0-value-wrapper input,
#edit-field-aspcm-compliance-rate-0-value-wrapper input,
#edit-field-aspcm-monthstart-0-value-wrapper input,
#edit-field-aspcm-hospital-code-0-value-wrapper input,
#edit-field-aspcm-number-of-beds-0-value-wrapper input,
#aspcm-email-form #edit-zip-first,
#aspcm-email-form #edit-zip-second,
#aspcm-email-form .phone-info input,
#aspcm-email-form #edit-email-1,
#aspcm-email-form #edit-email-2,
#edit-field-aspcm-postalcode-0-value-wrapper input,
#edit-horizontal-end,
#edit-horizontal-start,
#date,
#edit-major-fixed-value-wrapper input,
#edit-minor-fixed-value-wrapper input {
	ime-mode: disabled;
}							
.page-ward-monthly-data-input #main div.messages ul li {        /*error message*/   
	display: inline;
}
#form-input .form-set .button-set-edit p span {
	display: inline-block;
	background-color: transparent;
	padding-left: 7px;
}
#form-input .block-goback {
	margin: 10px 5px;
    text-align: left;
}
#form-input #bottom-link-back{
	margin-top: 45px;
    text-align: right;
}
.section-users  .block-goback{
	margin-top: 15px;
	margin-top: 20px\0;
	margin-bottom: 5px;
	text-align: left;
}
#form-input .block-goback a,
.section-users  .block-goback a.link-back,
.section-help  .block-goback a.link-back{
	background: url("../images/bg-icons.gif") no-repeat scroll left -363px transparent;
    font-weight: bold;
    padding-left: 25px;
    text-decoration: underline;
	height: 20px;
	line-height: 20px;
	display: inline-block;
}
#form-input .block-goback a:hover,
.section-users  .block-goback a.link-back:hover,
.section-help  .block-goback a.link-back:hover {
	background-position: left -386px;
}
#top-help-link-back{
	float:left;
}
/*viewtables form*/
#form-view  table.form-table {
	margin: 15px 0;
	table-layout: fixed;
}
#form-view  table#first-table{
	margin-top:5px !important;
}
#form-view .form-table .table-title{
	width: 190px !important;	
}
#form-view .form-table .first-column {
	width: 177px !important;
}
#form-view .form-table .first-column1 {
	width: 165px !important;
}
#form-view .form-table  th.last-total {
	white-space:nowrap !important;
	padding-right:2px;
	width: 54px;
}
#form-view .form-table .last-total01 {
	width: 70px !important;
}
#form-view .form-table th {
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: middle;
}
#form-view  table.form-table .head-row th,
#form-view  table.form-table .head-row th a {
	white-space: nowrap;
	color:#e40377;
}
#form-view  table.form-table .head-row  th a {
	text-decoration: underline;
}
#form-view  table.form-table .head-row  th a:hover {
	text-decoration: none;
}
#form-view  table.form-table td {
	font-size: 92.3%;   /*12px*/
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}
#first-table tr td{
	padding-left:1px !important;
	padding-right:1px !important;
}
#form-view  table.form-table .align-left {
	text-align: left;
	padding-left: 5px !important;
}
#form-view  table.form-table .text-indent {
	padding-left: 25px !important;
	padding-right: 4px !important;
	color: #535353;
	font-weight: normal;
	background-color: #eee;
}
#form-view  table.form-table .small-width {
	width: 10px;
	margin: 0 4px;
	float: left;
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
	head~body #form-view  table.form-table .small-width { 
		display: table-cell;
		float: none;
		padding: 0 4px;
		margin: 0;
	}
}
#form-view  table.form-table .clickable {
	cursor: pointer;
}
.hidden {
	display: none !important;
}
#form-view .form-table .collapsed a,
#form-view .form-table .expanded a {
	background: url("../images/icons/bg-plus.gif") no-repeat scroll top left transparent;
	padding-left: 20px;
	display: inline-block;
	color: #535353 !important;
	text-decoration: none;
}
#form-view .form-table .expanded a {
	background: url("../images/icons/bg-minus.gif") no-repeat scroll top left transparent
}

	/*improvement for viewtales*/
#form-view .form-table .clickable {
	padding-left: 7px;
}
#form-view table.form-table th {
	color: #424242;
	background-color: #eee;
}
#form-view table.form-table th {
	color: #424242;
	background-color: #eee;
}
#aspcm-ward-annually-data-view #form-view table.form-table th,
#aspcm-ward-annually-data-view-1 #form-view table.form-table th{
	font-size:92.3%
}
#form-view table.form-table .head-row th {
	color: #333;
	background-color: #ddd;
}
#form-view table.patient-staff-table .sev-name,
#form-view table.patient-staff-table .sev-level-name,
#form-view table.patient-staff-table .level-total .align-left {
	background-color: #eee;
}
#form-view table.form-table .bg-total {
	background-color: #f7f7f7;
}

/*Show Loading feature*/
#background-popup,
#background-popup-dialog {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  #666666 url("/sites/all/themes/asp_cm/images/ui/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat; 
	opacity: 0.5;
    filter: alpha(opacity = 50);
	z-index: 98000;
}
#background-popup-dialog {
	z-index: 1001;
	zoom: 1;
}
#div-loader {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99000;
	display: none;
}
#loader {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	/*padding: 6px;
	margin-left: -24px;
	margin-top: -24px;
	display: none;*/
	padding: 10px;
	margin-left: -100px;
	margin-top: -90px;
	/*_margin-top: 25%;*/
	width: 180px;
	height: 175px;
	z-index: 100000;
	
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#loader #div-load-picture{
	width:180px;
	height:135px;
	text-align:center;
	vertical-align:top;
}
.loading-scroll{
	margin-top:15px;
}

/* Master Pages*/
	/*list pages*/
#main .item-list{
	float:right;
	width:65%;
	/*width:740px;*/
}
#main .item-list ul.pager{
    padding-top: 15px;
	text-align: right;
}
#main .item-list ul.pager li{
	-moz-border-radius: 3px;
	border-radius: 3px;
    background: none repeat scroll 0 0 #EEE;
    border: 1px solid #AAA;
    line-height: 115%;
    margin: 0;
	color:#aaa;
    margin-left: 2px;
    padding: 2px 7px;
}
#main .item-list ul.pager li.pager-current,
#main .item-list ul.pager li:hover,
#main .item-list ul.pager li:hover a{
	color: #fff;
	background: #aaa;
}
#main .item-list ul.pager li a{
	color:#777;
	text-decoration:none !important;
}
#main .new-item-link{
	float:left;
	width: 35%;
	/*width: 150px;*/
}
#main .new-item-link a{
	margin-top:10px;
}
table.views-table{
	border-spacing: 2px;
}
.view-aspcm-user-management table.views-table th.views-field-name-1,
table.views-table .views-field-view-node,
table.views-table .views-field-edit-node,
table.views-table .views-field-delete-node {
	width: 60px;
}
#main  .messages {
	margin-top: 10px;
	border: 1px solid #CCC;
	color: #535353;
	padding: 10px;
	clear: both;
}
#main  .messages em {
	font-style: italic;
}
#main  div.error,
.ui-dialog  div.error{
	background: #fff0c9 none;
	border: solid 1px #f47b20;
	margin-top: 0;
	padding: 5px;
}
#main .node-form .form-item  input.error,
#main .node-form .form-item  textarea.error,
.selected-products-table  input.error {
	border: solid 1px #f47b20;
}
.ui-dialog div.error{
	color: #535353;
	padding: 10px;
	margin: 0;
	margin-top: 5px;
}
#main  div.error a{
	background: url("../images/bg-icons.gif") no-repeat scroll -6px -161px transparent;
    text-decoration: underline;
	padding-left:20px;
	display:block;
}
#main div.error ul li  {
	display:block;
}
	/*detail pages, edit pages*/
#main .node-form fieldset,
#main .node-form .form-item,
#main .content .field{
	padding: 10px 0;
	clear:both;
}
#main .node-form fieldset,
#main .node-form .form-item {
	padding: 3px 0;
	margin: 3px 0;
}
#main #field-aspcm-disease-items,
#main #edit-field-aspcm-disease .form-item
{
	margin-left: 290px;
}
#field_aspcm_disease_values,
#field-aspcm-disease-values,
#edit-field-aspcm-disease .field-multiple-table{
	width:358px;
}
.table-header-desease{
	font-weight:bold;
	color:#000;
	font-size: 100% !important;
}
#main #field_aspcm_disease_values td.delta-order,
#main #field_aspcm_disease_values thead,
#main #field-aspcm-disease-values td.delta-order,
#main #field-aspcm-disease-values thead {
	display:none;
}
#main #field_aspcm_disease_values,
#main #field-aspcm-disease-values{
	border-top: 2px solid #CCC;
}
#field-aspcm-disease-items .description,
.table-header-desease span{
	font-size:84.6%;
	color: #535353;
	font-weight:normal;
}
.node-type-aspcm_ward .description,
.section-node-add .description{
	margin-top:10px;
}
#field-aspcm-disease-items{
	margin-top:-7px;
}
#main #field-aspcm-disease-items .content-multiple-drag a{
	display: none;
}
#main .clearfix .form-submit,
#edit-field-aspcm-disease .clearfix  .form-submit{
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
	padding: 8px 11px 7px 25px;
	margin-right: 0px;
}

#main #field_aspcm_disease_values input.form-text,
#main #field-aspcm-disease-values input.form-text,
#main #edit-field-aspcm-disease .field-multiple-table input.form-text{
	margin-left: 24px;
	width: 280px;
}
#main .content-manual{
	border: 1px solid #ccc;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#main .node-type-page .content-manual {
	border: 0 none;
	padding: 0;
	margin: 0;
}
#user-pass .form-item label,
#user-login .form-item label,
#main .node-form .form-item label,
#main .content .field .field-label,
#aspcm-email-form .form-item label,
#user-register .form-item label,
#user-register-form .form-item label,
#user-profile-form .form-item label {
    background: #EEE;
    font-weight: bold;
    line-height: 16px;
    margin-right: 10px;
    padding: 5px 15px;
    width: 250px;
	float: left;
}
#user-profile-form .form-item label{
	padding:2px 15px 5px;
}
#user-register #edit-asp-hospital-name-visiable,
#user-register-form #edit-asp-hospital-name-visiable,
#user-profile-form #edit-asp-hospital-name-visiable,
#user-register #edit-asp-hospital-name-visiable-noajax,
#user-register-form #edit-asp-hospital-name-visiable-noajax{
	background: url("../images/throbber.gif") 100% 2px no-repeat !important;
	float: left;
}
#user-register #edit-asp-hospital-name-visiable.throbbing,
#user-register-form #edit-asp-hospital-name-visiable.throbbing,
#user-profile-form #edit-asp-hospital-name-visiable.throbbing,
#user-register #edit-asp-hospital-name-visiable-noajax.throbbing,
#user-register-form #edit-asp-hospital-name-visiable-noajax.throbbing{
	background-position: 100% -17px !important;
}
#main .content .field .field-label {
	width: 25%;
	word-wrap: break-word;
	word-break: break-all;
}
#main .content .field .field-items{
	float:left;
	line-height: 16px;
	padding: 5px;
	width: 68%;
	word-wrap: break-word;
	word-break: break-all;
}
#legalnotice #main .aspcm-email-form-confirm  .content .field .field-items{
	width: 66%;
}
	/*edit pages*/
#main .node-form .form-item label {
	background-color: #fff;
}
#user-pass .form-item .form-text,
#user-login .form-item .form-text, 
#main .node-form .form-item .form-text,
#user-register .form-item .form-text,
#user-register-form .form-item .form-text,
#user-profile-form .form-item .form-text,
.custom-perpush-text{
	border: 1px solid #aaa;
	border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8;
	background: url("../images/bg-btns-input.gif") no-repeat scroll -2091px 0 #FBFBFB;
	padding: 2px;
	color: #000;
	width: 350px;
}
#main .node-form .form-item  .form-select,
#user-profile-form .form-item  .form-select,
#user-register .form-item  .form-select,
#user-register-form .form-item  .form-select,
#user-register-form .form-item .form-autocomplete,
#user-register-form .form-item #edit-asp-ward-name-visiable{
	border: solid 1px #aaa;
	border-color: #A8A8A8 #D8D8D8 #D8D8D8 #A8A8A8;
	padding: 2px;
	width: 350px;
}
#main .node-form .form-item .form-checkboxes,
#main .node-form .form-item .form-radios {
	display: inline-block;
	margin: 0;
} 
#main .node-form .form-item .form-checkboxes .form-item,
#main .node-form .form-item .form-radios .form-item {
	padding: 0;
	margin: 0;
}
#main .node-form .form-item .form-checkboxes .form-item label.option,
#main .node-form .form-item .form-radios .form-item label.option {
	font-weight: normal;
	color: #535353;
    padding: 0 !important;
    width: auto !important;
	float: none !important;
}
#main .node-form .admin .form-item label.option {
	float: none !important;
}
#user-pass .form-item .description,
#user-login .form-item .description,
#main .node-form .form-item .description,
#main .node-form .form-item  #edit-path,
#user-register .form-item .description,
#user-register-form .form-item .description,
#user-profile-form .form-item .description {
	clear: both;
	margin-left: 290px;
}
#user-pass .form-item .description,
#user-login .form-item .description,
#main .node-form .form-item .description {
	font-size: 84.6%;   /*11px*/
}
#main .node-form .form-item  .resizable-textarea {
	float: left;
	width: 500px;
}
body#legalnotice.section-contact-us #main .node-form .form-item .resizable-textarea{
	width: 350px;
}
#main .node-form  .textarea-identifier{
	clear:both;
	margin-left: 290px;
}
#main .node-form .form-item textarea {
	border: 1px solid #999;
	padding: 2px;
}
#main .preview {
	padding: 15px;
	margin-top: 10px;
	border: 3px dotted #CCC;  /*#EA6FB1*/
}
#main .preview .node {
	background-color: #fff; 
}
#user-pass .form-required,
#user-login .form-required,
#user-register .form-required,
#user-register-form .form-required,
#user-profile-form .form-required,
#main .node-form .form-required {
	color: #E40177;
  font-size: 184.6%;  /*24px*/
  line-height: 16px;
  vertical-align: -3px;
  * vertical-align: -8px;
}
/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
head~body #user-pass .form-required,
head~body #user-login .form-required,
head~body #user-profile-form .form-required,
head~body #user-register.form-required,
head~body #user-register-form.form-required,
head~body #main .node-form .form-required { 
	position: relative;
	top: 4px;
}

#user-profile-form .form-required
{
  vertical-align:-7px !important;
}
}
#main .node-form input.form-autocomplete {
	background-position: 100% 6px;
}
#main .node-form #edit-submit-1,
#main .node-form #edit-preview,
#user-profile-form #edit-submit-2,
#main .node-aspcm_condition-form #edit-submit{
	margin-left: 290px;
}
/*treeview in products edit page*/
#main .node-form .form-item .form-checkboxes fieldset.collapsible legend {
	padding: 0;
}
#main .node-form .form-item .form-checkboxes fieldset.collapsible .fieldset-wrapper {
	margin: 0 0 0 20px;
}
#main .node-form .form-item .form-checkboxes fieldset.collapsible legend a {
	background: transparent url("../images/bg-icons.gif") no-repeat scroll left -90px;
	padding-left: 20px;
	display: inline-block;
	text-decoration: none;
	color: #777 !important;
}
#main .node-form .form-item .form-checkboxes fieldset.collapsed legend a {
	background-position: left -71px;
}
#main .node-form .form-item .form-checkboxes legend a  span.count{
	display: inline !important;
	font-weight: bold !important;
}

/* Delete Pages */
#node-delete-confirm .container-inline a {

}
.node-type-aspcm_department #edit-title-wrapper,
.add-node-department {
	display:none;
}

/* Graph Page */
#hidden-buttons {
	display: none;
}
#form-input-block #edit-ward-wrapper select {
	height: 120px;
}
#form-graph{
	margin-top: 20px;
	margin-bottom: 40px;
}
#form-graph #major-link-block,
#form-graph #img-graph,
#form-graph #minor-link-block{
	float:left;

}
#form-graph #img-graph img {
	border: solid 1px #eee;
	width: 770px;
}
#form-graph #major-link-block,
#form-graph #minor-link-block,
#form-graph #horiz-link-block{
	width: 57px;
}
* #form-graph #horiz-link-block{
	width: 82px;
	margin-top: 5px;
}
#form-graph #minor-link-block{
	float: right;
    margin-right: -3px;
}
#form-graph #img-graph{
	width: 760px;;
}
#form-graph #major-link-block a,
#form-graph #minor-link-block a,
#form-graph #horiz-link-block a{
	background: url("../images/bg-icons.gif") no-repeat scroll left top #FFFFFF;
    display: inline-block;
    text-align: left;
    text-decoration: none;
	font-size: 14px;
    padding: 6px 7px 6px 20px;
}
#form-graph #major-link-block a:hover,
#form-graph #minor-link-block a:hover,
#form-graph #horiz-link-block a:hover{
	background-color: #fce5f1;
}
#form-graph #horiz-link-block{
    clear: left;
	float: left;
	margin-left: 57px;
    padding-top: 10px;
}
#form-graph #graph-download {
	float: right;
}
#graph-table{
	width: 790px;
	margin-top: 25px;
	margin-left:20px;
}
#graph-table th,
#graph-table td{
	border-bottom: 1px solid #ccc;
	padding:5px;
}
#graph-table td{
	text-align:center;
}
#graph-table th{
	width:85px;
	border-right: 1px solid #ccc;
}
#graph-table th.last,
#graph-table td.last{
	border-bottom: 0;
}
/* Graph Comparation Page */
#aspcm-comparison-graph-form  #form-main-panel {
	background: none repeat scroll 0 0 #F3F3F3;
}
#aspcm-comparison-graph-form  #form-main-panel .left {
    margin-right: 25px;
    width: 515px;
}
#aspcm-comparison-graph-form  #form-main-panel .last-item {
    margin-right: 0;
    padding: 5px 25px;
    width: 273px;
}
#aspcm-comparison-graph-form  #form-main-panel .spec{
    background: url("../images/fill_block.png") repeat-x scroll 0 100% #FFF;
    border-left: 1px solid #E0E0E0;
    margin-right: 0;
    width: 572px;
    width: 568px\0;
    overflow: hidden;
}
#aspcm-comparison-graph-form  #form-main-panel .line-spec{
	border-left: 1px solid #fff;
	padding-left: 35px;
	padding-top: 10px;
    position: relative;
	* padding-top: 5px;
}
#aspcm-comparison-graph-form  #form-main-panel .buttons-block{
	float:right;
	margin: 15px 23px 10px 0;
}
#aspcm-comparison-graph-form  #form-main-panel .buttons-block input{
	margin:0;
}
#aspcm-comparison-graph-form  .left .form-item  .form-item {
	display:inline;
}
#aspcm-comparison-graph-form   #form-main-panel .description {
	display:inline;
	font-size:100%;
}
#aspcm-comparison-graph-form #edit-horizontal-start-wrapper,
#aspcm-comparison-graph-form #edit-horizontal-end-wrapper,
#aspcm-comparison-graph-form #edit-horizontal-start-wrapper label,
#aspcm-comparison-graph-form #edit-horizontal-end-wrapper label{
	display:inline;
	font-weight: normal;
	float:none;
	width:auto;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left label{
	color:#535353;
	width: 60px;
	float:left;
	padding-top: 10px;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-checkboxes label{
	float:none;
	* padding-top: 7px;
	padding-left: 3px;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .last-item label{
	width: auto;
	float: none;
	padding: 0 4px 0 0;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left label.option{
    display: block;
    margin: 0;
	width: 124px;
}
#aspcm-comparison-graph-form #form-input #edit-select-all-above-conditions-select-all-wrapper{
	width:auto !important;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left h4{
	font-weight: bold;
    margin: 15px 0 4px;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-checkboxes{
	float:left;
    width: 435px;
	margin:0;
	* float: none;
	* width: 432px;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-checkboxes .form-item{
	border:0;
	float:left;
	display:block;
	width: 144px;
}
#aspcm-comparison-graph-form #form-main-panel .left #edit-select-all-above-conditions-select-all-wrapper  label.option{
	float: none;
	width:auto;
	margin:0;
}
#aspcm-comparison-graph-form  #form-input #form-main-panel .left .form-item{
	border-bottom: 1px dashed #BBB;
    padding: 0px 0 5px;
	margin-right: 23px;
	vertical-align:top;
}
#aspcm-comparison-graph-form  #form-input #form-main-panel .left .form-item .form-item{
	margin-right: 0;
}
#aspcm-comparison-graph-form  #form-input #form-main-panel .last-item .form-item{
	border:0;	
	margin-right: 0;
}
#aspcm-comparison-graph-form  #form-input #form-main-panel .last-item  .buttons-block{
    margin-top: 110px;
    text-align: right;
}
#aspcm-comparison-graph-form  #form-input #form-main-panel #edit-hospital{
	width:259px;
}
#aspcm-comparison-graph-form  #edit-hospital-autocomplete{
	clear:both;
}
#aspcm-comparison-graph-form   #edit-major-value-wrapper,
#aspcm-comparison-graph-form   #edit-horizontal-start-wrapper, 
#aspcm-comparison-graph-form   #edit-horizontal-end-wrapper{
    display: block;
    margin-top: 0 !important;
    padding-top: 5px !important;
}
#aspcm-comparison-graph-form   #edit-horizontal-start-wrapper,
#aspcm-comparison-graph-form   #edit-horizontal-end-wrapper{
    float: left;
    margin-right: 10px;
    width: 115px;
}
/* UI Dialog */
.ui-dialog h4{
	font-weight:bold;
    padding-bottom: 6px;
    padding-top: 20px;
}
.ui-dialog li{
	padding:5px 0;
}
.ui-dialog .form-radio{
	margin-right:10px;
}
.ui-dialog label.option input,
.ui-dialog label.option span{
	line-height:20px;
}
.ui-dialog .buttons-block{
	text-align:right;
	padding: 5px 0;
	clear:both;
}
.ui-dialog .buttons-block input{
	margin:0;
}
.ui-dialog  input.small{
	margin-right:0;
}
.popup-horiz-axis .ui-datepicker-trigger{
    padding: 6px 12px 6px 3px;
    vertical-align: bottom;
	cursor:pointer;
}
.ui-dialog #edit-fixed-value{
	margin-left:10px;
}
#popup-major .buttons-block .form-submit,
#popup-minor .buttons-block .form-submit,
#popup-horiz .buttons-block .form-submit {
	line-height: 16px;
}

/* Major and Minor Axis */
#major-axis .form-radios,
#max-major-axis .form-radios,
#minor-axis .form-radios,
#max-minor-axis .form-radios{
	float:left;
	margin: 0;
}
#max-major-axis .form-radios,
#max-minor-axis .form-radios,
.page-graph-comparison-graph #max-major-axis .form-radios,
.page-graph-comparison-graph #max-minor-axis .form-radios {
	width:263px;
	
}
#major-axis .form-radios,
#minor-axis .form-radios {
	width:200px;
}
#major-axis-bars .form-radios,
#minor-axis-bars .form-radios {
	margin:0;
}
#major-axis .form-radios .form-item,
#max-major-axis .form-radios .form-item,
#minor-axis .form-radios .form-item,
#max-minor-axis .form-radios .form-item{
	margin: 9px 0 0;
}
#major-axis #edit-major-wash-number-wrapper,
#major-axis #edit-major-antisepic-volume-wrapper,
#edit-major-fixed-value-wrapper,
#edit-major-infection-rate-wrapper,
#edit-minor-infection-rate-wrapper,
#minor-axis #edit-minor-wash-number-wrapper,
#minor-axis #edit-minor-antisepic-volume-wrapper,
#edit-minor-fixed-value-wrapper{
	width: 250px;
	float:left;
	margin: 2px 0;
}
#edit-major-infection-rate-wrapper,
#edit-minor-infection-rate-wrapper{
	margin-top:20px;
}
.ui-dialog select{
	width:270px;
	font-size:12px;
    height: 26px;
    line-height: 26px;
}
#edit-major-fixed-value-wrapper,
#edit-minor-fixed-value-wrapper{
	margin-top: 30px;
	width: 100px;
}

/* Horizontal Axis */
#horiz-axis label{ 
	display:inline;
	font-weight:normal;
}
#horiz-axis .form-radios{
	width:85px;
	float:left;
	margin-top:0;
}
#horiz-axis  .horiz-unit{
	float:left;
}
#horiz-axis  .horiz-unit label{
	float: left;
    padding: 6px;
}
#horiz-axis #edit-unit-of-period-displayed{
	width:75px;
}
#edit-horizontal-start-wrapper,
#edit-horizontal-end-wrapper,
.form-item-horizontal-start,
.form-item-horizontal-end {
    float: left;
    margin: 2px 0 12px;
    width: 120px;
	margin-top:6px !important;
}
#edit-horizontal-start-wrapper .field-prefix,
#edit-horizontal-end-wrapper .field-prefix,
.form-item-horizontal-start .field-prefix,
.form-item-horizontal-end .field-prefix{
	font-size:84.6%;
	line-height: 16px !important;
}
#edit-unit-of-period-displayed-wrapper{
	float:left;
	margin-top:0;
}

/* Preset Style */
#preset-panel ul.tabs {
    border-bottom: 2px solid #E40177;
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
	height:38px;
	zoom:1;
}
#preset-panel.tabs ul.tabs input.form-submit{
	text-align:center;
	margin: 0;
	width:178px;
	height: 37px;
	font-size:115.4%;
	color:#777;
	font-weight:bold;	
	text-transform: none;
	padding:0 !important;
	zoom:1;
	background: none;
}
#preset-panel.tabs ul.tabs input.form-submit:hover,
#preset-panel.tabs ul.tabs input.form-submit-hover,
#preset-panel.tabs ul.tabs input.hover{
	color:#E40177;
}
#preset-panel.tabs ul.tabs input.active,
#preset-panel.tabs ul.tabs input.active:hover{
	color:#fff;
}
#preset-panel  ul.tabs li{
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
    border: 1px solid #bbb;
	border-bottom:0;
	text-align:center;
    display: inline-block;
	width:182px;
	* float: left;
	margin-right:4px;
	padding:0;
	background:url("../images/bg-menunav-grey.png") repeat-x scroll left -13px #F2F2F2;
}
#preset-panel  ul.tabs li.tab-active{
	background: url("../images/bg-menu-active.gif") repeat-x scroll left bottom #F9C8E2;
	border: 1px solid #EB9BC5;
	border-bottom:0;
}

#form-view #form-view-filter .csv-upload {
  width:365px;
}
.csv-upload span,
.csv-upload #edit-import-wrapper
{
  float:left;
}
.csv-upload #edit-import-wrapper
{
  clear:left;
}
#main #aspcm-ward-annually-data-import #edit-upload
{
  margin-top: 18px !important;
}
/*contact us*/
#main .node-form .form-item-first-name,
#main .node-form .form-item-last-name,
#main .node-form .form-item-first-name-phonetic,
#main .node-form .form-item-last-name-phonetic {
  clear:none;
  float:left;
  width: 190px;
}
#main .node-form .form-item-last-name,
#main .node-form .form-item-last-name-phonetic {
  clear:none;
  float:left;
  width: 100px;
}
#main .node-form .form-item-first-name .form-text,
#main .node-form .form-item-last-name .form-text,
#main .node-form .form-item-first-name-phonetic .form-text,
#main .node-form .form-item-last-name-phonetic .form-text{
  width:100px;
}
#main .node-form .form-item-phone-1 .form-text,
#main .node-form .form-item-phone-2 .form-text,
#main .node-form .form-item-phone-3 .form-text {
  width:84px;
}
#main .node-form .form-item-zip-first .form-text,
#main .node-form .form-item-zip-second .form-text {
  width:50px;
}
#main .node-form .form-item-first-name span,
#main .node-form .form-item-last-name  span,
#main .node-form .form-item-first-name-phonetic span,
#main .node-form .form-item-last-name-phonetic span{
  font-size:100%;
  display: inline-block;
  width: 30px;
}
#main .node-form .form-item-employer-name,
#main .node-form .form-item-department-name,
#main .node-form .form-item-positions {
  clear:none;
  float:left;
  width:360px;
}
#main .node-form span.des,
#main .node-form span.dash {
  float:left;
}
#main .node-form span.dash {
  margin:10px 18px 0;
  display: block;
  width: 7px;
}
#main .node-form .form-item-zip-first ,
#main .node-form .form-item-zip-second,
#main .node-form #edit-title-wrapper,
#main .node-form .form-item-message {
  clear:none;
  float:left;
}
#main .node-form .form-item-address .field-prefix {
  margin-top:15px;
}
#main .node-form .form-item-phone-1,
#main .node-form .form-item-phone-2,
#main .node-form .form-item-phone-3 {
  clear:none !important;
  float:left;
  width:90px;
  padding:0;
  zoom:1;
}
#main .node-form .form-item-phone-1  input,
#main .node-form .form-item-phone-2  input,
#main .node-form .form-item-phone-3  input{
  margin-left:0;
  zoom: 1;
  display:inline;
}
#main .node-form .form-item-email-1,
#main .node-form .form-item-email-2 {
  clear:both;
  margin-left:265px;
}
#main .node-form .form-item-email-1{
	padding-top:0;
}
#main .node-form  .phone-info .phone-block {
  clear:both;
  padding-left:265px;
  padding-top:0;
}
#main .node-form  .email-item label,
#main .node-form  .phone-info label {
	padding-bottom:0;
}
#main .node-form .phone-info .phone-block span.dash {
	margin-top:5px;
}
#aspcm-email-form #edit-form-submit/*,
#user-profile-form #edit-submit-1*/{
	background-position: -1902px 0 !important;
	width:186px !important;
}
#aspcm-email-form #edit-form-submit:hover/*,
#user-profile-form #edit-submit-1:hover*/{
  background-position:-1902px -37px !important;
}
.form-item-address .field-prefix,
#main .node-form .form-item-email-1 .field-prefix,
#main .node-form .form-item-email-2 .field-prefix {
  display:block;
}
#main .node-form .form-item-address,
#main .node-form .form-item-email-2  {
  margin-left:265px;
}
#main .node-form .form-item-email-2 ,
#main .node-form .form-item-address {
	margin-top:0;
}
#aspcm-email-form span.des{
  font-size:85%;
  padding-top:9px;
  line-height: 20px;
}
#aspcm-email-form span.phone-des{
	display: block;
}
#aspcm-email-form span.same-line-des {
	padding:10px 0 0 10px;
	width:110px;
}
#aspcm-email-form span.new-line-des  {
  margin-left:265px;
  display: block;
  clear:both;
  float:none !important;
}
#aspcm-email-form span.field-prefix {
  float: left;
  padding: 9px 0 0 0;
  width: 30px;
}
#aspcm-email-form span.zip-field-prefix {
  width: 60px;
}
#aspcm-email-form span strong{
  font-weight:bold;
}
#main #aspcm-email-form .form-item label {
    padding-right: 25px;
    padding-top: 10px;
    width: 215px;
}
#main #aspcm-email-form #edit-drop-down-1-wrapper label{
  padding-top:5px;
}
#aspcm-email-form #edit-choose .form-item-choose,
#aspcm-email-form #question-type-yes .form-item-question-type-yes,
#aspcm-email-form #question-type-no .form-item-question-type-no{
    clear: none;
    float: left;
}
#aspcm-email-form #edit-choose .form-item-choose{
  margin-right:32px;
  clear:none;
}
#user-register #edit-submit-1,
#user-register-form #edit-submit{
	margin-left:290px;
	margin-right:10px;
}
#aspcm-email-form .contact-button-block #edit-form-submit{
	margin-left:145px;
	margin-right:0;
}
#aspcm-email-form.aspcm-email-form-confirm
{
    margin-top:10px;
}
#aspcm-email-form #edit-send{
	margin-left: 140px;
}
#aspcm-email-form.aspcm-email-form-confirm .confirm-title,
#user-register fieldset legend,
#user-register-form fieldset legend,
#user-profile-form fieldset legend
{
  display:block;
}
#user-register fieldset legend,
#user-register-form fieldset legend
{
  width: 97%;
}
#main #aspcm-email-form.aspcm-email-form-confirm .form-item label
{
  background-color:#fff;
  padding-top:0;
}
#aspcm-email-form.aspcm-email-form-confirm .form-item span
{
  float: left;
  width: 608px;
}
#aspcm-email-form.aspcm-email-form-confirm .form-item li
{
  margin-bottom:15px;
}
#aspcm-email-form .textarea-identifier,
#aspcm-email-form .messages
{
  display:none;
}
#main #aspcm-email-form .form-item .form-radios {
	padding-top: 10px;
}

/*serverity level*/
.serious-level-item
{
  width:80%;
}
.normal-level-item
{
  width:70%;
}
.patient-state-item
{
  width:40%;
}
.point-0-1,
.point-0-1-2
{
  width:10%;
}
#severity_cond .point-0-1-2,
#nursing_cond .point-0-1-2,
#normal_nursing_cond .point-0-1-2
{
  width:20%;
}
.serverity-menu a
{
  background: url("../images/bg-icons.gif") no-repeat scroll right -316px transparent;
  color:#777;
  line-height: 18px;
  letter-spacing:0;
  padding: 3px 25px 3px 0;
  text-decoration:underline !important;
  display:none;
}
.serverity-menu a:hover
{
  color:#E20177;
  background-position: right -340px;
}
.serverity-menu .current
{
  display:inline;
}
.serverity-menu  .back_to_severity,
.serverity-menu .back_to_nurse
{
  background-position: left -363px;
  padding:3px 0 2px 25px;
}
.serverity-menu  .back_to_severity:hover,
.serverity-menu .back_to_nurse:hover
{
  background-position: left -386px;
}
.serverity-menu .navi_to_result
{
  background-position: 74px -316px;
  margin-left: 50px;
}
.serverity-menu .navi_to_result:hover
{
  background-position: 74px -340px;
}
.serverity-menu .menu-links {
    float: right;
    margin-bottom: 15px;
    text-align: right;
    width: 500px;
}
.serverity-menu .footer-mess .menu-links{
	clear:both;
	margin-top: 10px;
}
.serverity-menu .next_to_nurse {
  background-position: 191px -316px;
}
#normal_nursing_treat{
	margin-top:10px;
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) 
{
  .serverity-menu  .back_to_severity,
  .serverity-menu .back_to_nurse,
  .serverity-menu .navi_to_result {
    padding-top:0;
  }
  .serverity-menu .navi_to_result {
    background-position: 76px -316px;
    margin-left: 50px;
  }
  .serverity-menu .navi_to_result:hover
  {
    background-position: 76px -340px;
    padding-bottom:0;
  } 
   .serverity-menu .next_to_nurse
   {
     background-position: 199px -312px;
   } 
   .serverity-menu .next_to_nurse:hover
   {
     background-position: 199px -336px;
   }    
}
.score_region,
.belong-to
{
  float:right;
  font-weight:bold;
  margin:15px 0;
}
#severity_cond,
#nursing_cond,
#normal_nursing_cond
{
  clear:both;
}
.level-tables
{
  clear:both;
}
.level-criterion
{
  font-weight:bold;
}
.severity-category
{
  width:70%;
}
#severity_result_page .highlighted,
#normal_severity_page .level-criterion .highlighted
{
	background-color: #F8C0DD;
}
.score-title{
	width:15%;
}
/* News List Page */
.view-aspcm-all-news table.views-table{
	border-collapse: collapse;
	border:0;
}
.view-aspcm-all-news table.views-table td,
.view-aspcm-all-news table.views-table tr{
	border:0;
}
.view-aspcm-all-news table.views-table thead,
.view-aspcm-all-news table.views-table th{
	display:none;
}
.view-aspcm-all-news table.views-table .views-field-created{
	width:80px;
	vertical-align: top;
}
.view-aspcm-all-news table.views-table td a{
	background:none;
	padding:0;
}
#main .node-type-aspcm_news .content-manual{
	border:0;
	-moz-border-radius: 0; 
	border-radius: 0;
	padding-left: 0;
}
/*user login page*/
#user-pass .form-item label,
#user-login .form-item label {
	background-color: #fff;
}
#user-pass #edit-submit,
#user-login #edit-submit {
	margin-left: 290px;
	margin-top: 15px;
	height: 28px;
}
#user-pass .form-submit {
	width: 230px;
	background-position: -656px 1px;
}
#user-pass .form-submit:hover, 
#user-pass .form-submit-hover {
	background-position: -656px -27px;
}

/*hospital search block*/
#search-block  span,
#ward-search-block span {
	float: left;
	margin: 26px 0 20px 20px;
}
#search-block #edit-hospital-wrapper,
#search-block .form-item-hospital,
#ward-search-block #edit-ward-wrapper {
	float: left;
    margin: 20px 20px 20px 10px;
}
#search-block .form-submit,
#ward-search-block .form-submit {
	float: left;
	margin: 18px 0 20px;
}
#search-block .form-text, 
#ward-search-block .form-text {
    border: 1px solid #CCC;
    padding: 3px;
    width: 200px;
}
#search-block .form-item input.error, 
#ward-search-block .form-item input.error{
	color: #000;
	border: 1px solid #f47b20;
}
/*three bottom link*/
#legalnotice-content {
  font-size: 92.3%;
}
#legalnotice-content a:link, 
#legalnotice-content a:visited {
    color: #666;
    text-decoration: underline;
}
#legalnotice-content a:hover,
#legalnotice-content a:active{
    color:#E20177;
	text-decoration: underline;
}
#legalnotice-content  h2,
#legalnotice-content  h3{
   background: url("../images/bg-menunav.png") repeat-x scroll left bottom transparent;
   -moz-border-radius-topright: 3px;
   -moz-border-radius-topleft: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   padding: 5px 10px 3px;
   font-size: 100%;
   zoom:1;
}
#legalnotice-content  h2 span,
#legalnotice-content  h3 span{
    border-left: 5px solid #FFF;
	color: #FFF;
    font-size: 130.8%;
	font-weight: bold;
    padding: 0 0 0 16px;
    display: block;
	line-height: 123%;
	zoom:1;
}
#legalnotice-content .gray-box{
   background-color: #F2F2F2;
   padding: 10px;
   color: #000;
   line-height: 150%; 
}
#legalnotice-content .box-content{
  padding: 0 10px 10px;
  margin-top: 10px;
}
#legalnotice-content .box-content p,
#legalnotice-content .box-content ol{
  margin-bottom: 0px;
}
#legalnotice-content .top25{
  margin-top: 25px;
}
#legalnotice-content .top30{
  margin-top: 30px;
}
#legalnotice-content  #lower-roman{
   list-style: lower-roman outside none;
   padding: 0px 0px 0px 20px;
   margin: 0px;
}
#main .content #legalnotice-content .mod-h3{
    background: none ;
    color: #000;
    font-size: 115.4%;
    font-weight: bold;
    line-height: 140%;
    padding: 0px 12px 0 0;
}
#legalnotice-content .mod-h3 span{
	background: url("../images/bg-icons.gif") no-repeat scroll left -182px transparent;
	display: block;
	padding-left: 12px;
	padding-top: 2px;
	vertical-align: middle;
}
#legalnotice-content .mod-h4{
	background: url("../images/bg-icons.gif") no-repeat scroll left -429px transparent;
    color: #000000;
    font-weight: bold;
    padding: 0 12px;
}
#legalnotice-content ul.mod-ul {
    list-style-type: none;
	margin:0px;
	padding:0px;
}
#legalnotice-content ul.mod-ul li{
    list-style: disc outside none;
    margin: 0 0 0 15px;
    min-height: 1.5em;
    padding: 0;
}
#legalnotice-content a.pdf{
	background: url("../images/bg-icons.gif") no-repeat scroll right -279px transparent;
    margin: 0;
    min-height: 1.5em;
    padding: 3px 18px 0 0;
}
#legalnotice-content .mod-dl dd{
    margin: 0;
    padding: 0;
    width: 100%;
}
#legalnotice-content .mod-dl dt{
   font-weight: bold;
   margin: 0;
   padding: 0 0 5px;
}
#legalnotice-content  ol.order{
   list-style-type: decimal;
   padding-left: 14px;
}
#legalnotice-content a.new-link{
   background: url("../images/bg-icons.gif") no-repeat scroll right -300px transparent;
   margin: 0;
   min-height: 1.5em;
   padding: 0 17px 0 0;
}
#legalnotice  #main h1{
   background: none;
   border: none;
   color: #000;
   font-size: 197%;
   padding-left:0px;
   font-weight: 400;
}
#legalnotice #main .content-manual{
   -moz-border-radius: 0px;
}
#legalnotice #main h3{
   margin-top: 20px;
}

/*user register*/
#user-register .form-item label,
#user-register-form .form-item label,
#user-profile-form .form-item label
{
  background-color:#fff;
}
#user-register .form-item label.option,
#user-register-form .form-item label.option,
#user-profile-form .form-item label.option
{
  /*padding-left: 0;*/
  /*width: 127px;*/
}
#user-register #edit-pass-pass2-wrapper,
#user-register-form #edit-pass-pass2-wrapper
{
  clear:both;
}
#user-profile-form .password-description,
#user-register .password-description,
#user-register-form .password-description
{
  margin-left:290px;
  margin-top:5px !important;
  margin-bottom:5px;
}
.confirm-parent{
	margin-top:1em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #user-register #edit-name-wrapper,
  #user-register #edit-asp-japanese-name-wrapper,
  #user-register-form #edit-name-wrapper,
  #user-register-form #edit-asp-japanese-name-wrapper
  {
    padding-top:1em;
  }
}
#user-register #edit-asp-hospital-name-visiable,
#user-register-form #edit-asp-hospital-name-visiable,
#user-profile-form #edit-asp-hospital-name-visiable {
	float: left;
}
#user-register #edit-submit-1,
#user-register-form #edit-submit
{
  background-position:-1902px 0;
  clear: both;
  float: left;
  width:186px;
}
#user-register #edit-submit-1:hover,
#user-register #edit-submit-1.form-submit-hover,
#user-register-form #edit-submit:hover,
#user-register-form #edit-submit.form-submit-hover
{
  background-position:-1902px -37px;
}

/*user profile page*/
#user-profile-form .form-item{
	padding: 3px 0;
	margin: 3px 0;
	clear: both;
}
#user-profile-form .form-item .form-radios .form-item{ 
	padding: 0;
	margin: 0;
	clear: none;
}
#user-profile-form .form-item .form-checkboxes, 
#user-profile-form .form-item .form-radios {
	margin: 0;
}
#user-profile-form .form-item-asp-hospital-name-visiable,
#user-register #edit-asp-hospital-name-visiable-wrapper,
#user-register .form-item-asp-ward-name-visiable,
#user-register-form #edit-asp-hospital-name-visiable-wrapper,
#user-register-form .form-item-asp-ward-name-visiable  {
	clear: none;
	float: left;
	/*width: 550px*/
}
#user-profile-form .form-item-asp-hospital-name-visiable
{
  clear:left;
}
#user-profile-form .form-item-asp-hospital-name-visiable.hospital-name-only,
#user-register-form .form-item-asp-hospital-name-visiable-noajax
{
  width:100%;
  position: relative;
}
#user-profile-form .form-item-asp-hospital-name-visiable.hospital-name-only input
{
  margin-left:0;
}
#user-profile-form .form-item-asp-ward-name-visiable
{
  clear:right;
  float: left;
}
#user-profile-form .form-item-asp-ward-name-visiable,
#user-register .form-item-asp-ward-name-visiable,
#user-register-form .form-item-asp-ward-name-visiable
{
  margin-left:0;
	/*width: 350px;*/
}
#user-profile-form .form-item-asp-ward-name-visiable #edit-asp-ward-name-visiable,
#user-register #edit-asp-ward-name-visiable,
#user-register-form #edit-asp-ward-name-visiable {
    margin: 0;
    width: 356px;
}
#user-profile-form .form-item .form-autocomplete,
#user-register .form-item .form-autocomplete,
#user-register-form .form-item .form-autocomplete
{
	margin-left:0;
	/*width: 500px;*/
}
#user-register #edit-asp-hospital-name-visiable-noajax,
#user-register-form #edit-asp-hospital-name-visiable-noajax{
	margin-left:0px;
}
#user-register .form-item  #autocomplete,
#user-register-form .form-item  #autocomplete,
#user-profile-form .form-item  #autocomplete 
{
  margin:48px 0 0 15px !important;
}
#user-register #edit-asp-hospital-name-visiable-noajax-wrapper #autocomplete,
#user-register-form .form-item-asp-hospital-name-visiable-noajax #autocomplete,
#user-profile-form .hospital-name-only  #autocomplete 
{
  margin:22px 0 0 290px !important;
}
.node-type-aspcm-hospital #product-finder-widget .product-search-info {
    top:446px\0;
}
.page-graph-comparison-graph #aspcm-comparison-graph-form #form-input #form-main-panel #edit-hospital {
    width: 271px;
}
.page-graph-comparison-graph #form-input input.small,
.page-graph-comparison-graph #form-input #form-main-panel  input.small{
    width:80px;
    margin-top: 5px;
}
.page-graph-comparison-graph #form-input #form-main-panel .form-item-major-value, .page-graph-comparison-graph #form-input #form-main-panel .form-item-minor-value {
    width: 100%;
}
.include-form {
    float: left;
    width: 100%;
}
/* Big Buttons */
.btn-long-container{
    background: url("../images/bg-btns-input.gif") no-repeat scroll -1575px 1px transparent;
    padding: 0 0 0 25px;
    text-align: right;
    width: 110px;
	float:left;
	margin-right:15px;
}
.btn-long-container input{
	margin:0 !important;
	background: url("../images/bg-btns-input.gif") no-repeat scroll -1775px 1px transparent !important;
    float: none !important;
    padding-right: 10px !important;
	padding-left:0 !important;
    text-align: center !important;
    width: 120px !important;
	display:block !important;
}
.btn-long-container:hover input ,
.btn-long-container input:hover{
	background-position: -1775px -27px !important;
}
.btn-long-container:hover{
	background-position: -1575px -27px;
}
#graph-tab-container {
	margin-top:15px;
}
#aspcm-graph-form #buttons-block{
    float: right;
    margin-top: -7px;
}
#aspcm-graph-form #buttons-block  .btn-long-container{
	float:right;
	margin-left: 5px;
}
#form-aspcm-graph #edit-generate-main{
	float:left !important;
}
/*three bottom link*/
#legalnotice-content {
  font-size: 92.3%;
  color: #333;
}
#legalnotice-content a:link, 
#legalnotice-content a:visited {
    color: #666;
    text-decoration: underline;
}
#legalnotice-content a:hover,
#legalnotice-content a:active{
    color:#E20177;
	text-decoration: underline;
}
#legalnotice-content  h2,
#legalnotice-content  h3{
   background: url("../images/bg-menunav.png") repeat-x scroll left bottom transparent;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-topright: 3px;
   -moz-border-radius-bottomleft: 3px;
   -moz-border-radius-bottomright: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   border: none !;
   padding: 5px 10px;
   font-size: 100%;
}
#legalnotice-content  h2 span,
#legalnotice-content  h3 span{
    border-left: 5px solid #FFF;
	color: #FFF;
    font-size: 130.8%;
	font-weight: bold;
    padding: 0px 0 0 16px;
    display: block;
	line-height: 123%;
}
#legalnotice-content .gray-box{
   background-color: #F2F2F2;
   padding: 10px;
   color: #000;
   line-height: 150%; 
}
#legalnotice-content .box-content{
  padding: 0 10px 10px;
  margin-top: 10px;
}
#legalnotice-content .box-content p,
#legalnotice-content .box-content ol{
  margin-bottom: 0px;
}
#legalnotice-content .top15{
  margin-top: 15px;
 }
#legalnotice-content .top20.mod-ul,
#legalnotice-content .top20{
  margin-top: 20px;
}
#legalnotice-content .top25{
  margin-top: 25px;
}
#legalnotice-content .top30{
  margin-top: 30px;
}
#legalnotice-content  #lower-roman{
   list-style: lower-roman outside none;
   padding: 0px 0px 0px 20px;
   margin: 0px;
}
#main .content #legalnotice-content .mod-h3{
    background: none ;
    color: #000;
    font-size: 115.4%;
    font-weight: bold;
    line-height: 140%;
    padding: 0px 12px 0 0;
}

#legalnotice-content .mod-h3 span{
	background: url("../images/bg-icons.gif") no-repeat left -209px;
	display: block;
	padding-left: 12px;
	padding-top: 2px;
	vertical-align: middle;
}
.section-help .content-manual img {
	border:1px solid #999;
	margin: 5px 0;
}
.section-help .content-manual h2 {
    color: #444 !important;
    font-size: 130.8%;
    font-weight: bold;
    clear: both;
    margin: 0 0 25px !important;
    padding-top: 15px;
	padding-bottom: 2px;
	zoom:1;
}
.section-help .content-manual h3 {
    color: #000 !important;
    font-size: 107.7%;
    font-weight: bold;
    margin: 15px 0 !important;
	zoom:1;
}
.section-help .content-manual ol li{
    padding: 4px 12px;
	* padding: 4px;
	list-style: decimal outside none;
	margin:0 0 0 20px;
	* margin:0 0 0 25px;
}
#legalnotice-content .mod-h4,
.section-help  .content-manual .page-help-content ol li{
	background: url("../images/bg-icons.gif") no-repeat scroll left -429px transparent;
    color: #000;
    font-weight: bold;
    padding: 0 12px;
	list-style-type: none;
	margin:0;
	margin-bottom: 10px;
	font-size:107.7%;
	zoom:1;
	vertical-align:top;
}
.section-help  .content-manual .page-help-content ul{
	margin-top: 10px;
}
.section-help  .content-manual .page-help-content ul li{
	background: none;
    color: #535353;
    font-weight: normal;
    padding: 0;
	padding-left: 20px !important;
	list-style-type: none;
	margin-bottom: 0px;
	font-size:92.9%;
}
.section-help .content-manual {
	/*padding: 0 10px !important;*/
}
.section-help .content-manual a {
	background: url("../images/bg-icons.gif") no-repeat scroll -8px -161px transparent;
    display: inline;
    padding-left: 14px;
}
.section-help .content-manual  .page-help-content a,
.section-help .content-manual h2 a,
.section-help .content-manual h3 a, 
.section-help .content-manual h4 a  {
	background: none !important;
    display: inline !important;
    padding-left: 0 !important;
}
.section-help #content-top .bg-print{
	line-height:20px;
	background-position: left -107px !important;
} 
#legalnotice-content ul.mod-ul {
    list-style-type: none;
	margin:0px;
	padding:0px;
}
#legalnotice-content ul.mod-ul li{
    list-style: disc outside none;
    margin: 0 0 0 15px;
    min-height: 1.5em;
    padding: 0;
	line-height: 1.3em;
}
#legalnotice-content a.pdf{
	background: url("../images/bg-icons.gif") no-repeat scroll right -279px transparent;
    margin: 0;
    min-height: 1.5em;
    padding: 3px 18px 0 0;
}
#legalnotice-content .mod-dl dd{
    margin: 0px 0px 20px 0px;
    padding: 0;
    width: 100%;
}
#legalnotice-content .mod-dl dt{
   font-weight: bold;
   margin: 0;
   padding: 0 0 5px;
}
#legalnotice-content  ol.order{
   list-style-type: decimal;
   padding-left: 20px;
   line-height: 1.5em;
}
#legalnotice-content a.new-link{
   background: url("../images/bg-icons.gif") no-repeat scroll right -299px transparent;
   margin: 0;
   min-height: 1.5em;
   padding: 0 17px 0 0;
}
#legalnotice  #main h1{
   background: none;
   border: none;
   color: #000;
   font-size: 197%;
   padding-left:0px;
   font-weight: 400;
}
#legalnotice  #main h1 span{
   padding-left: 0px;
   border: 0px;
   text-shadow: 1px 1px 0.1em #999;
}
#legalnotice #main .content-manual{
   -moz-border-radius: 0px;
}
#legalnotice #main h3{
   margin-top: 20px;
}
#legalnotice #main .content h2{
   margin: 40px 0px 0px 0px;
}
/*before logging*/
.not-logged-in #main .img-with-text {
    background: url("/sites/default/files/image-home.png") no-repeat 0 0 scroll;
}
/* parent title */
#title-main .hospital-mgmt{
    background: url('../images/icons/blocks/icon_38_32.png') no-repeat 0 0 scroll #FFF;  
}
#title-main .content{
    background: url('../images/icons/blocks/icon_16_32.gif') no-repeat 0 0 scroll #FFF;   
}
#title-main .masters-mgmt{
    background: url('../images/icons/blocks/icon_34_48.gif') no-repeat 0 0 scroll #FFF; 
}
#title-main .severity_level{
    background: url('../images/icons/blocks/icon_38_48.gif') no-repeat 0 0 scroll #FFF; 
}
#title-main .graph{
    background: url('../images/icons/blocks/icon_36_48_.gif') no-repeat 0 0 scroll #FFF;
}
#title-main .ward-data{
    background: url('../images/icons/blocks/icon_17_48_.gif') no-repeat 0 0 scroll #FFF;
}
#title-main{
	margin-left: 30px;
	margin-top: 20px;
}
#title-main span{
    color: #535353;
	font-size: 184.6%;
	padding: 10px 0 11px 45px;
	display: block;
	text-shadow: 1px 1px 0.1em #999;
}
.page-home #main h1.title{
   background: url("../images/icons/blocks/icon_18_48.gif") no-repeat 0 0 scroll #FFF !important;
   padding-left: 0;
   margin: 8px 0 0;
   padding-bottom: 17px;
   zoom:1;
}
.page-home #main h1.title span {
	padding-left: 43px;
	border-left: 0px;
	line-height: 1.2em;
	zoom:1;
}
.search-autoc{
	display:block;
	background: url("../images/bg-icons.gif") no-repeat scroll 0 -409px transparent;
	cursor:pointer;
    height: 19px;
    margin: 1px 0 0 5px;
	* margin: 1px 0 0 1px;
    width: 20px;
	float:left;
}
.sev-name{
	width:40px !important!;
}
.section-help .full-node{
	 clear:both;
}
.section-help  #main .content-manual{
	-moz-border-radius:0;
	border-radius:0;
}
html.js fieldset.collapsible .fieldset-wrapper {
    overflow: visible !important;
}

/****add by Benny for ACMSUPP-13 20111207 begin*****/
#user-verification #legalnotice-content ul.mod-ul li {
	line-height: 1.4em;
	min-height:auto !important;
}

#user-verification #legalnotice-content {
	font-size: 94.3%;
}
/****add by Benny for ACMSUPP-13 20111207 end*****/

/*drupal version update*/
#main .vertical-tabs fieldset.vertical-tabs-pane{
	clear:none;
	padding:0;
}
.vertical-tabs fieldset.vertical-tabs-pane .fieldset-wrapper{
	padding: 0 13px 13px 15px;
}
#main .vertical-tabs fieldset.vertical-tabs-pane label{
	padding:0;
	margin:0;
	float:none;
}
#main .vertical-tabs fieldset.vertical-tabs-pane div.description{
	margin: 5px 0;
}
#main .vertical-tabs fieldset.vertical-tabs-pane .form-item{
	padding: 9px 0;
	margin: 0 0 10px;
}
#main .node-form .form-item .resizable{
	width:500px;
	float:left;
}
#main .status{
	padding:12px 10px 10px 40px;
}
.form-item-srch-cname,.form-item-srch-pname{
	float:left;
	margin: 10px 10px 10px 0;
}
.form-item-srch-pname{
	margin: 0 10px 8px 0;
	clear:left;
}
.form-item-srch-cname label,.form-item-srch-pname label{
	color: #535353;
	font-size: 12px;
	display: inline-block;
	width: 150px;
	vertical-align: bottom;
}
#main #edit-field-aspcm-disease .form-item .form-item{
	margin:3px 0;
}
#main #edit-field-aspcm-disease .form-item .description{
	margin-left:0;
}
.field-name-field-aspcm-disease{
	margin-top:-7px;
}
.node-aspcm_severity-form .vertical-tabs{
	clear:both;
}
.node-aspcm_severity-form .form-type-textarea:after{
	content:"";
	display:block;
	clear:both;
}
#edit-field-aspcm-disease .tabledrag-toggle-weight-wrapper,
#edit-field-aspcm-disease .field-multiple-table thead,
#edit-field-aspcm-disease .field-multiple-table .field-multiple-drag{
	display:none;
}
.product-finder-popup{
	position: absolute;
	top: 788px !important;
	left: 228px !important;
}
#main .node-aspcm_condition-form #edit-submit{
	margin-right:50px;
}

.content-manual .field-name-field-aspcm-important,
#user-register-form .form-item-asp-hospital-name-visiable-noajax
{
	display:none;
}

#user-register-form .password-strength,
#user-register-form div.password-confirm,
#user-profile-form .password-strength,
#user-profile-form div.password-confirm{
	float: right;
	margin-right: 65px;
	margin-top: 5px;
	width: 180px;
}

#user-register-form .password-strength .password-strength-text,
#user-profile-form .password-strength .password-strength-text{
	float:right;
        width:75px;
}
#user-register-form .password-suggestions,
#user-profile-form .password-suggestions{
	background: #fff0c9 none;
	border: solid 1px #f47b20;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}
#user-register-form .password-confirm.form-text,
#user-profile-form .password-confirm.form-text{
	display:block;
}
#user-register-form .password-parent,
#user-register-form .confirm-parent{
	width:100%;
}
#user-register-form .form-radios .form-item{
	padding: 0 15px 5px 0;
	float: left;
	width: 127px;
	margin-right: 10px;
}
#user-register-form .form-radios .form-item:after,
#user-register-form .form-item-asp-ward-name-visiable:after,
#user-register-form .form-item-asp-hospital-name-visiable:after,
#user-register-form .form-item-asp-hospital-name-visiable-noajax:after,
#aspcm-comparison-graph-form #form-main-panel .left .form-item .form-type-checkbox:after{
	content: "";
	display:block;
	clear:both;
}
#user-register-form .form-radios input{
	float:left;
}
#user-register-form .form-radios label.option{
	padding: 0 0 0 5px;
	width: 80px;
	margin:0;
}
#user-register-form #edit-asp-hospital-name-visiable{
	/*clear:left;*/
}
#user-register-form .form-item #edit-asp-ward-name-visiable{
	width:356px;
}
#user-register-form .form-item-asp-ward-name-visiable{
	float:left;
	/*width:300px;*/
}
#user-register-form .form-item-asp-hospital-name-visiable{
	float:left;	
	/*width:560px;*/
}
#aspcm-ward-annually-data-view .form-item-hospital,
#aspcm-ward-annually-data-view .search-autoc,
#aspcm-graph-form .form-item-hospital,
#aspcm-graph-form .search-autoc{
	float:left;
}
#aspcm-graph-form #form-input #form-main-panel #edit-ward{
	margin:0;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-item .form-type-checkbox{
	padding:10px 0 5px 0;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left input.form-checkbox,
#aspcm-comparison-graph-form #form-input #form-main-panel .left label.option{
	float:left;
	padding-top:0;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left label.option{
width:106px;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-checkboxes .form-item-select-all-above-conditions-select-all,
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-item-select-all-above-conditions-select-all label{
	width:auto;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-checkboxes .form-item-select-all-above-conditions-select-all{
	padding: 10px 0 0 3px;
}
#severity_severity_page label,
#normal_severity_page label,
#severity_nursing_page label{
	display:inline;
	font-weight:normal;
}
#legalnotice #main .field-items{
	width:100%;
}
/*#legalnotice #main h1{
	margin-bottom:0;
	padding-bottom:0;
}*/
#legalnotice.page-contact-us #main h1{
	margin: 10px 0 15px 0;
	padding: 7px 0 6px 10px;
}
#legalnotice #main .rtecenter{
	white-space:nowrap;
}

/* 6-7 id change */
#horiz-axis .form-item-unit-of-period-displayed{
	float:left;
	margin-top:0;
}
#edit-major-fixed-value {
   margin-top: 30px;
}
#edit-minor-fixed-value {
  margin-top: 30px;
}

#aspcm-ward-node-form .clearfix .field-add-more-submit {
  width: 116px;
  background-position: -357px 1px;
}
div.messages ul {
  margin: 0 0 0 0em; /* LTR */
  padding: 0;
}
input.form-radio {
  vertical-align: baseline;
}
input.form-checkbox {
  vertical-align: baseline;
}
body.in-maintenance #main {
  padding: 10px 30px 10px 32px;
}
body.in-maintenance #main #content-content div{
  padding: 5px 0px 0px 0px;
}
body#maintenance .sizer0{
  width: 686px;
}
#maintenance #header{
  background: none #D11271;
  height: 100px;  
}
#maintenance #main h1 span{
  padding-left: 0px;
  border: 0px;
  text-shadow: 1px 1px 0.1em #999;
}
#maintenance #main h1 {
  background: none;
  border: none;
  color: #000;
  font-size: 197%;
  padding-left: 0px;
  font-weight: 400;
}
#maintenance #footer .left{
  float: none;
  text-align: center;
}
#maintenance #footer .right{
  float: none;
  text-align: center;
}
div.status,
.ok {
  color: #008000;
}
.warning {
  color: #e09010;
}
.error {
  color: #e55;
}
.form-radios {
    margin-top: 20px;
}
#form-input #form-main-panel .select-wards .form-submit {
    margin: 0;
    padding: 0;
    line-height: 28px;
}
.form-item-major-wash-number, .form-item-minor-wash-number {
    margin-bottom: 0;
    margin-top: 0;
}
.form-item-major-antisepic-volume, .form-item-minor-antisepic-volume {
    margin-top: 0;
    padding-top: 4px;
}
.form-item-major-infection-rate, .form-item-minor-infection-rate {
    padding-top: 14px;
}
.form-item-major-value, .form-item-minor-value {
    width: 265px;
}
#form-input select#edit-own-government-dept {
    width: 273px;
}