/****************************/
/* GENERAL STYLE CSS        */
/****************************/
/* 
	Styles for main structure only.
*/

body{
	font-family: "ＭＳ Ｐゴシック","MS P Gothic","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,Osaka,sans-serif;
	font-size: 13px;   /*81.3%*/
}
.expander0, #top_right, #body_right, #bottom_right, #sidebar-left, #sidebar-right, 
body.layout-left-main-right .outer, body.layout-left-main .outer, body.layout-main-right .outer, 
body.layout-left-main-right .outer a, body.layout-left-main .outer a, body.layout-main-right .outer a {
	zoom: 1;
}
.fs11{
	font-size:84.6% !important;
}
.fs13{
	font-size:100% !important;
}
.wauto{
	width:auto !important;
}
.left{ 
	float:left;
}
.right{ 
	float:right;
}
.tar{
	text-align:right !important;
}
.tal{
	text-align:left;
}
.tac{
	text-align:center;
}
.b{
	font-weight:bold;
}
.clear{ 
	clear:both; 
	height: 0;
	margin: 0;
	padding:0;
	font-size: 0px;
	line-height: 0;
}
.nowrap{
	white-space: nowrap;
}
/*******************************/
/* CUSTOM FIXED or FLUID WIDTH */
/*******************************/ 
body.layout-fixed .sizer0 {
	width: 1008px;
}
body.layout-fixed #top_right, 
body.layout-fixed #body_right {
    padding: 0 24px;
}

/* Header */
#logo img {
    margin: 0 30px;
	border: 0 none;
    padding: 0;
	display: block;
}
#header{
	background: url("../images/bg-header.jpg") no-repeat scroll top right #D11271;
	height: 100px;
}
/*
.front #header.front-header{
	background: #D11271;
}*/
#logo {
    float: none;
    margin-bottom: 0px;
}
#logo a{
	padding:0;
	margin:0;
	display: block;
}
#above {
    background: #FFF;
}
#above .left img{
	width:296px;
	margin-top: 10px;
	height: 50px;
}
#legalnotice #above .left img{
    margin-bottom: 10px;
    margin-top: 20px;
}
#above .block{
	margin:0;
	padding:10px 0 0 0;
}
#above  .right{
	text-align:right;
}
#top_left {                                 /*sprite imgs*/
    background: url("../images/fill_top_bg_128.png") no-repeat scroll -24px 100% transparent;
}
#top_right {
    background: url("../images/fill_top_bg_128.png") no-repeat scroll 984px 100% transparent;
}
#content-top div{
	padding:0 !important;
	margin:0 !important;
	display:block;
}
#content-top p{
	margin: 0 !important;
}
#content-top{
    float: right;
    padding: 0 0 10px;
    width: 200px;
}
.section-help #content-top{
	width: 100%;
}
.section-help #content-top .block-wrapper{
	width:400px;
}
.section-help #content-top .odd{
	float:right;
}
.section-help #content-top .even{
	float:left;
}
.page-ward-monthly-data-input  #content-top{
	padding: 2px 0;
}
.page-graph-comparison-graph #content-top,
.page-ward-data-ward-annually-data-view #content-top{
	padding-bottom: 10px;
}

/* Main */
a:hover {
	color:#e20177;
}
.not-front #main{
	padding:10px 30px 10px 32px;
}
.layout-main-right #main{
	padding:10px 30px 10px 32px;
}
#main{
	padding:10px 30px 10px 32px;
}

#sidebar-right {
    margin: 13px 32px 20px 0;   /*20 60 20 0*/
}
.themed-blobk{
	margin-bottom:17px;
}
#body_left {                                        /*sprite imgs*/
    background: url("../images/fill_bg_64.png") repeat-y scroll -24px 0 transparent;
}
#body_right {
    background: url("../images/fill_bg_64.png") repeat-y scroll 984px 0 transparent;
}

/* Up Link in a bottom */
#content-bottom .up-link {
	margin: 5px 32px 0;
    text-align: right;
}
#content-bottom .up-link  a{
	zoom:1;
	background: url("../images/bg-icons.gif") no-repeat scroll right -53px transparent;
    color: #E7489B;
    display: inline-block;
    font-size: 77%;
    line-height: 16px;
	padding-right: 20px;
    text-decoration: none;
}
#content-bottom .up-link  a:hover{
	text-decoration: underline;
}
#content-bottom .block{
	padding:0;
	margin:0;
}
#content-bottom .up-desc{
    font-size: 77%;
    margin: 15px 0 5px;
    padding-left: 20px;
}

/* Header Elements */
#main  h1, 
#main  h2, 
#main  h3{
	color:#444;
}
#main  .content h2{
	border: 2px solid #E20177;
    border-width: 0 0 2px;
	margin: 30px 0;
}
#main .content h3{
	background: url("../images/bg-icons.gif") no-repeat scroll left -182px transparent;
	padding: 0px 15px;
	line-height: 154%;
	margin-top: 30px;
}
#main .content ul li {
	line-height: 115%;
	padding:5px;
}
#main  h1.title{
 	font-size: 138.5%;   /*18px*/
    margin: 10px 0 15px 0;   /*17px 0*/
	background: url("../images/bg-menunav.png") repeat-x scroll left -14px #EA6FB1;
    border: 1px solid #D53285;
	color: #fff;
	padding: 7px 0 6px 10px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#main  h1.title span {
	border-left: 5px solid #fff;
	padding-left: 5px;
	display: block;
	line-height: 18px;
	text-shadow: 1px 1px 0.08em #bc186b;
}
/*special title for HP only*/
.page-home #main  h1.title,
.page-default #main  h1.title,
.front #main  h1.title {
	background: #fff !important;
	border: 0;
	color: #222;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.page-default #main  h1.title,
.front #main  h1.title {
	margin-left:0;
	padding-left:0;
}
.page-home #main  h1.title span {
	padding-left: 25px;
	text-shadow: 1px 1px 0.08em #999;
}
.page-default #main  h1.title span,
.front #main  h1.title span{
	padding-left: 0px;
	border:0;
	text-shadow: 1px 1px 0.08em #999;
}
.page-default #main  h4,
.front #main  h4{
	margin-bottom: 20px;
}
/* Breadcrumb styles  */
#breadcrumb {
	padding:0 32px;
}
#breadcrumb .breadcrumb{
	padding: 20px 0 0;   /*5px 0*/
	line-height: 12px;
    font-size: 14px;
}
#breadcrumb {
	color:#777 !important;
}
#breadcrumb a{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 8px;
	text-decoration:none;
    color: #0078b3;
}
#breadcrumb a:hover {
    text-decoration: underline;
}
#breadcrumb a.b_two {
    padding: 0 14px 0 8px;
    background: #d92592 url("../images/site_right.jpg") no-repeat right center;
    color: #fff;
    text-decoration: none;
    cursor: text;
}
#breadcrumb a.b_three {
    padding: 0 14px 0 8px;
    background: url("../images/site_three.jpg") no-repeat right center;
}
/* Tabs */
#tabs {
	padding-bottom: 5px;
}
.tab {
    display: block;
}
.tabs ul.tabs{
	border:0;
	text-align:right;
}
.tabs ul.tabs a{
	border:0 !important;
	padding: 4px 12px;
	text-align:center;
	background:none;
	font-weight:bold;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tabs ul.tabs a.active{
	background-color: #E40177;
	color:#fff;
	border:0;
}
.front #tabs{
	display:block;
	margin:10px 0;
}

/* Footer Layout */
#footer{
	padding: 12px 20px 0;
}
#footer a:hover{
	color:#e20177 !important;
}
#bottom_bg{
	background: #76797c url("../images/bg-footer.gif") repeat-x top left;
}
#bottom_bg #footer ,
#bottom_bg #footer  a{
	color:#ddd !important;
}
body.layout-fixed #bottom_bg .sizer0{
	width:auto;
}

/* Top Links */
#top-elements {
    padding: 10px 32px 10px 0;
	width: 540px;
}
ul.top-01,
ul.top-02 {
	margin: 0 0 10px;
}
ul.top-01 li.user-profile{
	padding-left:20px;
}
ul.top-01 li,
ul.top-02 li{
	font-size: 92%;
	display:inline;
	padding-left: 10px;
}
ul.top-01 li a.contact-us,
ul.top-02 li a.contact-us  {
	background: url("../images/bg-icons.gif") no-repeat scroll left -129px transparent;
	padding-left: 20px;
	display: inline-block;
	line-height: 14px;
}
ul.top-01 li.user-profile  a{
	background: url("../images/bg-icons.gif") no-repeat scroll left -145px transparent;
    display: inline-block;
    line-height: 18px;
	padding-left: 17px;
}
/* Top Links Icons */
.icon-print{
	background: url("../images/bg-icons.gif") no-repeat scroll left -110px transparent;
    padding-left: 20px;
}
.icon-contact{
	background: url("../images/bg-icons.gif") no-repeat scroll left -129px transparent;
	padding-left: 20px;
}
.icon-sitemap{
    padding-left: 20px;
}
/* Menu Navigation */
#navlinks {
	padding:0;
	margin:0 32px;
	padding-top:20px;
	width: 892px;
}
#navlinks  ul.menu{
	border-bottom:2px solid #DA0077;	
	height:46px;
	display:block;
}
#navlinks  ul.menu ul.menu{
	border-bottom:0;	
	height:auto;
}
@-moz-document url-prefix()
{
	#navlinks { width: 896px; }
}
#navlinks ul.menu li{
	background: #f2f2f2 url("../images/bg-menunav-grey.png") repeat-x bottom left;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #eb9bc5;
	border-bottom:0;
    padding: 0 20px;
    /*width: 122px;*/
    /*margin-right:4.65px;*/
}
#navlinks ul.menu li.active-trail li a{
	text-align: left;
	color: #777777 !important;
}
#navlinks ul.menu li li{
	background: #999;
	height: auto;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#navlinks ul.menu li a{
	-moz-border-radius: 0px;
	border-radius: 0px;
	background:none;
    display: table-cell;
    font-family: "ＭＳ Ｐゴシック","MS P Gothic","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,Osaka,sans-serif;
    font-size: 115.4%;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    /*width: 122px;*/
    padding: 0;
    text-align: center;
	color: #DA0077 !important;
    white-space:nowrap;
}
#navlinks ul.menu li a:hover{
	color:#777 !important;
	background-color:transparent;
}
#navlinks ul.menu li.active-trail{
	background: url("../images/bg-menunav.png") repeat-x scroll left bottom #EA6FB1;
	border-color: #DA0077;
}
#navlinks ul.menu li.active-trail a,
#navlinks ul.menu li.active-trail a:hover{
	color: #fff !important;
}
#navlinks ul.menu li li a{
	display:block;
	width:auto;
	padding: 10px 20px;
	height:auto;
    line-height: inherit;
	/*text-align: center;*/
	background: url("../images/bg-menunav-grey.png") repeat-x scroll left bottom #F2F2F2;
	color: #777777 !important;
}
#navlinks ul.menu li li a:hover{
	background: url("../images/bg-menunav.png") repeat-x scroll left bottom #EA6FB1;
	color: #fff !important;
	border-color: red !important;
}
#navlinks ul li.expanded a.expandfirst,
#navlinks ul li.expanded a.expandfirst:hover
{
	background-color:transparent;
	padding-left:0;
	background-image: none;
}
#navlinks ul li.expanded  ul li{
    width: 100%;
	/*width: 122px;*/
	border-color: #d6d6d6 #d6d6d6 #b7b7b7 #d6d6d6 !important;
	border-width:0 1px 1px 1px;
}
#navlinks.navleft ul li.last{
	margin-right:0;
}
#navlinks.navleft ul li a{
	text-align:left;
}
ul.firstsublayer{
	top:47px;
	left:-1px;
}
ul.firstsublayer, 
ul.sublayer {
	/*width:146px;*/
}
/*navigation*/
#navlinks.navleft ul li a  {
  /*text-align: center;*/
}
#navlinks ul.menu li{
  /*width:122px;*/
}
#navlinks ul .expanded .last ul li {
  text-align: left;
}
/*legalnotice pages*/
body#legalnotice .sizer0 {
	width: 686px;
}
body#legalnotice #top_right {
    background-position: 662px 100%;
}
body#legalnotice #body_right {
    background-position: 662px 0;
}
#legalnotice #above .block {
	padding: 0;
}
body#legalnotice.admin-menu {
	margin-top: 0 !important;
}
body#legalnotice.admin-menu #admin-menu {
	display: none;
}
#legalnotice #header{
	background: none #D11271;
	height: 100px;
}
#legalnotice #content-bottom .up-desc {
	width: 598px;
}
#legalnotice #footer .link-close {   
	font-weight: bold;
	background: url("../images/bg-icons.gif") no-repeat scroll right -33px transparent;
	line-height: 16px;
    padding: 0 20px 0 0;
	display: inline-block;
}
/* contact-us pages */
body#legalnotice.section-contact-us .sizer0 {
	width: 735px;
}
body#legalnotice.section-contact-us #bottom_bg .sizer0{
	width: auto;
}
body#legalnotice.section-contact-us #top_right {
    background-position: 711px 100%;
}
body#legalnotice.section-contact-us #body_right {
    background-position: 711px 0;
}
body#legalnotice.section-contact-us .up-link{
	display: none;
}
body#legalnotice.section-contact-us #content-bottom{
	margin-top: 25px;
}
body#legalnotice.section-contact-us #content-bottom .up-desc{
	width:93%;
}
/*views*/
div.view div.views-admin-links li {
	display: inline;
}
#form-input #form-main-panel .form-item-hospital-beds{
    margin-top: 20px;
}
.comparison_graph_grey {
    position: absolute;
    top: 70px;
    bottom: 45px;
    right: 10px;
    left: 10px;
    background: #999;
    opacity: .3;
    filter:alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
.mt20 {
    margin-top: 20px;
}
