/****************/
/* GENERAL CSS  */
/****************/

#body_bg {
	border-bottom: 1px solid #ddd;
}
/*#body_left {
	background: transparent url(../images/all/fill_left.png) 0 0 repeat-y;
}
#body_right {
	background: transparent url(../images/all/fill_right.png) 100% 0 repeat-y;
}*/

ul.links li {
	border-left: 1px solid #d3d3d3; /* LTR */
}
td.section.divider {
	border-left: 1px dashed #ddd; /* LTR */
}
.node.teaser {
	border-bottom: 1px dashed #ddd;
}
.submitted, .links {
	color: #3f3f3f;
}
.comment {
	border: 1px solid #d3d3d3;
}
.comment .title {
	background: transparent url(../images/all/icon-comment.png) left center no-repeat; /* LTR */
}
blockquote, .messages {
	background-color: #eee;
	border: 1px solid #ccc;
}
.form-item label, .item-list .title {
	color: #222;
}
div.admin-panel .body {
	background-color: #f4f4f4;
}
div.admin-panel h3 {
	color: #abc;
}
#site-slogan {
	color: #000;
}
#search .form-text, #search .form-submit {
	border: 1px solid #555;
}
#mission {
	color: #535353;
	border: solid 1px #ddd;
}
#breadcrumb, #breadcrumb a {
	/*color: #1e201b !important;*/
}
#footer, #footer a {
	color: #888 !important;
}
#footer ul.links li {
	border-left: 1px solid #909090;
}
.by, .by a, .by a:hover {
	color: #ddd !important;
}
#aggregator .feed-source {
	background-color: #eee;
	border: 1px solid #ccc;
}
#forum td.forum, #forum td.posts {
	background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
	background-color: #ddd;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	border: 1px solid #bbb;
}
#forum td.container {
	background: #cdcdcd url(../images/all/forum-container.jpg) right top no-repeat; /* LTR */
}
#forum td.container .name a {
	background: transparent url(../images/all/forum-link.png) left center no-repeat;
}
#profile .profile {
	border: 1px solid #abc;
}

/* MENU & link STYLES */

li.leaf {
	list-style-image: url(../images/all/menu-leaf.png);
}
li.expanded {
	list-style-image: url(../images/all/menu-expanded.png);
}
li.collapsed {
	list-style-image: url(../images/all/menu-collapsed.png); /* LTR */
}

#subnavlist a {
	border: 1px solid #ddd;
	color: #444 !important;
	background-color: #eee;
}
#subnavlist li a:hover {
	background-color: #dbdbdb;
}
#navlist2 a {
	color: #888 !important;
}
#navlist2 a:hover, #navlist2 a.active, 
#footer a:hover, #footer a.active {
	color: #333 !important;
}

/* MODULE SPECIFIC STYLES */

.book-navigation .page-links {
	border-top: 1px dashed #d3d3d3;
	border-bottom: 1px dashed #d3d3d3;
}
.cart-block-title-bar .arrow-up {
	background: transparent url(../images/all/menu-up.png) no-repeat center center !important;
}
.cart-block-title-bar .arrow-down {
	background: transparent url(../images/all/menu-expanded.png) no-repeat center center !important;
}
.category-grid-products table	{
	border-top: 1px dashed #ddd !important;
	border-left: 1px dashed #ddd !important;
}
.category-grid-products td {
	border-right: 1px dashed #ddd !important;
	border-bottom: 1px dashed #ddd !important;
	background-color: transparent !important;
}


/****************/
/* GRAPHICS CSS */
/****************/

#top_bg {
	background: transparent url(../images/fill_top.png) 0 100% repeat-x;
}
/*#top_left {
	background: transparent url(../images/fill_top_left.png) 0 100% no-repeat;
}
#top_right {
	background: transparent url(../images/fill_top_right.png) 100% 100% no-repeat;
}
*/
h1, h2, h3 {
	color: #777;
}

a, a:link,
.title, .title a,
.node .terms,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
	color: #777;
}

.block.themed-block {
	background: #fff url(../images/fill_block.png) 0 100% repeat-x;
	border: 1px solid #ddd;
	zoom:1;
}


#navlinks ul li a, #navlist a {
	background-color: #777;
	color: #fff !important;
	text-transform: uppercase;
	font-family: "times new roman", sans-serif, Arial, Verdana, Helvetica;
}
#navlinks ul li a:hover, #navlist li a:hover {
	color: #777 !important;
	background-color: #dbdbdb;
}

/* DROP DOWN LI */
/* set li width & color */
#navlinks ul li.expanded ul li {
	border-left: 1px solid #c4c4c4;
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}

/* DROP DOWN Anchors */
/* first level */
#navlinks ul li.expanded a.expandfirst {
	background: #777 url(../images/nav-down.png) no-repeat 7px 50%;
}
#navlinks ul li.expanded a.expandfirst:hover {
	background: #dbdbdb url(../images/nav-down.png) no-repeat 7px 50%;
}

/* sublevels */
#navlinks ul li.expanded a {
	background: #aaa;
}
#navlinks ul li ul li a:hover {
	color: #fff !important;
	background: #999;
}
#navlinks ul li.expanded a.expand,
#navlinks ul li.expanded ul li a.expand {
	background: #aaa url(../images/nav-right.png) no-repeat 95% 9px;
}
#navlinks ul li ul li.expanded a.expand:hover {
	background: #999 url(../images/nav-right.png) no-repeat 95% 9px;
}
