/**
* @file ie.css
* styles for all IE browsers
* used for fixing round corners
*/
/* Header */
* #banner .content div{
	padding-top:30px;
	height:47px !important;
}

/* Blocks Style */
#banner-block {
	padding: 5px !important;
	/*width:942px;*/
	width: 880px;
}

#navlinks  ul.menu{
    height: 43px;
	height:42px\0;
}
#navlinks ul.menu li a{
	height:41px\0;
    line-height: 37px\0;
    vertical-align: inherit\0;
}
#navlinks  ul.firstsublayer{
	top:42px;
	top:43px\0;
}
/*detail page of master*/
#main .content-manual .field {
	padding: 7px 10px 32px 10px !important;
}
/*treeview in products edit page*/
#main .node-form .form-item .form-checkboxes fieldset.jnj,
#main .node-form .form-item .form-checkboxes fieldset.nojnj  {
	* margin: 0 0 0 -4px;
}
/*Log in form for IEs--round corner*/
body.layout-main-right .colright {
	width: 340px;
}
/*round corner in headers*/
#main h1.title {
	padding-bottom: 3px !important;
	background: #EA6FB1 url("../images/bg-menunav.png") repeat-x scroll left -18px !important; 
	border: 1px solid #D53285 !important;
	vertical-align:middle;
}
#legalnotice-content  h2{
	padding-bottom: 3px !important;
	background: #dd1285 url("../images/bg-menunav.png") repeat-x scroll left -18px !important; 
}
#main h1.title .autoPadDiv{
	padding-top:1px !important;
	padding-bottom:2px !important;
}
.page-home #main  h1.title,
.page-default #main  h1.title {
	padding-bottom: 17px !important;
	/*background: #fff none !important;*/
	border: 0 !important;
}
/*round-corner in right blocks*/
#sidebar-right .block-wrapper {
	padding-top: 5px;
}
#user-login-form .form-text {
	width: 134px;
}
/*Log in for IE7*/
* #sidebar-right .content{
    zoom: 1;
	margin-top: 6px;
}
* #user-login-form input.form-submit{
	float:right;
	zoom:1;
}
* #user-login-form .item-list{
	clear:both;
	zoom:1;
}
.view-infection-manage-view ol li{
	width:170px;
}
/* Footer for IE7*/
/*
* #autocomplete
,
* #autocomplete ul,
* #autocomplete li,
* #autocomplete li div{
	z-index:10000 !important;
}*/
* #navlinks{
	z-index: 90 !important;	
	position:relative;
}
* #middlecontainer{
	z-index: 2 !important;	
	/*position:relative;*/
}
* #bottom_bg{
	zoom:1;
}
/*
* #bottom_bg #footer,
* #bottom_bg #footer .footer-links,
* #bottom_bg #footer .footer-info,
* #bottom_bg  .sizer0{
	zoom:1;
	position:relative;
	z-index:1;
}*/
/* Input Form */
#form-input #form-main-panel .panel-content{
	padding-bottom:20px;
	* padding-bottom:0px;
}
#form-input  fieldset legend{
	padding-bottom:10px;
}
#form-input  #severity_level-wrapper{
	* margin-bottom:18px;
}
#form-input  .tabled-input select{
	width:190px;
}
#form-input  fieldset.frm-input{
	padding-top:0 !important;
	* padding-bottom: 15px;
}
#form-input  fieldset.frm-input  fieldset.frm-input{
	padding-top:0 !important;
	margin-top:-5px !important;
}
#form-input  .tabled-input #total_patient-wrapper span.field-suffix,
#form-input  .tabled-input #Mandays-wrapper  span.field-suffix,
#disease-list.tabled-input .field-suffix {
	* position: relative;
	* top: -3px;
}

/* Graph Page */
#major-axis  #edit-major-infection-rate-wrapper,
#minor-axis  #edit-minor-infection-rate-wrapper{
	* margin-top:30px;
}
#major-axis #edit-major-wash-number-wrapper,
#minor-axis #edit-minor-wash-number-wrapper {
	* margin: 11px 0px 2px;
}
#edit-major-fixed-value-wrapper,
#edit-minor-fixed-value-wrapper {
	* margin-top:35px;
}
#edit-major-fixed-value-wrapper .field-suffix,
#edit-minor-fixed-value-wrapper .field-suffix {
	* vertical-align:4px;
}
#edit-horizontal-start-wrapper,
#edit-horizontal-end-wrapper {
	/* margin:3px 0;*/
}
#edit-horizontal-start-wrapper label,
#edit-horizontal-end-wrapper label {
	* vertical-align:4px;
}
#main .tabs ul.tabs input.form-submit{
	* padding-left:0px;
	* padding-right:0px;
}
.ui-dialog .buttons-block {
	* margin-top:10px;
}
/*loading*/
#loader {
	width: 200px !important;
	height: 185px !important;
}

/*csv file upload*/
.csv-upload .form-item input
{
  background-color:#fff;
  padding:2px; 
}

#form-input  .button-set-edit{
	* margin-top: -10px !important;
	* padding-top:0;
}
#form-input  .button-set-edit p{
	margin:0;
}
#form-input  #product-frm-input{
	* margin-bottom:10px;
}

#form-input  .form-comment{
	width: 390px;
}
#form-input  .tabled-input #severity_level-wrapper{
	width: 480px;
}
/* Legagal Notice Page*/
#legalnotice #main h1.title{
    padding-bottom: 5px !important;
	background: none !important; 
	border: none !important;
}
#legalnotice-content .mod-h3 span,
#legalnotice-content .mod-h4,
#legalnotice-content h2 {
	zoom: 1;
}
/*right news*/
#sidebar-right .more-links a {
    margin-left: 160px;
}
/*contact us*/
#main .node-form span.dash
{
  margin-top:7px;
}
#main .node-form .phone-info .phone-block span.dash {
  margin-top:4px;
}
/*panels for fixig long fields*/
#form-view #form-view-filter .panel-content {                                  /*for fixing long fields1*/
	* padding-bottom: 0;
}
#aspcm-graph-form #form-input #form-main-panel .panel-content {
	* padding-bottom: 15px;
}
#form-input #form-main-panel .hospital-field,                               
#form-view #form-view-filter .hospital-field {
	* padding-bottom: 0px;
}
#aspcm-ward-annually-data-view #form-view #form-view-filter .last-item,
#aspcm-ward-annually-data-view-1 #form-view #form-view-filter .last-item {
	* width: 70%;
}

/*autocomplete in user profile page*/
/*#user-profile-form .form-item  #autocomplete {
	* margin-left: 0px !important;
}2*/
/*#user-profile-form .form-item .progress-disabled {
	* float: none;
}1*/
 #main div.error{
	padding-top:3px;
 }
#preset-panel ul.tabs,
#preset-panel.tabs ul.tabs input.form-submit{
	height:34px;
}