/**
* @file ie6.css
* styles for IE6 browsers
*/
.group-aspcm-calu-unit .field-field-aspcm-alcohol-calu-unit .field-label {
padding-left:30px !important;
}
.group-aspcm-calu-unit .form-item label {
  margin-left:7px!important;
  width:227px !important;
}
.expander0, #top_right, #body_right, #bottom_right, #sidebar-left, #sidebar-right, 
body.layout-left-main-right .outer, body.layout-left-main .outer, body.layout-main-right .outer, 
body.layout-left-main-right .outer a, body.layout-left-main .outer a, body.layout-main-right .outer a {
	zoom: 1;
} /* The above rule gives hasLayout to some page elements so that IE will not be buggy */


#middlecontainer {
	word-wrap: break-word;
}
.comment {
	margin: 0 !important;
}
.block .item-list li {
	vertical-align: top;
}


/** Drupal admin tables **/
#main tr.even th,
#main tr.even td,
#main tr.odd th,
#main tr.odd td {
	border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}
#main .view-aspcm-all-news table.views-table th,
#main .view-aspcm-all-news table.views-table td {
	border:0;
}

/* Ubercart */
.uc-store-admin-panel .panel-title a {
	margin-left: 25px !important;
} 

/* fix layout width in IE6 */
body.layout-jello .sizer0 {
	width:expression(document.body.clientWidth > 1440 ? "160px" : "40%" );
}

/* HOLLY HACK FOR IE 6 */
* html { height: 0; }

/* ALPHA TRANSPARENCY FIX */
img, .pngfix { 
	/*behavior: url(/sites/all/themes/asp_cm/css/iepngfix.htc);*/	/* change path here and in iepngfix.htc to match theme location */ 
} 

#title-main {
	zoom:1;
}

/* NO DROP-DOWN SHADOW */
ul.firstsublayer, 
ul.sublayer {
	background-image: none !important;
}

/* CUSTOM STYLES */

/* Top Navigation */
#navlinks {
	margin:0 0 0 16px;
}
#navlinks ul.menu li{
	/*width: 154px;*/
    margin-right:4.65px;
}
#navlinks ul.menu li a{
	width:102px;
	padding-top:8px;
	height:32px;
}
#navlinks ul li.expanded  ul li{
	width:102px;
}
#navlinks ul li.expanded  ul li a{
	display:block;
	width:102px;
}
#legalnotice #footer .link-close { 
	display: inline;
	padding: 1px 20px 1px 0;
}
#content-bottom .up-link  a{
    display: inline;
    padding-bottom: 1px;
    padding-top: 1px;
}
/*round corner in headers*/
#main {
	zoom: 1; 
	height: 1%; 
	position: relative; 
	top: 8px;
}
/*edit page of masters*/
#user-pass .form-required,
#user-login .form-required,
#user-profile-form  .form-required,
#user-register  .form-required,
#main .node-form .form-required {
	position: relative;
	top: -5px;
}
/*button styles*/
#main .form-submit,
.node-type-aspcm_ward  #main .content-add-more #edit-field-aspcm-disease-field-aspcm-disease-add-more {              
	padding-top: 8px !important;
}
#node-delete-confirm .container-inline a {
	position: relative;
	top: 1px;
}
#main .node-form .form-item label.option {
	padding: 0 15px;
}
#main .node-form .form-item  .resizable-textarea {
	float: none;
}
#main #node-form .form-submit{              /*button styles*/
	padding-top: 0px !important;
}

/*block-banner*/
#banner-block {
	padding: 5px 0 !important;
	width: 895px;
}
#banner-block h2 {
	background-position: 5px bottom;
}

/* Input form */
#form-input  .tabled-input span,
#form-input  .tabled-input label{
	padding-top:4px;
}
#form-input  .tabled-input input.form-text{
	margin-top:-1px;
	margin-left:-3px;
}
#form-input  .tabled-input select{
	margin-left:-3px;
}
#form-input  fieldset.frm-input .field-suffix{
	line-height:18px;
	display:inline-block;
    padding: 4px 0 0;
    vertical-align: top;
}
#form-input  fieldset.frm-input{
	padding-top:5px !important;
}
#form-input fieldset.frm-input .form-item {
	clear: both;
	padding: 3px 0;
}
#main #form-input #panel-buttons .form-submit {
	padding-top: 0 !important;
}
#main #form-input #panel-buttons #edit-Previous-and-Save {
	padding: 5px 0 5px 28px !important;
}
#main #form-input #panel-buttons #edit-Next-and-Save {
	padding: 5px 28px 5px 0 !important;
}

/*form-view-fliter*/
#form-view #form-view-filter #edit-hospital{
    position: relative;
	top: -1px;
}

#form-input fieldset.last-item{
	clear:none;
}
#form-input .two-columns{
	margin-top:-25px;
}
#panel-buttons{                 /*buttons*/
	padding-right: 14px;
}
#form-input  .two-columns .right{
	margin-right: 3px;
}
#form-graph{
	margin-left:-20px;
}
#form-graph #graph-table{
	margin-left:40px;
}
#form-graph #major-link-block {
	margin-left: 10px;
}
#form-graph #horiz-link-block{
	margin-left: 38px;
}
#aspcm-graph-form #edit-download,
#aspcm-comparison-graph-form #edit-download {
	position: relative;
}

/*csv file upload*/
#aspcm-ward-annually-data-import #form-view-filter
{
  background-image:none;
  background-color:#f5f5f5;
}
#form-view #form-view-filter .csv-upload
{
  margin-top:0;
}

/*search hospital block*/
#search-block #edit-hospital-wrapper {
    margin: 20px 7px 20px 3px;
}
/*bottom news*/
.view-infection-manage-view {
	padding: 0 12px;
}

/*severity level*/
.serverity-menu  .back_to_severity,
.serverity-menu .navi_to_result
{
  margin-bottom:0;
}
.serverity-menu a,
.serverity-menu .back_to_severity,
.serverity-menu .back_to_nurse
{
  padding-top:3px;
  padding-bottom:2px;
  height:20px;
}
.serverity-menu .back_to_severity
{
  width:130px;
}
.serverity-menu .back_to_nurse
{
  width:190px;
}

/*right news*/
#sidebar-right{
   margin-top: 23px;
}
#sidebar-right .view-content span a{
   margin-bottom:0px;
   margin-top:0px;
}
#sidebar-right .more-links a {
    margin-right: 8px;
	margin-left: 160px;
}

/* Legal Notice Pages */
#legalnotice #main .content h2 {
    margin: 40px 0 0;
}
#legalnotice-content ul.mod-ul{
    margin-top: 20px;
}
#legalnotice-content ul.mod-ul li {
    list-style: disc outside none;
    margin: 0 0 0 15px;
    min-height: 1.5em;
    padding: 0;
	line-height: 1.3em;
}
#legalnotice-content  ol.order{
   list-style-type: decimal;
   margin-left: 8px;
   line-height: 1.2em;
}
#legalnotice-content .mod-h3 span ,
#legalnotice-content .mod-h4 ,
#legalnotice-content h2,
#legalnotice-content a.pdf{
	zoom: 1;
}

/* Big Buttons */
.btn-long-container{
	margin-right: 0px;
}

/*user register*/
#user-register fieldset legend
{
  width:95%;
  padding-right:19px;
}
#user-pass .form-required,
#user-login .form-required,
#user-profile-form  .form-required,
#user-register  .form-required,
#main .node-form .form-required {
  padding-top:0 !important;
}

/*user profile page*/
#user-profile-form #edit-asp-ward-name-visiable-wrapper
{
  float:none;
}
#user-register .form-item  #autocomplete,
#user-profile-form .form-item  #autocomplete 
{
  margin:0 !important;
  margin-top:22px !important;
  margin-left:-526px !important;
}
#user-profile-form .hospital-name-only  #autocomplete 
{
  margin-left:-506px !important;
}
#user-register #edit-asp-hospital-name-visiable-noajax-wrapper #autocomplete
{
  margin-left:-506px !important;
}
#form-graph .info-mess{
	margin-left:10px;
}
#aspcm-email-form  .contact-button-block #edit-reset.form-submit{
	background: url("../images/icons/icon-arrow.gif") no-repeat scroll left 7px transparent;
	margin-top:30px;
}

/*add by Benny for ACMSUPP-13 20111206*/
#user-verification{
 width: 550px !important;
 min-height: 0px !important;
 height: 392px !important;
 overflow-x:hidden;
}

/*jane @ 24/4/2012*/
fieldset.group-aspcm-calu-unit legend 
{
 left: -7px;
 position: relative;
margin-left:0;
padding-left:13px !important;
}
.content-manual fieldset.group-aspcm-calu-unit legend 
{
margin-left:10px;
padding-left:15px !important;
}
