/**
* @file ie7.css
* styles for IE7 browsers
*/
.group-aspcm-calu-unit .field-field-aspcm-alcohol-calu-unit .field-label {
padding-left:30px !important;
}
.group-aspcm-calu-unit .form-item label {
  margin-left:15px;
  width:220px !important;
}
.expander0, #top_right, #body_right, #bottom_right, #sidebar-left, #sidebar-right, 
body.layout-left-main-right .outer, body.layout-left-main .outer, body.layout-main-right .outer, 
body.layout-left-main-right .outer a, body.layout-left-main .outer a, body.layout-main-right .outer a {
	zoom: 1;
} /* The above rule gives hasLayout to some page elements so that IE will not be buggy */


#middlecontainer {
	word-wrap: break-word;
}
.comment {
	margin: 0 !important;
}
.block .item-list li {
	vertical-align: top;
}

/** Drupal admin tables **/
#main tr.even th,
#main tr.even td,
#main tr.odd th,
#main tr.odd td {
	border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

#main .view-aspcm-all-news table.views-table th,
#main .view-aspcm-all-news table.views-table td {
	border:0;
}

/* Ubercart */
.uc-store-admin-panel .panel-title a {
	margin-left: 25px !important;
}
/* CUSTOM STYLES */

/* Top Navigation */
#navlinks ul.menu li a{
	width:104px;
	padding-top:5px;
	height:35px;
}
#navlinks ul.menu li{
    margin-right:4.65px;
}
/*round corner in headers*/
#main {
	zoom: 1; 
	height: 1%; 
	position: relative; 
	top: 8px;
}
/*edit page of masters*/
#user-pass .form-required,
#user-login .form-required,
#user-profile-form  .form-required,
#user-register  .form-required,
#main .node-form .form-required {
	position: relative;
	top: -5px;
}
.info-mess{
	background-position: left center;
	padding-top: 6px;
}
#aspcm-ward-monthly-data-input-form .info-mess{
	background-position: left top;
	padding-top: 0px;
}
.info-mess .form-required/*,
#user-profile-form  .info-mess .form-required */{
	top: -7px !important;
	vertical-align:top !important;
}
/*button styles*/
#main .form-submit,
.node-type-aspcm_ward  #main .content-add-more #edit-field-aspcm-disease-field-aspcm-disease-add-more{              
	padding-top: 8px !important;
}
#node-delete-confirm .container-inline a {
	position: relative;
	top: 1px;
}
#main .node-form .form-item label.option {
	padding: 0 15px;
}
#main #node-form .form-submit{              /*button styles*/
	padding-top: 0px !important;
}

/* Input form */
#form-input  .tabled-input span,
#form-input  .tabled-input label{
	padding-top:4px;
}
#form-input  .tabled-input input.form-text{
	margin-top:-1px;
}
#form-input  fieldset.frm-input .field-suffix{
	line-height:18px;
	display:inline-block;
    padding: 4px 0 0;
    vertical-align: top;
}
#form-input fieldset.frm-input .form-item {
	clear:both;
}
#form-input fieldset.frm-input {
	clear:left;
	padding-top:5px !important;
}
#form-input fieldset.last-item {
	clear:none;
}
#form-input .two-columns {
	margin-top:-25px;
}
/*buttons*/
#panel-buttons{                 
	padding-right: 15px;
}
#form-input  .two-columns .right {
	margin-right: 5px;
}
#main #form-input #panel-buttons .form-submit {
	padding-top: 0 !important;
}
/*csv file upload*/
#form-view #form-view-filter .csv-upload
{
  margin-top:0;
}
/*contact us form*/
#main .node-form  .phone-info .phone-block div{
	margin-top: 3px;
}

/*search hospital block*/
#search-block #edit-hospital-wrapper {
   margin: 20px 10px 20px 5px;
}
/*bottom news*/
.view-infection-manage-view {
	padding: 0 12px;
}
/*severity level*/
.serverity-menu .back_to_severity
{
  width:125px;
}
.serverity-menu .back_to_nurse
{
  width:190px;
}
/*three bottom link*/
#legalnotice-content .mod-h3 span  {
   padding-top: 0px;
}
#legalnotice #main h1.title{
  margin-bottom: 0px;
  padding-bottom: 0px !important; 
}
#legalnotice-content  ol.order{
  margin-left: 10px;
  }
#legalnotice-content ul.mod-ul li{
    line-height: 1.5em;
}
/*right news*/
#sidebar-right{
  margin-top: 25px;
}
#sidebar-right .view-content span a{
   margin-bottom:0px;
   margin-top: 0px;
}
/* #aspcm-comparison-graph-form  #form-input #form-main-panel .left .form-item{
	border:0;
}*/
#aspcm-comparison-graph-form  #form-input #form-main-panel .last-item  .buttons-block{
    margin-top: 80px;
}

/*user register*/
#user-register fieldset legend
{
  width:95%;
}
 #aspcm-email-form .form-submit, 
 #user-register .form-submit, 
 #user-profile-form .form-submit
{
  padding-top:0 !important;
}
/*user profile page*/
#user-profile-form #edit-asp-ward-name-visiable-wrapper
{
  float:none;
}
#user-register .form-item  #autocomplete,
#user-profile-form .form-item  #autocomplete 
{
  margin:0 !important;
  margin-top:22px !important;
  margin-left:-526px !important;
}
#user-profile-form .hospital-name-only  #autocomplete 
{
  margin-left:-506px !important;
}
/*
#user-register .form-required,
#user-profile-form .form-required
{
  vertical-align:middle;
}*/
#user-register #edit-asp-hospital-name-visiable-noajax-wrapper #autocomplete
{
  margin-left:-506px !important;
}

/*jane @ 24/4/2012*/
fieldset.group-aspcm-calu-unit legend 
{
 left: -7px;
 position: relative;
margin-left:0;
padding-left:15px;
}
.content-manual fieldset.group-aspcm-calu-unit legend 
{
margin-left:10px;
}