/**
* @file ie8.css
* styles for IE8 browsers
*/
fieldset.group-aspcm-calu-unit legend {
width:237px!important;

}
.group-aspcm-calu-unit .field-field-aspcm-alcohol-calu-unit .field-label {
padding-left:30px !important;
}

/*menu*/
#navlinks {
	width: 896px;
}

/*button styles*/
#main .form-submit{
	/*padding-top: 9px;*/
}
#aspcm-email-form  .form-submit,
#user-register  .form-submit {
	padding-top: 0px;
}
#main #form-graph .form-submit{
	padding-bottom: 9px;
}
#navlinks ul.menu li{
	/*width: 154px;*/
    margin-right:4.65px;
}

/* contact us */
#main .node-form #edit-email-1-wrapper{
	padding-top:3px;
}
/*treeview in products edit page*/
#main .node-form .form-item .form-checkboxes {
	display: block;
	float: left;
}
#main .node-form .form-item .form-checkboxes:after {
	content: ".";
    display: inline-block;
    height: 0;
    clear: both;
    visibility: hidden;
	width: 100%;
}
#main .node-form .form-item .form-checkboxes fieldset.collapsible .fieldset-wrapper {
	padding-top: 3px;
}

/*button style for contact us , user register, user profile*/
 /*#aspcm-email-form .form-submit, 
 #user-register .form-submit, 
 #user-profile-form .form-submit
{
  padding-top:0;
}*/
#user-register #edit-asp-hospital-name-visiable-noajax-wrapper #autocomplete
{
  margin:22px 0 0 290px !important;
}

/*jane @ 24/4/2012*/
fieldset.group-aspcm-calu-unit legend {
margin-left:0;
padding-left:15px;
}
.content-manual fieldset.group-aspcm-calu-unit legend 
{
margin-left:10px;
}