/*IE6&7*/
.footer-info {
	* margin-top: 10px;
}
/*IE6 only*/
.page-graph-comparison-graph .footer-info {
	_margin-top: 5px;
	_padding-top: 5px;
}
#form-view table.form-table {
	_width: 645px !important;
}
#form-view table.form-table  td,
#form-view table.form-table  th{
	_font-size:9px !important;
}
#form-view .form-table .first-column{
	_width:115px !important;
}
#form-view .form-table .last-total01{
	width:48px !important;
}
#form-view .form-table th.last-total{
	width:45px !important;
}
#form-view table.form-table {
    _border-spacing: 1px !important;
}
#form-input fieldset.frm-input{
	* width: 99% !important;
}
#form-input fieldset.frm-input fieldset.frm-input {
	* width: 40% !important;
}
#form-input fieldset.frm-input label {
	* width: 60% !important;
}

/*fixed ie6 manual printing*/
.section-help,
.section-help .content-manual {
    padding-left: 5px !important;
    margin-left: 5px !important;
}
.section-help .content-manual img.big-image {
 	 _width: 95% !important;
	 _height: 95% !important;
}
