/* print.css
*/

.page0, 
.sizer0, 
.expander0, 
body.layout-left-main-right .outer,
body.layout-left-main .outer,
body.layout-main-right .outer,
body.layout-fixed #top_right, 
body.layout-fixed #body_right,
.float-wrap, 
.colmain , 
.not-front #main,  
#footer,
#wrapper  {
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
}
#footer{
	padding-top:0px !important;
} 
.float-wrap, .colmain {
	float:none;
}
#content,
.content,
.title {
	margin:20px 0;
	width: auto;
}
h1,h2,h3,span
{
	text-shadow: none !important;
}
a:hover, a:active, a:link, a:visited {
	color: #000;
}
.comment .title {
	padding: 0;
	margin: 0;
}
#header-print{
	display: block !important;
	border-bottom: 1px solid #555;
	padding-bottom:10px;
}
#header-print, #header-print img{
	display:block !important;
}
#aspcm-graph-form #edit-ward{
	height:auto !important;
}
#header, #above, #navlinks, #title-main, #tabs , #content-top, #breadcrumb, 
.bg-print, .footer-links, .up-desc, .up-link, .select-wards , 
#block-views-infection_manage_view-block_1, 
#block-views-aspcm_important_news-block_1,
#aspcm-graph-form .panel-content .last-item, 
.panel-content .last-item .buttons-block, #form-input .block-goback, 
#form-graph #major-link-block, #form-graph #minor-link-block, #form-graph #horiz-link-block , 
#aspcm-ward-monthly-data-input-form .level-total, 
#aspcm-ward-monthly-data-input-form  #actual_total-wrapper ,
#aspcm-ward-monthly-data-input-form  .bg-total, 
#aspcm-ward-monthly-data-input-form  .bg_total_th,
#aspcm-ward-monthly-data-input-form  #severity_level-wrapper,
#aspcm-ward-monthly-data-input-form  #sev-level-block .form-comment,
#aspcm-ward-monthly-data-input-form  #panel-buttons,
#edit-search, #edit-search-1, .btns-block,
#edit-download, #main .messages, .search-autoc,
.info-mess , #buttons-block, #preset-panel,
#aspcm-comparison-graph-form .buttons-block,
#aspcm-graph-form #form-input #form-main-panel .ward-field .fs-small,
.error,
#form-main-panel{
	display: none !important;
}
#body_bg, 
#form-view-filter, 
#form-main-panel,
#aspcm-ward-monthly-data-input-form #actual{
	border:0 !important
}
#aspcm-ward-monthly-data-input-form #actual {
	padding: 0 !important;
}
#aspcm-ward-monthly-data-input-form #actual .tabled-input label {
	width: 265px !important;
}
#main .tabs ul.tabs input{
	color:#999;
}
#main .tabs ul.tabs input.active{
	background: #ccc;
	color:#000 ;
}
#bottom_bg, #top_bg, #top_right, #top_left, #body_left, #body_right, #header, #form-view-filter, #form-main-panel, 
#aspcm-comparison-graph-form #form-main-panel .spec{
	background:none !important;
}
.footer-info{
	/*color:#555;
	border-top:1px solid #555;
	padding-top:10px;
	font-size:9px !important;*/
	display:none !important;
}
#main h1.title {
	font-size: 154% !important;
	background:none !important;
	border:0 !important;
	color:#000;
	font-weight:bold;
	padding-left:0 !important;
}
#main h1.title span{
	padding-left:0 !important;
	border:0 !important;
}
#main h1.title div{
	display:none !important;
}
#main h1.title div.autoPadDiv{
	display:block !important;
	border:0 !important;
	background:none !important;
}
#form-input #form-main-panel .panel-content, 
#form-view #form-view-filter .panel-content{
	padding:0 !important;
	border:0;
	background:none;
}
#form-view #form-view-filter label{
	padding-right:5px !important;
}
input, select {
	border:1px solid #999 !important;
	background:none;
}
select, input.form-autocomplete {
	width: auto !important;
}
#aspcm-ward-monthly-data-input-form .form-submit{
	display:none;
}
#aspcm-ward-monthly-data-input-form h3{
	border:0 !important;
	background:#ccc !important;
	border-bottom: 1px solid #555 !important;
	color:#555 !important;
}
input.form-checkbox {
	border:0 !important;
}
#wrapper {
    position: static;
}
#form-input fieldset legend{
	color:#777 !important;
}
#estimated.hidden, 
#actual.hidden{
	display:none !important;
}
#aspcm-ward-monthly-data-input-form .print-headers{
	display:block !important;
	font-weight: bold;
	margin:15px 0 5px;
}
#aspcm-ward-monthly-data-input-form #form-main-panel .first-item,
#aspcm-ward-annually-data-view .first-item,
#aspcm-ward-annually-data-view-1 .first-item{               
	clear:none !important;
}
#aspcm-ward-monthly-data-input-form #form-main-panel .ward-field,
#aspcm-ward-monthly-data-input-form #form-main-panel .hospital-field,
#aspcm-ward-annually-data-view .ward-field,
#aspcm-ward-annually-data-view .hospital-field,
#aspcm-ward-annually-data-view-1 .ward-field,
#aspcm-ward-annually-data-view-1 .hospital-field,
#aspcm-graph-form .ward-field,
#aspcm-graph-form .hospital-field{
	clear:none !important;
	width:auto !important;
	margin-right:30px !important;
}
#aspcm-graph-form .ward-field{
	margin-bottom: 20px !important;
	clear: both;
}
#aspcm-graph-form .ward-field #edit-ward-wrapper{
	width:auto !important;
}
#aspcm-graph-form .ward-field{
	_width: 50px !important;
}
#aspcm-graph-form .ward-field span{
	display: block;
}
#form-graph,
#aspcm-graph-form  #edit-ward-wrapper,
#aspcm-graph-form  #edit-ward-wrapper select{
	clear: both;
}
#form-graph #img-graph{
	width:100% !important;
	text-align:center;
}
#form-graph #img-graph img {
    border: 1px solid #555;
	width:95% !important;
	/*height:95% !important;*/
	_width:80% !important;
	/*_height:80% !important;*/
}
#aspcm-comparison-graph-form h4,
#aspcm-comparison-graph-form label,
#aspcm-comparison-graph-form span{
	font-size:9px !important;
}/*
#aspcm-comparison-graph-form #form-graph #img-graph img {
	width:85% !important;
	height:85% !important;
	_width:63% !important;
	_height:63% !important;

}*/
#aspcm-comparison-graph-form #form-graph{
	* margin-top:0;
}

#aspcm-comparison-graph-form #form-main-panel .last-item{
	padding-right:0 !important;
	padding-left:0 !important;
	* width:180px;
}
#aspcm-comparison-graph-form #form-input .last-item  h4{
	* width:170px;
}
#aspcm-comparison-graph-form #form-main-panel .line-spec{
	border:0 !important;
	* padding-left:0 !important;
}
#aspcm-comparison-graph-form #form-main-panel .spec{
	border:0 !important;
	width:500px !important;
	* width:350px !important;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left .form-item{
	padding-bottom:0 !important;
}
#aspcm-comparison-graph-form #form-input #form-main-panel .left label{
	padding-top:0 !important;
}
/*#aspcm-comparison-graph-form #edit-select-all-above-conditions-select-all-wrapper{
	* border-top: 1px solid #777 !important;
	* width: auto;
	* margin-top:10px !important;
}*/
#aspcm-ward-annually-data-view  .hospital-field,
#aspcm-ward-annually-data-view-1  .hospital-field,
#aspcm-graph-form .hospital-field {
	width: 100% !important;
}
#aspcm-ward-annually-data-view  .hospital-field,
#aspcm-ward-annually-data-view-1  .hospital-field {
	_width: 98% !important;
}
#aspcm-ward-annually-data-view input.form-autocomplete, 
#aspcm-ward-annually-data-view-1 input.form-autocomplete, 
#aspcm-graph-form input.form-autocomplete {
	width: 99% !important;
}
#form-input #form-main-panel #edit-hospital-wrapper,
#form-view #form-view-filter  #edit-hospital-wrapper,
#form-view #form-view-filter #edit-hospital-1-wrapper{
	float: none;
}															
#aspcm-comparison-graph-form #edit-horizontal-start-wrapper .field-prefix, 
#aspcm-comparison-graph-form #edit-horizontal-end-wrapper .field-prefix {
	display: none;
}																
#aspcm-comparison-graph-form #form-graph {
	margin-bottom: 10px !important;
}
#aspcm-comparison-graph-form #edit-horizontal-start-wrapper, 
#aspcm-comparison-graph-form #edit-horizontal-end-wrapper {
	float: left;
	clear: both;
}
#aspcm-comparison-graph-form #edit-horizontal-start-wrapper  input,  
#aspcm-comparison-graph-form #edit-horizontal-end-wrapper  input {
	float: left;
	clear: both;
}
#aspcm-comparison-graph-form #form-input #form-main-panel #edit-hospital{
	width:250px !important;
	* width:170px !important;
}
/*Hacks for opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
	#form-view #form-view-filter .panel-content .hospital-field #edit-hospital,
	#form-view #form-view-filter .panel-content .hospital-field #edit-hospital-1,
	#form-view #form-view-filter .panel-content .hospital-field .form-text { 
		background: #ffffff none;
	}
	#form-view .form-table .collapsed a, 
	#form-view .form-table .expanded a {
		background: none;
	}
	#form-view table.form-table th,
	#form-view table.form-table .head-row th,
	#form-view table.form-table .text-indent,
	#form-view table.form-table .bg-total,
	#form-view table.patient-staff-table .sev-name, 
	#form-view table.patient-staff-table .sev-level-name, 
	#form-view table.patient-staff-table .level-total .align-left {
		background-color: #fff;
	}
	#aspcm-comparison-graph-form #form-main-panel .last-item input.small {
		width: 60px;
	}
	#aspcm-comparison-graph-form #form-graph #img-graph img {
		height: 400px !important;
	}
	
	#aspcm-comparison-graph-form #form-input .form-item label {
		font-size: 84.6%;
	}
}

