#above .block .title, #header .block .titl/* style.css, v3.0 2009/12/18
 *
 * 0 POINT theme for Drupal 6
 * Dr. Florian Radut, florian@radut.net
 */

* {padding: 0;margin: 0;}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, Arial, Verdana, Helvetica;
	font-size: 83%;
	line-height: 125%;
	color: #535353;
}

/* MAIN LAYOUT */
.clear{ 
	clear:both; 
}
.sizer0 {
	margin: 0 auto;
}
.expander0 {
	position: relative; /* makes .expander0 visible outside .sizer in IEwin */
	min-height: 1px; /* This harmless declaration gives Layout to IE7, which can't read the star/html hack */
}
body.layout-jello .page0 {
	padding: 0 520px; /* the critical side padding that sets the natural min-width! */
}
body.layout-jello .sizer0 {
	width: 40%; /* this value controls liquidity; 0% = full rigid, 100% = full liquid */
	max-width: 160px; /* IE7 supports this property, doesn't need the fancy MS expression */
}
body.layout-jello .expander0 {
	margin: 0 -520px; /* neg side margin values should be < or = to side body padding and 1/2 of min-width below */
	min-width: 1040px; /* This prevents Safari from losing the negative margins in narrow windows */
} /* .expander0 must receive "hasLayout" for IEwin bug fixing; applied in ie6.css and ie7.css */

body.layout-fluid .sizer0, body.in-maintenance .sizer0 { /* custom */
	width: 90%;
}
body.layout-fixed .sizer0 { /* custom */
	width: 980px;
}
.float-wrap {
	float: left;
	width: 100%;
}
.colmain {
	float: right;
	width: 100%;
}
.colleft {
    float: left;
    margin-left: -250px;
    position: relative;
    width: 250px;
}
.colright {
	float: right;
	position: relative;
	width: 278px;		/*** cRcwv ***/
	margin-right: -278px;		/*** cRcwv ***/ /*** cRddv ***/
}
#sidebar-left, #sidebar-right {
	position: relative;
}
#sidebar-left {
	margin: 20px 0 20px 20px;
}
#sidebar-right {
	margin: 20px 20px 20px 0;
}

/* To modify the side column widths and the col divider widths, the values that are marked 
"Critical Left (Right) divider dimension value = cLddv (cRddv)" and 
"Critical Left (Right) col width value = cLcwv (cRcwv) also refer to the desired mod MUST be changed as a group. */

/* Variable asyimmetrical sidebars (wide) (default) */
body.layout-left-main-right .outer {
    margin-left: 250px;
	margin-right: 278px;			/*** cLcwv ***/
}
body.layout-left-main .outer {
	margin-left: 294px;			/*** cLcwv ***/
}
body.layout-main-right .outer {
	margin-right: 344px;			/*** cLcwv ***/
}
body.layout-left-main .colleft {
	width: 294px;			/*** cLcwv ***/
	margin-left: -294px;		/*** cLcwv ***/ /*** cLddv ***/
}
body.layout-main-right .colright {
	width: 344px;		/*** cRcwv ***/
	margin-right: -344px;		/*** cRcwv ***/ /*** cRddv ***/
}

/* Fixed asyimmetrical sidebars (wide) */
body.l-m-r-fix .outer, body.l-m-fix .outer, body.l-m-fix .outer {
	margin-left: 204px;
}
body.l-m-r-fix .outer, body.m-r-fix .outer, body.m-r-fix .outer {
	margin-right: 278px;
}
body.l-m-fix .colleft {
	width: 204px;
	margin-left: -204px;
}
body.m-r-fix .colright {
	width: 278px;
	margin-right: -278px;
}

/* Variable asyimmetrical sidebars (narrow) */
body.l-m-r-var1 .colleft, body.m-r-var1 .colleft, body.l-m-var1 .colleft, 
body.l-m-r-fix1 .colleft, body.m-r-fix1 .colleft, body.l-m-fix1 .colleft {
	width: 184px;
	margin-left: -184px;
}
body.l-m-r-var1 .colright, body.m-r-var1 .colright, body.l-m-var1 .colright, 
body.l-m-r-fix1 .colright, body.m-r-fix1 .colright, body.l-m-fix1 .colright {
	width: 258px;
	margin-right: -258px;
}
body.l-m-r-var1 .outer {
	margin-left: 184px;
	margin-right: 258px;
}
body.l-m-var1 .outer {
	margin-left: 274px;
}
body.m-r-var1 .outer {
	margin-right: 324px;
}
body.l-m-var1 .colleft {
	width: 274px;
	margin-left: -274px;
}
body.m-r-var1 .colright {
	width: 324px;
	margin-right: -324px;
}

/* Fixed asyimmetrical sidebars (narrow)	*/
body.l-m-r-fix1 .outer, body.l-m-fix1 .outer, body.l-m-fix1 .outer {
	margin-left: 184px;
}
body.l-m-r-fix1 .outer, body.m-r-fix1 .outer, body.m-r-fix1 .outer {
	margin-right: 258px;
}
body.l-m-fix1 .colleft {
	width: 184px;
	margin-left: -184px;
}
body.m-r-fix1 .colright {
	width: 258px;
	margin-right: -258px;
}

/* Equal width sidebars (custom) */
body.l-m-r-eq .colleft, body.m-r-eq .colleft, body.l-m-eq .colleft {
	width: 199px;
	margin-left: -199px;
}
body.l-m-r-eq .colright, body.m-r-eq .colright, body.l-m-eq .colright {
	width: 199px;
	margin-right: -199px;
}
body.l-m-r-eq .outer, body.l-m-eq .outer, body.l-m-eq .outer {
	margin-left: 199px;
}
body.l-m-r-eq .outer, body.m-r-eq .outer, body.m-r-eq .outer {
	margin-right: 199px;
}
body.l-m-eq .colleft {
	width: 199px;
	margin-left: -199px;
}
body.m-r-eq .colright {
	width: 199px;
	margin-right: -199px;
}

/* MARKUP FREE CLEARING (http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

/* UTILITY RULES */
.brclear {
	clear: both;
	height: 0;
	margin: 0;
	font-size: 1px;
	line-height: 0;
}

#topex {
	z-index: 1;
}
#top_right, #body_right {
	padding: 0 25px;
}

h1, h2 {
	padding-bottom: 5px;
	margin: 10px 0;
}
h3, h4, h5, h6 {
	margin: 15px 0 0 0;
}
h1 {
	font-size: 160%;
	line-height: normal;
}
h2 {
	font-size: 125%;
}
h3 { 
	font-size: 110%;
}
h4 {
	font-size: 100%;
}
p {
	margin-top: 0.5em;
	margin-bottom: 0.9em;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #e20177;
}
fieldset {
	border: 1px solid #ccc;
}
pre {
	background-color: #eee;
	padding: 0.75em 1.5em;
	font-size: 12px;
	border: 1px solid #ddd;
}
.links {
	margin: 0;
	clear: both;
}
.comment .links {
	margin-bottom: 0;
}
ul.primary {
	white-space: normal;
}
.node-type-aspcm-ward ul.primary {
  width: auto;
}
.node-type-aspcm-ward ul.primary li {
  float: none;
}
table {
	width: 100%;
	font-size: 1em;
}
tbody {
	border: none;
}
tr.odd td, tr.even td {
	padding: 0.3em;
}
table.sections {
	width: 100%;
	padding: 0;
}
td.section {
	padding: 0 20px;
	vertical-align: bottom;
}
#help {
	font-size: 0.9em;
	margin-bottom: 1em;
}
.error {
	border-color: red;
}
.title, .title a {
	font-weight: bold;
	margin: 0 auto;
}
.box {
	padding: 0 0 1.5em 0;
}
.block {
	padding-bottom: 0.75em;
	margin-bottom: .5em;
}
.themed-block {
	padding: 5px;
	margin-bottom: 15px;
}
.section .block, .section .box {
	padding: 0;
	margin-bottom: 15px;
}
.block .title {
	padding: 6px;
	margin: 0 0 .25em 0;
	text-transform: uppercase;
}
.block h2.title a {
	/*font-size: 100%;*/
	font-weight: bold;
}
.block .content {
	padding: px;
	margin: 0;
}
#main .front h2.title a, #main .not-front h2.title a {			/* front, node */
	font-size: 130%;
	line-height: normal;
	font-weight: normal;
}
#main .not-front h1.title {		/* node */
	font-size: 180%;
	padding: 10px 0;
	font-weight: normal;
}
.node {
	margin: .5em 0 2em 0;
}
.node.teaser {
	padding-bottom: 5px;
}
.node .content, .comment .content {
	margin: .5em 0;
}
.node .terms {
	font-size: 0.8em;
}
.node .terms a {
	font-weight: normal;
}
.terms ul.taxonomy ul.vocab-list, .terms ul.taxonomy li.vocab-term {
	display: inline;
	padding: 0;
	margin: 0;
}
.terms ul.taxonomy li.vocab {
	list-style: none;
	font-weight: bold;
}
.submitted {
	font-size: 0.8em;
}
.comment {
	padding: .5em;
	margin-bottom: 1em;
}
.comment .title {
	padding: 10px 0 12px 19px; /* LTR */
}
.comment .title a {
	font-weight: normal;
}
.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right; /* LTR */
	color: red;
}
.node .picture, .comment .picture {
	float: right; /* LTR */
	padding: 0 0 .5em .5em; /* LTR */
}
.signature p {
	font-size: 85%;
	margin: 7px 0;
}
blockquote {
	padding: 10px;
	margin: 1em 2em !important;
	font-style: italic;
}
blockquote p {
	margin: 0 !important;
	width: inherit !important;
}
blockquote a:link {
	text-decoration: underline;
}
.messages {
	padding: 0.3em;
	margin-bottom: 1em;
}
.form-item label {
	font-size: 1em;
}
div.admin, div.admin .left, div.admin .right {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.admin-panel h3 {
	padding: 5px 8px 5px;
	margin: 0;
}
#above {
	padding: 0 20px;
	min-height: 20px;
}
#above .block .title, #header .block .title, #footer .block .title, .byy {
	display: none;
}
#header, #content {
	width: 100%;
}
#header .block, #header .content {
	margin: 0;
	padding: 0;
}
#logo {
	float: left; /* LTR */
	margin-bottom: 15px;
}
#logo img {
	margin: 0 20px 5px 20px;
}
#name-and-slogan {
	padding: 30px 20px;
}
#site-name {
	margin: 0;
	padding: 0;
}
#site-name a, #site-name a:hover {
	font-weight: bold;
	text-decoration: none;
	font-size: 36px;
	line-height: normal;
}
#site-slogan {
	margin: 0;
	padding: 0 2px;
	font-size: 13px;
	line-height: 22px;
}
#top-elements {
	float: right; /* LTR */
	text-align: right; /* LTR */
	padding: 0 20px 0 0; /* LTR */
}
#user_links ul li {
	display: inline;
	margin: 0;
}
#user_links ul {
	margin: 0;
}
#search {
	margin: 0 0 5px 0;
}
#search .form-item label, .block-search .form-item label {
	display: none;
}
#search .form-text, #search .form-submit {
	height: 22px;
	vertical-align: middle;
}
#search .form-text {
	width: 110px;
	padding: 0 0.4em;
}
#mission {
	font-weight: normal;
	font-size: 85%;
}
#mission a, #mission a:visited {
	font-weight: normal;
	text-decoration: underline;
}
#toplinks, #user_links {
	font-size: 13px;
	line-height: 22px;
	margin:7px 0;
	float:right;
}
#banner {
	margin: 3px 0 3px 40px;
	float:right;
}
#mission {
	padding: 1em 1em 0.75em 2em;
	margin: 10px 0 20px;
}
#breadcrumb {
	padding-left: 20px; /* LTR */
	clear: both;
	font-size: 80%;
}
#breadcrumb .breadcrumb {
	padding: 0;
}
#breadcrumb, #breadcrumb a {
	font-weight: normal;
}
#section1 {
	padding-top: 10px;
}
#section1 .block {
	margin: 15px 0 0 0;
}
#middlecontainer {
	padding: 1px 0;
}
#wrapper {
	position: relative;
	width: 100%; /* helps IE get the child percentages right */
}
#main {
	padding: 10px 20px;
	overflow: visible;
}
#main .content a {
	text-decoration: underline;
}
#main .block {
	padding-top: 10px;
}
#node-middle {
	margin-right: 10px; /* LTR */
	float: left; /* LTR */
}
#node-middle .block, #node-middle .content {
	padding: 0;
	margin: 0 0 10px 0;
}
#content-top .content, #content-bottom .content, #node-bottom .content {
	padding: 0;
}
#footer, #belowme {
	padding: 5px 44px;
}
#footer {
	font-size: 75%;
}
#footer .left{ float:left;}
#footer .right{ float:right;}
#footer .footer-info{ clear:both; text-align:right;}
#footer a {
	font-weight: normal;
}
#footer ul.links li.first, ul.links li.first {
	border: none;
}
#footer .block ul, #footer ul.links li.first {
	margin-left: 0; /* LTR */
	padding-left: 0; /* LTR */
}
#footer .block {
	padding: 0;
	margin: 0;
}
.legal {
	margin: 5px auto 0 auto;
	padding: 0 90px;
}
.by {
	float: right; /* LTR */
	clear: both;
	font-size: 75%;
}
.by, .by a, .by a:hover {
	text-decoration: none;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
	font-style: italic;
	font-size: 0.9em;
}
#aggregator .feed-source {
	padding: 1em;
	margin: 1em 0;
}
#aggregator .title {
	margin-bottom: 0.5em;
}
#aggregator h3 {
	margin-top: 1em;
}
#forum table {
	width: 100%;
}
#forum td {
	padding: 0.5em;
}
#forum td .links {
	padding-top: 0.7em;
	font-size: 0.9em;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
}
#forum td.container .name a {
	padding: 10px 0 10px 40px;
}
#forum td .name a {
	font-weight: bold;
}
.block-forum h3 {
	margin-bottom: .5em;
}
#profile .profile {
	clear: both;
	padding: .5em;
	margin: 1em 0em;
}
#profile .profile .name {
	padding-bottom: 0.5em;
}
#attachments a {
	text-decoration: none !important;
}
#attachments a:hover {
	text-decoration: underline !important;
}
#user-login-form, div.toboggan-login-link-container, div.user-login-block, .block-logintoboggan, 
#block-user-0 .content, #block-user-login .content {
	text-align: center;
}
#user-login-form .item-list {
	text-align: left;
	padding: 15px 0 0 0;
}
#user-login-form ul li.openid-link ,
#user-login-form ul li.user-link {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
}
body.in-maintenance #main {
	padding: 55px 115px 120px;
}

/* MENU & link STYLES */

#navlinks, #navlist {
	padding: 0 20px;
}
#subnavlist {
	padding: 1px 20px;
}
.navleft {
	float: left;
}
.navcenter, #navlist2 {
	text-align: center;
}
.navright {
	float: right;
}
#navlinks.navleft ul li {
	margin-right: 4px;
}
#navlinks.navright ul li {
	margin-left: 4px;
}
#navlinks ul, #navlinks ul li {
	padding: 0;
	margin: 0;
}
#navlinks ul li {
	display: inline;
	float: left; /* LTR */
	position: relative;
}
#navlinks ul li a {
	display: block;
}
#navlist a {
	display: inline-block;
	margin: 0;
}
#navlinks ul li a, #navlist a {
	padding: 2px 22px;
	font-size: 12px;
	font-weight: normal;
	line-height: 22px;
/*border: 1px solid #777;
	border-bottom: none;*/
}
#navlinks ul li a:hover, #navlist li a:hover {
	text-decoration: none;
}
#navlist li {
	border: none !important;
	padding: 0;
}
#subnavlist li {
	border: none !important;
	padding: 2px 0;
}
#subnavlist a {
	display: inline-block;
	padding: 0 5px;
	font-weight: normal;
	font-size: 12px;
	line-height: 19px;
}
#subnavlist li a:hover {
	text-decoration: none;
}
#navlist2 {
	margin-top: 15px;
}
#navlist2 a {
	font-weight: normal;
}
#navlist2 a:hover, #navlist2 a.active, 
#footer a:hover, #footer a.active {
	text-decoration: none;
}

/* DROP DOWN LI */

/* li containing sublevels */
#navlinks ul li {
	position: relative;
	z-index: 1;
}

/* set li width & color */
#navlinks ul li.expanded ul li {
	z-index: 99;
	/*width: 180px;*/
	margin: 0;
	padding: 0;
	font-size: 100%;
}

/* DROP DOWN UL */

/* Hide first sublevel */
#navlinks ul li.expanded ul {
	display: none;
}

/* Sublevels */
ul.firstsublayer, 
ul.sublayer {
	z-index: 99;
	width: auto;
	/*width: 180px;*/
	position: absolute;
	margin: 0;
	padding: 0 7px 5px 0 !important; /* shadow position */  /* LTR */
}
ul.firstsublayer {
	left: 0; /* LTR */
	top: 26px;
}
ul.sublayer {
	left: 181px; /* LTR */
	top: -1px;
}
/*
#navlinks ul.firstsublayer li, #navlinks ul.sublayer li {
	padding-top: 1px !important;
}*/

/* DROP DOWN Anchors */

/* first level */
#navlinks ul li.expanded a.expandfirst {
	padding-left: 22px; /* LTR */
}

/* sublevels */

#navlinks ul li.expanded a.expand,
#navlinks ul li.expanded ul li a.expand {
	padding-right: 24px; /* LTR */
	padding-left: 10px; /* LTR */
}

#navlinks ul.firstsublayer li a {
	padding-left: 10px; /* LTR */
}

/* "Skip to Main Content" link - is useful for both visually impaired people and those with mobility impairments who cannot use a mouse */
#skip-nav {
	display: none;
}
#skip-nav a, #skip-nav a:hover, #skip-nav a:visited {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip-nav a:active, #skip-nav a:focus {
	position: static;
	width: auto;
	height: auto;
}

/* BLOCK ICONS */

.bicons32 div.block-icon {
	position: absolute;
	width: 32px;
	height: 32px;
	margin: -5px 0 0 -5px; /* LTR */
}
.bicons48 div.block-icon {
	position: absolute;
	width: 48px;
	height: 48px;
	margin: -15px 0 0 -18px; /* LTR */
}
.bicons32 .themed-block .title,
.bicons48 .themed-block .title {
	text-align: right; /* LTR */
	padding: 6px 6px 6px 28px; /* LTR */
}

/*--- blog ---*/
.bicons32 .block-blog .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_32.png) no-repeat;
}
.bicons32 #block-blog-0 .block-icon {
	background: transparent url(../images/icons/blocks/icon_02_32.png) no-repeat;
}
.bicons48 .block-blog .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_48.png) no-repeat;
}
.bicons48 #block-blog-0 .block-icon {
	background: transparent url(../images/icons/blocks/icon_02_48.png) no-repeat;
}

/*--- image ---*/
.bicons32 .block-image .block-icon, .bicons32 .block-image_attach .block-icon, .block-gallery_assist .block-icon {
	background: transparent url(../images/icons/blocks/icon_05_32.png) no-repeat;
}
.bicons48 .block-image .block-icon, .bicons48 .block-image_attach .block-icon, .block-gallery_assist .block-icon {
	background: transparent url(../images/icons/blocks/icon_05_48.png) no-repeat;
}

/*--- comments & forums ---*/
.bicons32 .block-comment .block-icon, .bicons32 .comments-block-icon .block-icon,
.bicons32 #block-views-comments_recent-block .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_32.png) no-repeat;
}
.bicons32 .block-forum .block-icon,
.bicons32 #block-views-comments_recent-block h2.block-title {
	background: transparent url(../images/icons/blocks/icon_06_32.png) no-repeat;
}
.bicons48 .block-comment .block-icon, .bicons48 .comments-block-icon .block-icon,
.bicons48 #block-views-comments_recent-block .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_48.png) no-repeat;
}
.bicons48 .block-forum .block-icon,
.bicons48 #block-views-comments_recent-block h2.block-title {
	background: transparent url(../images/icons/blocks/icon_06_48.png) no-repeat;
}

/*--- book ---*/
.bicons32 .block-book .block-icon {
	background: transparent url(../images/icons/blocks/icon_22_32.png) no-repeat;
}
.bicons48 .block-book .block-icon {
	background: transparent url(../images/icons/blocks/icon_22_48.png) no-repeat;
}

/*--- views default ---*/
.bicons32 .block-views .block-icon {
	background: transparent url(../images/icons/blocks/icon_07_32.png) no-repeat;
}
.bicons48 .block-views .block-icon {
	background: transparent url(../images/icons/blocks/icon_07_48.png) no-repeat;
}

/*--- user login ---*/
.bicons32 #block-user-0 .block-icon {
	background: transparent url(../images/icons/blocks/icon_14_32.png) no-repeat;
}
.bicons48 #block-user-0 .block-icon {
	background: transparent url(../images/icons/blocks/icon_14_48.png) no-repeat;
}
div.toboggan-login-link-container {
	padding-left: 20px; /* LTR */
}

/*--- user ---*/
.bicons32 .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_08_32.png) no-repeat;
}
.bicons32 .admin .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_32.png) no-repeat;
}
.bicons48 .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_08_48.png) no-repeat;
}
.bicons48 .admin .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_48.png) no-repeat;
}

/*--- user new/online ---*/
.bicons32 #block-user-2 .block-icon, .bicons32 #block-user-3 .block-icon {
	background: transparent url(../images/icons/blocks/icon_19_32.png) no-repeat;
}
.bicons48 #block-user-2 .block-icon, .bicons48 #block-user-3 .block-icon {
	background: transparent url(../images/icons/blocks/icon_19_48.png) no-repeat;
}

/*--- simplenews / Google groups /aggregator ---*/
.bicons32 .block-simplenews .block-icon, .bicons32 .block-google_groups .block-icon, .bicons32 .block-aggregator .block-icon {
	background: transparent url(../images/icons/blocks/icon_10_32.png) no-repeat;
}
.bicons48 .block-simplenews .block-icon, .bicons48 .block-google_groups .block-icon, .bicons48 .block-aggregator .block-icon {
	background: transparent url(../images/icons/blocks/icon_10_48.png) no-repeat;
}

/*--- devel ---*/
.bicons32 #block-menu-devel .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_32.png) no-repeat;
}
.bicons48 #block-menu-devel .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_48.png) no-repeat;
}

/*--- menu / catalog ---*/
.bicons32 .block-menu .block-icon, .bicons32 .block-uc_catalog .block-icon {
	background: transparent url(../images/icons/blocks/icon_13_32.png) no-repeat;
}
.bicons48 .block-menu .block-icon, .bicons48 .block-uc_catalog .block-icon {
	background: transparent url(../images/icons/blocks/icon_13_48.png) no-repeat;
}

/*--- search ---*/
.bicons32 .block-search .block-icon, .bicons32 .block-google_cse .block-icon {
	background: transparent url(../images/icons/blocks/icon_15_32.png) no-repeat;
}
.bicons48 .block-search .block-icon, .bicons48 .block-google_cse .block-icon {
	background: transparent url(../images/icons/blocks/icon_15_48.png) no-repeat;
}

/*--- poll ---*/
.bicons32 .block-poll .block-icon, .bicons32 .block-i18npoll .block-icon {
	background: transparent url(../images/icons/blocks/icon_16_32.png) no-repeat;
}
.bicons48 .block-poll .block-icon, .bicons48 .block-i18npoll .block-icon {
	background: transparent url(../images/icons/blocks/icon_16_48.png) no-repeat;
}

/*--- most printed/emailed ---*/
.bicons32 .block-print .block-icon, .bicons32 .block-print_mail .block-icon {
	background: transparent url(../images/icons/blocks/icon_17_32.png) no-repeat;
}
.bicons48 .block-print .block-icon, .bicons48 .block-print_mail .block-icon {
	background: transparent url(../images/icons/blocks/icon_17_48.png) no-repeat;
}

/*--- popular content ---*/
.bicons32 .block-statistics .block-icon {
	background: transparent url(../images/icons/blocks/icon_18_32.png) no-repeat;
}
.bicons48 .block-statistics .block-icon {
	background: transparent url(../images/icons/blocks/icon_18_48.png) no-repeat;
}

/*--- locale ---*/
.bicons32 .block-locale .block-icon {
	background: transparent url(../images/icons/blocks/icon_20_32.png) no-repeat;
}
.bicons48 .block-locale .block-icon {
	background: transparent url(../images/icons/blocks/icon_20_48.png) no-repeat;
}

/*--- weather ---*/
.bicons32 .block-weather .block-icon {
	background: transparent url(../images/icons/blocks/icon_21_32.png) no-repeat;
}
.bicons48 .block-weather .block-icon {
	background: transparent url(../images/icons/blocks/icon_21_48.png) no-repeat;
}

/*--- shopping cart ---*/
.bicons32 .block-uc_cart .block-icon {
	background: transparent url(../images/icons/blocks/icon_33_32.png) no-repeat;
}
.bicons48 .block-uc_cart .block-icon {
	background: transparent url(../images/icons/blocks/icon_33_48.png) no-repeat;
}

/* PAGE ICONS */

.picons .upload_attachments a {
	background: url(../images/icons/attach.png) no-repeat; /* LTR */
	padding-left: 20px; /* LTR */
}
.picons .comment_comments a {
	background: url(../images/icons/comments.png) no-repeat; /* LTR */
	padding-left: 20px; /* LTR */
}
.picons li.comment_delete a {
	background: url(../images/icons/trash.png) no-repeat 0 2px; /* LTR */
	padding-left: 15px; /* LTR */
}
.picons li.comment_edit a {
	background: url(../images/icons/edit.png) no-repeat 0 2px; /* LTR */
	padding-left: 15px; /* LTR */
}
.picons li.comment_reply a {
	background: url(../images/icons/reply.png) no-repeat 0 2px; /* LTR */
	padding-left: 15px; /* LTR */
}
.picons .book_add_child a {
	background: url(../images/icons/page-add.png) no-repeat left center; /* LTR */
	padding-left: 20px; /* LTR */
}
.picons .comment_add a {
	background: url(../images/icons/comment.png) no-repeat left center; /* LTR */
	padding-left: 20px; /* LTR */
}
.picons .print-icon {
	display: none;
}
.picons .print_html a, .picons .book_printer a {
	/*background: url(../images/icons/print.png) no-repeat left center; *//* LTR */
	padding-left: 20px; /* LTR */
	height: 16px;
	display: inline-block;
}
.picons .print_mail a, .picons .book_mail a {
	/*background: url(../images/icons/mail.png) no-repeat left center;*/ /* LTR */
	padding-left: 20px; /* LTR */
	height: 16px;
	display: inline-block;
}
.picons .print_pdf a, .picons .book_pdf a {
	/*background: url(../images/icons/pdf.png) no-repeat left center;*/ /* LTR */
	padding-left: 20px; /* LTR */
	height: 16px;
	display: inline-block;
}
.picons .print_html, .picons .book_printer,
.picons .print_mail, .picons .book_mail,
.picons .print_pdf, .picons .book_pdf {
	margin: auto 0;
	padding-right: 0; /* LTR */
}
.picons .terms li.first, .picons .terms ul.taxonomy {
	background: url(../images/icons/tag.png) no-repeat left top; /* LTR */
	padding-left: 20px; /* LTR */
	margin: 10px 0;
}
.terms li.first, .terms ul.taxonomy {
	padding-left: 3px; /* LTR */
}
.picons #sidebar-left a.active, .picons #sidebar-right a.active {
	background: url(../images/icons/check.png) no-repeat right center; /* LTR */
	padding-right: 20px; /* LTR */
}
#sidebar-left .block-image a.active , #sidebar-right .block-image a.active	{
	background: none;
	padding: 0;
}
.picons .node_read_more a {
	background: url(../images/icons/read_more.png) no-repeat left center; /* LTR */
	padding-left: 15px; /* LTR */
}
.picons .more-link a {
	background: url(../images/icons/more.png) no-repeat left center; /* LTR */
	padding-left: 15px; /* LTR */
	font-size: 9px;
}
.picons .blog_usernames_blog a {
	background: url(../images/icons/user_green.png) no-repeat left center; /* LTR */
	padding-left: 20px; /* LTR */
}

/* MODULE SPECIFIC STYLES */

.book-navigation {
	padding-top: 20px;
	clear: both;
}
.book-navigation a {
	text-decoration: none !important;
}
.book-navigation a:hover {
	text-decoration: underline !important;
}
.book-navigation .menu {
	border-top: none;
}
.book-navigation .page-up {
	width: 5%;
}
.panel-col-top .node .content {
	background-image: none;
}
.block-image .content {
	text-align: center;
	padding: 0 !important;
	background: none !important;
}
ul.images li h3 {
	display: none;
}
ul.galleries li, ul.images li {
	background : none;
	border : none;
	list-style-type: none;
}
body.mceContentBody {
	background: #eee !important;
	font-size: 14px;
}
body.mceContentBody a:link {
	font-weight: normal;
}
.view .view-comments-recent .views-field-subject {
	font-weight: bold;
}
.view .views-admin-links li {
	background: transparent !important;
}
.block-gmaplocation .content {
	text-align: center;
}
.block-gmaplocation a.active {
	background-image: none !important;
	padding: 0 !important;
}
li.topic_reply {
	list-style-type: none;
}
.cart-block-icon-full, .cart-block-icon-empty, .cart-block-title-bar .arrow-up, .cart-block-title-bar .arrow-down {
	display: inline-block !important;
}
#continue-shopping-button {
	margin-right: 50% !important; /* LTR */
}
.uc-store-admin-panel	{
	margin: 0;
	padding: 3px;
}
.uc-store-admin-panel .uc-store-icon	{
	margin: 0;
} 
.uc-store-admin-panel .panel-title	{
	font-size: 1em;
	font-weight: bold;
	line-height: 200%;
} 
.product-image {
	padding: 7px 0 2px 5px;
}
.main-product-image {
	padding-bottom: 2px;
}
.sitemap-box h2 {
	display: none;
}
.views-exposed-widget .form-submit {
	margin-top: 15px !important;
}
.pane-content h2.title a {
	font-size: 140%;
}

