.schedule-list-disabled {
  filter:alpha(opacity=50);
  -moz-opacity: .50;
  opacity: .50;
}

.fwk-backup-cache-time {
  font-size: 0.85em;
}

.fwk-backup-tables-checkboxes .form-item label {
  width: 15em;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  height: 1.75em;
  margin: .25em .25em 0 0;
}
.fwk-backup-tables-checkboxes .form-item label.checked {
  background-color: #eee;
}
.fwk-backup-tables-checkboxes .form-item label input {
  margin-right: .25em;
}

div.fwk-backup-tables-checkboxes {
  max-height: 40em;
  overflow: auto;
}
div.fwk-backup-description {
  font-size: smaller;
}


div.row-error {
  color: #FF0000;
  font-weight: bold;
}

