/*
*add products*
*/
.node-type-aspcm_hospital .sticky-header {
	display: none;
}
#add-products-wrapper {
	margin-left: 290px;
}
#add-products-button {
	margin: -6px 0 6px 0px;
}
.selected-products-table {
	width: 65% !important;
	margin: 0 0 10px 290px;
}
table .align-center {
	text-align: center;
}

/*
*product search popup*
*/
.gcomp-search-autoc {
    background: url("images/search-autoc2.gif") no-repeat scroll;
    cursor: pointer;
    display: inline;
    float: left;
    height: 19px;
    margin: 1px 0 0 5px;
    width: 20px;
}
#product-finder-widget {
	display: none;
	overflow: hidden;        /*ie7,6 fix*/
}
#edit-srch-pname-wrapper,
#edit-srch-cname-wrapper{
	float: left;
	margin: 10px 10px 10px 0;
	* margin-bottom: 0;
}
#edit-srch-pname-wrapper{
	clear: left;
	margin: 0 10px 8px 0;
	_margin-right: 5px;
	* float: none;
	* display: inline;
}
#edit-srch-cname-wrapper label,
#edit-srch-pname-wrapper label {
	color: #535353;
	font-size: 12px;
	display: inline-block;
	width: 150px;
	vertical-align: bottom;
}
#product-finder-widget .form-text,
#product-finder-widget .form-select {
    border: 1px solid #999;
    color: #000;
    padding: 4px;
    font-size: 12px;
    padding: 2px;
}
#product-finder-widget #edit-srch-cname {
	width: 265px;
	* width: 268px;
	_width: 265px;
	padding: 1px;
	margin: 0;
}
#product-finder-widget #edit-srch-pname {
	width: 260px;
}
#product-finder-widget #edit-srch-submit,
#product-finder-widget #edit-product-submit,
.product-search-loader,
.product-search-loader2 {
	margin-top: 7px;
	float: left;
}
#product-finder-widget #edit-product-submit{
	margin-top: -2px;
	* float: none;
	* margin-top: 0px;
	* position: relative;
	* top: 5px;
}
.product-search-loader {
	margin-top: 14px;
	* margin-top: 17x;
}
.product-search-loader2{
	margin-top: 5px;
	* float: none;
}
#product-finder-widget #search-result-content {
	margin: 5px 0 10px;
	height: 320px;
	padding: 2px;
	overflow: auto;
	width: 100%;
}
#product-finder-widget #no-search-result {
	border: 1px solid #ccc;
    padding: 4px;
	color: #535353;
	clear: both;
	* margin-top: 10px;
}
#product-finder-widget .product-finder-table {
	width: 96% !important;
	font-size: 12px;
}
.product-finder-table thead th{
	font-weight: bold;
}
.custom-perpush-text {
	width: 60px !important;
	margin-right: 3px;
	ime-mode: disabled;
}
.ui-dialog #product-finder-widget{                      /*ie6 fix*/
	height: 505px !important;
}
.ui-widget-overlay {
	width: 100% !important;
}
#product-finder-widget #autocomplete {
	position: absolute;
	left: 167px !important;
	top: 52px !important;
	* left: 164px !important;
	* top: 50px !important;
}
#product-finder-widget #autocomplete ul li {
	padding-left: 6px;
}
#product-finder-widget .custom-perpush-info { 
	margin-top: 5px;
	clear: both;
	color: #535353;
}
#product-finder-widget .product-search-info {
	color: #535353;
	position: absolute;
	bottom: 0px;
	left: 15px;
        top: 442px;
        height: 60px !important;
	*right: 15px;
	_right: 0;
}
.custom-perpush-color{
	color: #000;
    font-size: 13px;
    font-weight: bold;
}
.ui-dialog .ui-dialog-title {
	_line-height: 125%;
}
.product-finder-table tr.even td,
.product-finder-table tr.odd td {
	* border-bottom: solid 1px #ccc;
	color: #535353;
}

/*
* products view page*
*/
.product-finder-table th,
.selected-products-table th,
#selected-products-view th {
	white-space: nowrap;
}

/*
*others*
*/
#form-input .form-comment-1 {
    float: left;
    font-size: 11px;
    margin-top: 14px;
    width: 400px;
}